.menu-black-left {
    max-width: 300px !important;
}

.menu-left a.link_parent,
.menu-left a.link_parent span {
    font-size: 20px;
}

.menu-left li ul {
    padding: 0px 0px;
    margin: 0px 15px;
}

.menu-black ul li {
    margin-bottom: 30px;
}

.menu-black ul.sub-menu li,
.menu-black ul.menu-first-level li {
    margin-bottom: 10px;
}

.menu-left a.link_parent {
    margin-bottom: 10px;
}

.menu-black .info {
    margin-bottom: 0;
}

.bg-logo {
    background: #000;
}

.bg-content {
    background: #f5f5f5;
}

.bg-white {
    background: #fff;
}

#search_form_name:focus {
    border: 0;
    outline: 0;
    box-shadow: none;
}

form[name="search_form"] .form-group {
    margin-bottom: 0;
}

.lien-top .form-control {
    padding: 15px;
}

.lien-top {
    margin: 0;
}

.form-check-inline .form-group {
    margin-right: 5px;
}

.form-check-inline select,
.form-check-inline input[type="text"] {
    border: 0;
    border-radius: 0;
}

.form-check-inline select:focus,
.form-check-inline input[type="text"]:focus {
    box-shadow: none;
}

.lien-top li {
    padding: 5px 20px 0 20px;
}

.bank-content {
    max-height: 100vh;
    overflow-y: scroll;
}

.scroll-bar::-webkit-scrollbar {
    width: 7px;
}

/* Track */
.scroll-bar::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
.scroll-bar::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
.scroll-bar::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.lien-top li .dropdown-toggle::after {
    float: left;
}

.part-right .contenu {
    background: transparent;
}

.nocsssatistique {
    background: transparent !important;
    padding-right: 15px !important;
    padding-left: 15px !important;
}

.aide {
    background-color: #FFF;
    height: 3em;
    color: #111;
    border-radius: 45px;
    padding: 11px;
    text-align: center;
    width: 11em;
    margin-left: 35px;
    cursor: pointer;
}

p.question:before {
    content: "?";
    margin-right: 11px;
    padding: 5px 5px;
    border: 1px solid #111;
    border-radius: 50%;
    width: 31px;
    float: left;
    position: absolute;
    left: 12px;
    top: -5px;
}

.question {
    margin: 0;
    position: relative;
    padding-left: 44px;
}

.crisp-client .crisp-6k5puw .crisp-4n0wrv .crisp-1lypk6 {
    left: 40px !important;
}

.menu-left li.active a,
.menu-left a.active {
    color: #73a0ca;
}

.agence_compangie_detail {
    background: #2d2d30;
    padding: 30px;
}

.agence_compangie_detail h3,
.agence_compangie_detail span,
.agence_compangie_detail a {
    color: #fff;
}

.a0ca {
    color: #73a0ca;
}

.btn-detail {
    width: 390px;
    font-size: 20px;
}

.btn-detail {
    background-color: #73A0CA !important;
    border-radius: 25px;
    border: 1px solid #73A0CA !important;
    margin-top: 40px;
}

.agence_compangie_detail.arrow-right:before {
    right: 35%;
}

.agence_compangie_detail:before {
    font-size: 49px;
    top: -44px;
}

.agence_compangie_detail:before {
    /*content: "\f0d8";
    font-family: FontAwesome;
    color: #38383A !important;
    position: absolute;
    right: 50%;
    top: -15px;*/
}

.agence_compangie_detail .aa {
    overflow-wrap: break-word;
}

.menu-black ul.sub-menu li, .menu-black ul.menu-first-level li {
    margin-bottom: 10px;
    font-family: 'RobotoCondensed-Light';
    font-size: 16px;
    font-weight: 700;
}

.btn-send-msg {
    color: #fff;
    background: #73a0ca;
    width: 100%;
    text-align: right;
    padding: 10px 20px;
    border: 1px solid #73a0ca !important;
    text-decoration: none;
    border-radius: 0;
}

.crisp-client .crisp-6k5puw[data-full-view=true] .crisp-4n0wrv .crisp-113f7m5 {
    display: none !important;
}

.btn-send-msg:hover {
    color: #73a0ca !important;
    text-decoration: none;
}

#crisp-chatbox a {
    display: none !important;
}

.row.global {
    min-height: 100vh;
}

.part-right {
    background: #f1f1f1;
}

.tree:before, .tree ul:before {
    bottom: 17px !important;
}

.agenec-msg .card-header:first-child {
    background: transparent;
    border-radius: 0;
}

.msg-body-agence {
    margin: 20px 0px 5px 55px;
}

.container-fluid.show-detail {
    background: #373739;
    background: -moz-linear-gradient(top, #373739 0%, #232326 100%);
    background: -webkit-linear-gradient(top, #373739 0%, #232326 100%);
    background: linear-gradient(to bottom, #373739 0%, #232326 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#373739', endColorstr='#232326', GradientType=0);
    padding-bottom: 40px;
    padding-top: 20px;
    width: initial;
    margin-left: -15px !important;
    margin-right: -15px !important;
}

.note-editable.card-block {
    height: 200px;
}

.add-vweb-kc {
    width: 230px !important;
    margin-left: 0;
}