<div>
    {{ form_start(search_form, { 'attr': {'class': 'navbar-form navbar-left'}, 'action': path('search'), 'method':'POST' }) }}
    <div class="form-group">
        {{ form_widget(search_form.name, { 'attr': {'class': 'form-control'}}) }}
    </div>
    {{ form_rest(search_form) }}
    {{ form_end(search_form) }}
</div>