{% extends "base_back.html.twig" %}
{% block body %}
    <div class="col col-12 bg-white">
        <h1 class="pb-4">Résultat de la recherche</h1>
        <hr>
    </div>
    {% set campaigns = [] %}
    {% for campaign in operations %}
        {% set campaigns = campaigns|merge([campaign.campaign_data.id]) %}
        <div class="col col-12 bg-white float-left p-3">
            <div class="col-10 float-left">
                <img src="{{ asset('uploads/visuels/'~campaign.campaign_data.path) }}" height="40px" width="40px"
                     class="rounded-circle float-left">
                <h2 class="p-0 float-left font-size-18 m-2">{{ campaign.campaign_data.name }}</h2>
            </div>
            <div class="col-2 float-left group-link">
                <a href="{{ path('edit_campaign', {'id':campaign.campaign_data.id}) }}" data-toggle="tooltip"
                   data-placement="bottom" title="Editer">
                    <i class="fa fa-pencil"></i>
                </a>
                {% if campaign.campaign_data.active %}
                    <a href="{{ path('susupend_campaign', {'id':campaign.campaign_data.id}) }}">
                        <i class="fa fa-pause" data-toggle="tooltip" data-placement="bottom"
                           title="Suspendre"></i>
                    </a>
                {% else %}
                    <a href="{{ path('active_campaign', {'id':campaign.campaign_data.id}) }}" data-toggle="tooltip"
                       data-placement="bottom" title="Activer">
                        <i class="fa fa-play"></i>
                    </a>
                {% endif %}
                <a href="{{ path('archive_campaign', {'id':campaign.campaign_data.id}) }}" data-toggle="tooltip"
                   data-placement="bottom" title="Supprimer">
                    <i class="fa fa-times"></i>
                </a>
            </div>
        </div>
        {% for operation in campaign.operation_data %}
            <div class="col col-12 bg-white float-left p-3">
                <div class="ml-5 col-9 float-left">
                    {{ operation.name }}
                </div>
                <div class="col-2 float-left group-link">
                    {% if operation.endDate|date('Y-m-d') > "now"|date('Y-m-d') %}
                        <a href="{{ path('reactive_campaign',{'id':campaign.campaign_data.id}) }}" data-toggle="tooltip"
                           data-placement="bottom" title="Re-activer">
                            <i class="fa fa-repeat"></i>
                        </a>
                    {% elseif  operation.startDate|date('Y-m-d') < "now"|date('Y-m-d') %}
                        <a href="{{ path('edit_campaign', {'id':campaign.campaign_data.id}) }}" data-toggle="tooltip"
                           data-placement="bottom" title="Editer">
                            <i class="fa fa-pencil"></i>
                        </a>
                        {% if campaign.campaign_data.active %}
                            <a href="{{ path('susupend_campaign', {'id':campaign.campaign_data.id}) }}">
                                <i class="fa fa-pause" data-toggle="tooltip" data-placement="bottom"
                                   title="Suspendre"></i>
                            </a>
                        {% else %}
                            <a href="{{ path('active_campaign', {'id':campaign.campaign_data.id}) }}" data-toggle="tooltip"
                               data-placement="bottom" title="Activer">
                                <i class="fa fa-play"></i>
                            </a>
                        {% endif %}
                        <a href="{{ path('archive_campaign', {'id':campaign.campaign_data.id}) }}" data-toggle="tooltip"
                           data-placement="bottom" title="Supprimer">
                            <i class="fa fa-times"></i>
                        </a>
                    {% else %}
                        <a href="{{ path('edit_campaign', {'id':campaign.campaign_data.id}) }}" data-toggle="tooltip"
                           data-placement="bottom" title="Editer">
                            <i class="fa fa-pencil"></i>
                        </a>
                        {% if campaign.campaign_data.active %}
                            <a href="{{ path('susupend_campaign', {'id':campaign.campaign_data.id}) }}">
                                <i class="fa fa-pause" data-toggle="tooltip" data-placement="bottom"
                                   title="Suspendre"></i>
                            </a>
                        {% else %}
                            <a href="{{ path('active_campaign', {'id':campaign.campaign_data.id}) }}" data-toggle="tooltip"
                               data-placement="bottom" title="Activer">
                                <i class="fa fa-play"></i>
                            </a>
                        {% endif %}
                        <a href="{{ path('archive_campaign', {'id':campaign.campaign_data.id}) }}" data-toggle="tooltip"
                           data-placement="bottom" title="Supprimer">
                            <i class="fa fa-times"></i>
                        </a>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
        <hr/>
    {% endfor %}
    {% for c in camp %}
        {% if c.operation|length == 0 %}
            <div class="col col-12 bg-white float-left p-3">
                <div class="col-10 float-left">
                    <img src="{{ asset('uploads/visuels/'~c.path) }}" height="40px" width="40px"
                         class="rounded-circle float-left">
                    <h2 class="p-0 float-left font-size-18 m-2">{{ c.name }}</h2>
                </div>
                {% if c.endDate|date('Y-m-d') < "now"|date('Y-m-d') %}
                    <div class="col-2 float-left group-link">
                        <a href="{{ path('reactive_campaign',{'id':c.id}) }}" data-toggle="tooltip"
                           data-placement="bottom" title="Re-activer">
                            <i class="fa fa-repeat"></i>
                        </a>
                    </div>
                {% else %}
                    <a href="{{ path('edit_campaign', {'id':c.id}) }}" data-toggle="tooltip"
                       data-placement="bottom" title="Editer">
                        <i class="fa fa-pencil"></i>
                    </a>
                    {% if c.active %}
                        <a href="{{ path('susupend_campaign', {'id':c.id}) }}">
                            <i class="fa fa-pause" data-toggle="tooltip" data-placement="bottom"
                               title="Suspendre"></i>
                        </a>
                    {% else %}
                        <a href="{{ path('active_campaign', {'id':c.id}) }}" data-toggle="tooltip"
                           data-placement="bottom" title="Activer">
                            <i class="fa fa-play"></i>
                        </a>
                    {% endif %}
                    <a href="{{ path('archive_campaign', {'id':c.id}) }}" data-toggle="tooltip"
                       data-placement="bottom" title="Supprimer">
                        <i class="fa fa-times"></i>
                    </a>
                {% endif %}
             
            </div>
        {% endif %}
    {% endfor %}

{% endblock %}