<h1>OPÉRATION ACTIVE</h1>
<h4><a class="titre-add" href="{{ path('operation_new') }}">CREER UNE OPÉRATION</a></h4>
<hr>
{% for bank in banks %}
    <div class="col-md-12 col-12 bg-white pb-4 border-bottom float-left">
        <div class="col font-weight-bold pt-3 pb-3 p-0">
            <img src="{{ asset('uploads/icones/'~bank.bank_data.icon) }}" height="40" width="40"
                 class="rounded-circle">
            {{ bank.bank_data.name }} ({{ bank.operation_data|length }})
        </div>
        {% for operation in bank.operation_data %}
            <div class="col-12 bg-white float-left mb-2">
                <div class="col-lg-3 float-left">
                    <a href="{{ path('operation_detail', {'id':operation.id}) }}" data-remote="false"
                       data-toggle="modal" data-target="#modal" class="text-dark">
                        {{ operation.name }}
                    </a>
                </div>
                <div class="col-lg-3 float-left">
                   {{ operation.caisse.name }}
                </div>
                <div class="col-lg-3 float-left">
                    {% if operation.caisse.agence %}{{ operation.caisse.agence.name }}{% endif %}
                </div>
                <div class="col-lg-3 float-left group-link">
                    <a href="{{ path('operation_edit', {'id':operation.id}) }}" data-toggle="tooltip"
                       data-placement="bottom" title="Editer"><i class="fa fa-pencil"></i></a>
                    {% if operation.active %}
                        <a href="{{ path('operation_suspend', {'id':operation.id}) }}" data-toggle="tooltip"
                           data-placement="bottom" title="Suspendre"><i
                                    class="fa fa-pause"></i></a>
                    {% else %}
                        <a href="{{ path('operation_activate', {'id':operation.id}) }}" data-toggle="tooltip"
                           data-placement="bottom" title="Re-activer"><i
                                    class="fa fa-play"></i></a>
                    {% endif %}
                    <a href="{{ path('operation_archive', {'id':operation.id}) }}" data-toggle="tooltip"
                       data-placement="bottom" title="Supprimer"><i
                                class="fa fa-times"></i></a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endfor %}
<div class="modal" tabindex="-1" role="dialog" id="modal"></div>
<script>
    $(function () {
        $("#modal").on("show.bs.modal", function (e) {
            var link = $(e.relatedTarget);
            $(this).load(link.attr("href"));
        });

        $(document).on("hidden.bs.modal", function (e) {
            $(e.target).empty();
        });
    });
</script>