
    <h1>OPÉRATION TERMINEES</h1>
    <h4><a class="titre-add" href="{{ path('operation_new') }}">CREER UNE OPÉRATION</a></h4>
    <hr>
    {% for bank in banks %}
        <div class="col-12 col-md-12 bg-white border-bottom float-left">
            <div class="col pb-3 pt-3 font-weight-bold">
                <img src="{{ asset('uploads/icones/'~bank.bank_data.icon) }}" height="40" width="40"
                     class="rounded-circle"
                     class="img-circle">
                {{ bank.bank_data.name }} ({{ bank.operation_data|length }})
            </div>
            {% for operation in bank.operation_data %}
                <div class="m-l-30 mb-3 col-11 bg-white float-left">
                    <div class="col-lg-3 float-left">
                        <a href="{{ path('operation_detail',{'id':operation.id}) }}">
                            {{ operation.name }}
                        </a>
                    </div>
                    <div class="col-lg-3 float-left">
                        {{ operation.caisse.name }}
                    </div>
                    <div class="col-lg-3 float-left">
                        {{ operation.caisse.agence.name }}
                    </div>
                    <div class="col-lg-3 float-left group-link">
                        <a href="{{ path('operation_reactive', {'id':operation.id}) }}"><i class="fa fa-repeat"
                                                                                           data-toggle="tooltip"
                                                                                           data-placement="bottom" title="Re-activer"></i></a>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endfor %}

