<img src="{{ app.request.getSchemeAndHttpHost() ~  asset('theme/images/logos/logo_isilis.png') }}" class="logo-caise">
<p>
    Bonjour {{contact.name}}
</p>
<p>
    Vous êtes inscrit sur ISIFID plateforme, voici vos informations du compte :<br>
</p>
<ul>
    <li>{{user.username}}</li>
    <li>{{password}}</li>
</ul>
