<img src="{{ app.request.getSchemeAndHttpHost() ~  asset('theme/images/logos/logo_isilis.png') }}" class="logo-caise">
<p>
    Bonjour {{contact.name}}
</p>
<p>
    Un nouveau message sur une opération de la caisse {{caisse.name}} :
</p>
<p>
    {{msg.body|raw}}
</p>