<img src="{{app.request.getSchemeAndHttpHost() ~  asset('theme/images/logos/logo_isilis.png') }}" class="logo-caise">
<p>
    Bonjour admin
</p>
<p>
    Une nouvelle demande d'opération nommée "{{operation.name}}" envoyer par la caisse {{caisse.name}}<br>
</p>
