<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="{{ asset('app/css/FOSUserBundle/login.css') }}" rel="stylesheet">
    <link href="{{ asset('theme/vendor/bootstrap/css/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ asset('theme/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link rel="shortcut icon" href="{{ asset('theme/images/logos/logo.png') }}"/>
</head>
<body>

<div class="row bg">
    <div class="col-md-3 hidden-xs-down first-bloc d-none d-md-block"></div>
    <div class="col-md-9 col-xs-12 second-bloc">
        <img class="img-bg" src="{{ asset('theme/images/img/isilis-bg.jpg') }}">
    </div>
</div>
<div class="col-md-3 col-xs-10 third-bloc">
    <div class="text-center bloc-logo"><img src="{{ asset('theme/images/logos/logo.png') }}"></div>
    <h5 class="text-center login-title">Bienvenue sur l'espace ISIFID</h5>
    {% trans_default_domain 'FOSUserBundle' %}

<div class="fos_user_user_show">
    <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
    {% if is_granted('ROLE_ADMIN') == true or is_granted('ROLE_SUPER_ADMIN') == true %}
        <div>
	        <a href="{{ path('back_home') }}" class="btn btn-go-profile">Accéder à votre compte</a>
	    </div>
 	{% endif %}
 	{% if is_granted('ROLE_AGENCE') == true %}
        <div>
	        <a href="{{ path('agence_home') }}" class="btn btn-go-profile">Accéder à votre compte</a>
	    </div>
 	{% endif %}
 	{% if is_granted('ROLE_CAISSE') == true %}
        <div>
	        <a href="{{ path('caisse_home') }}" class="btn btn-go-profile">Accéder à votre compte</a>
	    </div>
 	{% endif %}    
</div>
</div>
</body>
</html>
