{% extends "base_caisse_param.html.twig" %}
    
{% block title %}Projet ISILIS {% endblock %}
    
{% block stylesheets %}
    <style>
        .btn-ok-sm {
            margin: 0 auto;
            display: block;
        }
    </style>
{% endblock %}
    
{% block body %}
    <div class="col-md-12">
        {% if collab.id %}{{ collab.name|upper }}{% else %}<h1 class="caise-title">Nouveau collaborateur</h1>{% endif %}
        <form class="default-form" method="post"
              action="{% if collab.id %}{{ path('caisse_collaborateur_edit', {'id':collab.id}) }}{% else %}{{ path('caisse_collaborateur_new') }}{% endif %}">
            <div class="form-group">
                <label>Nom & prénom:</label>
                {{ form_errors(form.name) }}
                {{ form_widget(form.name, {'attr':{'class':'form-control','placeholder':'Nom & prénom', 'required':true}}) }}
            </div>
            <div class="form-group">
                <label>Email:</label>
                {{ form_errors(form.user.email) }}
                {{ form_widget(form.user.email, {'attr':{'class':'form-control',
                    'placeholder': 'Email', 'required':true}}) }}
            </div>
            <div class="form-group">
                <label>Fonction:</label>
                {{ form_errors(form.fonction) }}
                {{ form_widget(form.fonction, {'attr':{'class':'form-control',
                    'placeholder': 'Fonction', 'required':true}}) }}
            </div>
            <div class="form-group">
                <label>Téléphone:</label>
                {{ form_errors(form.phone) }}
                {{ form_widget(form.phone, {'attr':{'class':'form-control',
                    'placeholder': 'Téléphone',
                    'pattern':'[0-9]{10}', 'required':true}}) }}
            </div>
            {{ form_rest(form) }}
            <input class="btn-ok btn-save btn-ok-sm" type="submit" value="ENREGISTRER">
        </form>
        <a href="{{ path('caisse_collaborateur') }}">Retour</a>
    </div>
{% endblock %}
    
{% block javascripts %}
{% endblock %}