{% extends "base_caisse_param.html.twig" %}
    
{% block title %}Projet ISILIS {% endblock %}
    
{% block stylesheets %}{% endblock %}
    
{% block body %}
    <div class="col-md-9">
        <table class="collab-list">
            <tbody>
            {% for collab in collaborateurs %}
                <tr>
                    <td class="colaborator-name">
                        {{ collab.name }}<br>
                        <span>{{ collab.fonction }}</span>
                    </td>
                    <td>
                        <a href="{{ path('caisse_collaborateur_view', {'id':collab.id}) }}" class="colaborator-eye"
                           data-toggle="tooltip"
                           data-placement="bottom" title="Voir">
                            <i class="fa fa-eye fa-1x"></i>
                        </a>
                    </td>
                    <td class="">
                        <a href="{{ path('caisse_collaborateur_edit', {'id':collab.id}) }}" class="colaborator-edit"
                           data-toggle="tooltip"
                           data-placement="bottom" title="Editer">
                            <i class="fa fa-edit fa-1x"></i>
                        </a>
                    </td>
                    <td class="">
                        <a href="{{ path('caisse_collaborateur_update', {'id':collab.id}) }}" class="colaborator-pause"
                           data-toggle="tooltip"
                           data-placement="bottom" title="Suspendre">
                            {% if collab.user.enabled %}
                                <i class="fa fa-pause fa-1x"></i>
                            {% else %}
                                <i class="fa fa-play fa-1x"></i>
                            {% endif %}
                        </a>
                    </td>
                    <td class="">
                        <a onclick="return confirm('Êtes vous sûr ?')"
                           href="{{ path('caisse_collaborateur_delete', {'id':collab.id}) }}" class="colaborator-time"
                           data-toggle="tooltip"
                           data-placement="bottom" title="Supprimer">
                            <i class="fa fa-times fa-1x"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="clear" style="clear: both;"></div>
        <div class="col colaborator-new float-left p-0">
            <a href="{{ path('caisse_collaborateur_new') }}" data-toggle="tooltip"
               data-placement="bottom" title="Ajouter">
                <i class="fa fa-plus fa-1x"></i><span> Ajouter un collaborateur</span>
            </a>
        </div>
        <div class="clear" style="clear: both;"></div>

    </div>
{% endblock %}
    
{% block javascripts %}
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
{% endblock %}