{% extends "base_caisse_param.html.twig" %}
    
{% block title %}Projet ISILIS {% endblock %}
    
{% block stylesheets %}{% endblock %}
    
{% block body %}
    <div class="col-md-12">
        <h1>{{collab.name|upper}}</h1>
        <ul class="list-group">
            <li class="list-group-item">
                {{collab.fonction}}
            </li>
            <li class="list-group-item">
                {{collab.user.email}}
            </li>
            <li class="list-group-item">
                {{collab.phone}}
            </li>
        </ul>
        <br />
        <a href="{{ path('caisse_collaborateur') }}">Retour</a>
    </div>
{% endblock %}
    
{% block javascripts %}
{% endblock %}