{% extends "base_caisse_param.html.twig" %}

{% block title %}Projet ISILIS {% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}
    <div class="col-md-12">
        <h1 class="caise-title">Informations</h1>
        <form class="default-form" method="post" action="{{path('caisse_caisse_info')}}">
            <div class="form-group">
                <label for="caissebundle_caisse_name">Nom de la caisse</label>
                {{ form_errors(form.name)}}
                {{ form_widget(form.name, {'attr':{'class':'form-control', 'required':true}}) }}
            </div>
            <div class="form-group">
                <label for="caissebundle_caisse_contact_name">Nom du contact</label>
                {{ form_errors(form.contact.name)}}
                {{ form_widget(form.contact.name, {'attr':{'class':'form-control',
                        'placeholder': 'Nom du contact', 'required':true}}) }}
            </div>
            <div class="form-group">
                <label for="caissebundle_caisse_contact_user_email">Email</label>
                {{ form_errors(form.contact.user.email)}}
                {{ form_widget(form.contact.user.email, {'attr':{'class':'form-control',
                        'placeholder': 'Email', 'required':true}}) }}
            </div>
            <div class="form-group">
                <label for="caissebundle_caisse_contact_fonction">Fonction</label>
                {{ form_errors(form.contact.fonction)}}
                {{ form_widget(form.contact.fonction, {'attr':{'class':'form-control',
                        'placeholder': 'Fonction' , 'required':true}}) }}
            </div>
            <div class="form-group">
                <label for="caissebundle_caisse_contact_phone">Téléphone</label>

                {{ form_errors(form.contact.phone) }}
                {{ form_widget(form.contact.phone, { 'attr': {'type': 'tel', 'class':'form-control',
                    'placeholder': 'Téléphone', 'pattern': '[0-9]{10}', 'required':true} }) }}

            </div>
            <div class="form-group">
                <label for="caissebundle_caisse_address">Adresse</label>
                {{ form_errors(form.address)}}
                {{ form_widget(form.address, {'attr':{'class':'form-control', 'required':true}}) }}
            </div>
            <div class="form-row form-adres">
                <div class="col-md-4">
                    <label for="caissebundle_caisse_zipCode">Code postal</label>
                    {{ form_errors(form.zipCode)}}
                    {{ form_widget(form.zipCode, {'attr':{'class':'form-control', 'required':true}}) }}
                </div>
                <div class="col-md-8">
                    <label for="caissebundle_caisse_city">Région</label>
                    {{ form_errors(form.city)}}
                    {{ form_widget(form.city, {'attr':{'class':'form-control', 'required':true}}) }}
                </div>
            </div>
            {{form_rest(form)}}
            <input class="btn-ok" type="submit" value="ENREGISTRER">
        </form>
    </div>
{% endblock %}

{% block javascripts %}
{% endblock %}