{% extends "base_back.html.twig" %}

{% block title %}Projet ISILIS {% endblock %}

{% block stylesheets %}
    <style>
        #backbundle_bank_name {
            text-transform: uppercase;
        }
    </style>
{% endblock %}

{% block body %}

    <div class="col-12 col-md-12 bg-white float-left">
        <h1>CREER UNE BANQUE</h1>
        <hr />
        <div class="row">
            <form id="form-bank" style="width: 100%" method="post" action="{{ path('bank_new') }}"
                  enctype="multipart/form-data">
                <h3>Identification :</h3>
                <div class="form-group">
                    {{ form_errors(form.name) }}
                    {{ form_widget(form.name, {'attr':{'class':'form-control',
                        'placeholder': 'Nom de la banque'}}) }}
                </div>
                <div class="form-group">
                    {{ form_errors(form.address) }}
                    {{ form_widget(form.address, {'attr':{'class':'form-control',
                        'placeholder': 'Adresse'}}) }}
                </div>
                <div class="form-row">
                    <div class="col-md-4">
                        {{ form_errors(form.zipCode) }}
                        {{ form_widget(form.zipCode, {'attr':{'class':'form-control',
                            'placeholder': 'Code postal' }}) }}
                    </div>
                    <div class="col-md-8">
                        {{ form_errors(form.city) }}
                        {{ form_widget(form.city, {'attr':{'class':'form-control',
                            'placeholder': 'Ville' }}) }}
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Icône</span>
                        </div>
                        <div class="custom-file">
                            <div class="text-danger">{{ form_errors(form.file) }}</div>
                            <div class="form-control-file">{{ form_widget(form.file, {'attr':{
                                    'class':'custom-file-input'}}) }}</div>
                            <label class="custom-file-label" for="inputGroupFile01">Icône de la banque</label>
                        </div>
                    </div>
                    <div id="image-holder"></div>
                </div>

                <div class="form-group">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Charte graphique</span>
                        </div>
                        <div class="custom-file">
                            <div class="text-danger">{{ form_errors(form.chartPath) }}</div>
                            <div class="form-control-file">{{ form_widget(form.chartPath, {'attr':{
                                    'class':'custom-file-input'}}) }}</div>
                            <label class="custom-file-label" for="inputGroupFile01">Charte graphique de la
                                banque</label>
                        </div>
                    </div>
                    <div id="image-charte"></div>
                </div>


                <h3>Contact :</h3>
                <div class="form-group">
                    {{ form_errors(form.contactName) }}
                    {{ form_widget(form.contactName, {'attr':{'class':'form-control',
                        'placeholder': 'Nom du contact'}}) }}
                </div>
                <div class="form-group">
                    {{ form_errors(form.contactRole) }}
                    {{ form_widget(form.contactRole, {'attr':{'class':'form-control',
                        'placeholder': 'Fonction'}}) }}
                </div>
                <div class="form-group">
                    {{ form_errors(form.contactPhone) }}
                    {{ form_widget(form.contactPhone, {'attr':{'class':'form-control',
                        'placeholder': 'Téléphone',
                        'pattern':'[0-9]{10}'}}) }}
                </div>
                <div class="form-group">
                    {{ form_errors(form.contactEmail) }}
                    {{ form_widget(form.contactEmail, {'attr':{'class':'form-control',
                        'placeholder': 'Email'}}) }}
                </div>
                {{ form_rest(form) }}
                <div class="row">
                    <input type="submit" value="+ Valider">
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('app/js/back/bank/new.js') }}"></script>
{% endblock %}