{% extends "base_back.html.twig" %}

{% block title %}Projet ISILIS {% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}
    <div class="float-left w-100">
        <a href="{{ path('back_home') }}" class="btn btn-md text-dark"><i class="fa fa-home mr-2"></i>Accueil</a>
    </div>
    <div class="col-12 col-md-12 bg-white float-left">
        <h1>LISTE DES BANQUES ACTIVES</h1>
        <h4><a class="titre-add" href="{{ path('bank_new') }}">CREER UNE BANQUE</a></h4>
        <hr>
        {% for bank in banks %}
            <div class="row">
                <div class="col ">
                    <div class="col-6 float-left">
                        <img src="{{ asset(bank.getWebIcone) }}" width="30" height="30"
                             class="rounded-circle float-left">
                        {% set nb_caisse = bank.caisses|length %}
                        <h2 class="float-left f-size-20 ml-2 font-weight-bold">
                            {{ bank.name }} ({{ nb_caisse }})
                        </h2>
                    </div>
                    <div class="col-6 float-left text-right group-link">
                        <a href="{{ path('edit_bank', {'id':bank.id}) }}" data-toggle="tooltip"
                           data-placement="bottom" title="Editer">
                            <i class="fa fa-pencil"></i>
                        </a>
                        {% if bank.active  == 1 %}
                            <a href="{{ path('inactive_bank', {'id':bank.id}) }}" data-toggle="tooltip"
                               data-placement="bottom" title="Suspendre">
                                <i class="fa fa-pause"></i>
                            </a>
                        {% else %}
                            <a href="{{ path('activate_bank', {'id':bank.id}) }}" data-toggle="tooltip"
                               data-placement="bottom" title="Activer">
                                <i class="fa fa-play"></i>
                            </a>
                        {% endif %}
                    </div>
                </div>
                <div class="col-12 items">
                    {% for caisse in bank.caisses %}
                        <div class="col">
                            <p>  {{ caisse.name }}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <hr>
        {% endfor %}
    </div>
{% endblock %}

{% block javascripts %}{% endblock %}