{% extends "base_agnece.html.twig" %}
{% block body %}
    <h1>Résultat de la recherche</h1>
    <hr>
    {% for campaign in operations %}
        <div class="row">
            <div class="col-lg-1">
                <img src="{{asset('uploads/visuels/'~campaign.campaign_data.path)}}" height="40px" width="40px" class="img-circle">
            </div>
            <div class="col-lg-11">
                <h1>{{campaign.campaign_data.name}}</h1>
            </div>
        </div>
        {% for operation in campaign.operation_data %}
            <div class="row">
                {{operation.name}}
            </div>
        {% endfor %}
        <hr />
    {% endfor %}
{% endblock%}