<h2 class="title"> 
    <img src="{{ asset('theme/images/logos/logo.png') }}">
    Isilis
</h2>
<div class="my-message">
    {{message.body}}
    <div class="piece-jointe">
        <ul>
            {% for piece in message.jointes %}
                <li><a target="blank" href="{{asset(piece.webPath())}}">{{piece.name}}</a></li>
                {% endfor %}
        </ul>
    </div>
</div>