{% extends "base_back.html.twig" %}
{% block body %}
    <div class="float-left w-100 bg-white">
        <h1>MODIFIER l'OBJECTIF OPERATION</h1>
        <hr />
        <form method="post" action="{{ path('objet_operation_edit',{'id':objectif_operation.id}) }}">
            <div class="row">
                <label>objectif de l'operation:</label>
                {{ form_errors(form.name) }}
                {{ form_widget(form.name,{'attr':{'class':'form-control','placeholder':"objectif de l'operation"}}) }}
            </div>
            {{ form_rest(form) }}
            <input type="submit" value="+ valider">
        </form>
    </div>
{% endblock %}