{% extends "base_back.html.twig" %}
    
{% block title %}Projet ISILIS {% endblock %}
    
{% block stylesheets %}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="filter-result">
            <div class="bg-white p-3">
                <h2>{{ operation.name }}</h2>
                <h4>{{ operation.caisse.bank.name }} - {{ operation.caisse.name }}</h4>
            </div>
            <div class="col-md-12 col-12 bg-white pb-4 border-bottom float-left p-0">
                <div class="p-3">
                    {% for message in operation.messages %}
                        {% if message.source == message.ADMIN_SEND %}
                            <div class="{% if message.dest == message.CAISSE_RECIV %}other-message alert alert-send rounded{% else %}my-message alert alert-request rounded {% endif %}">
                                <div class="logosend">
                                    <img src="{{ asset('theme/images/logos/logo_isilis.png') }}" class="logo-caise" style="float: left"
                                         width="70">
                                </div>
                                 <span id="msg-action-{{ message.id }}" class="float-right">
                                     <a href="{{ path('message_delete', {'id':message.id}) }}', 'msg-{{ message.id }}"
                                       onclick="return confirm('Supprimer le message ?')" class="text-dark">
                                        <i class="fa fa-times" style="color: red; font-size: 28px"></i>
                                    </a>
                                    <a href="#"  class="text-dark modifier" data-id="{{ message.id }}" data-body="{{ message.body }}" >
                                        <i class="fa fa-pencil" style="font-size: 26px;"></i>
                                    </a>
                                </span>
                                <div class="body-msg-container w-100 float-left mt-2">
                                    {{ message.body|raw }}
                                </div>
                                <div class="piece-jointe">
                                    <ul>
                                        {% for piece in message.jointes %}
                                        <li><a target="blank" href="{{ asset(piece.webPath()) }}">{{ piece.name }}</a>
                                        <li>
                                            {% endfor %}
                                    </ul>
                                </div>
                                <p class="text-right w-100 float-left mb-0">
                                    Posté le : {{ message.createdAt|date('d/m/Y H:i:s') }}
                                </p>
                                {% if message.validatedAt is not null %}
                                <p class="text-right w-100 float-left mb-0">
                                    Validée le : {{ message.validatedAt|date('d/m/Y H:i:s') }}
                                </p>
                                {% endif %}
                            </div>
                        {% elseif message.source == message.CAISSE_SEND %}
                            <div class="other-message alert alert-send rounded">
                                <div class="logosend">
                                    <img src="{{ asset('uploads/icones/'~operation.caisse.bank.icon) }}"
                                         style="float: left" class="" width="70">
                                </div>
                                <span id="msg-action-{{ message.id }}" class="float-right">
                                    {% if not message.valideAgence %}
                                        <a href="{{ path('message_validate', {'id':message.id, 'dest':2}) }}', 'msg-action-{{ message.id }}"
                                           onclick="return confirm('Valider le message ?')" class="text-dark">
                                            <i class="fa fa-check" style="color: green; font-size: 28px;"></i>
                                        </a>
                                    {% endif %}
                                     <a href="{{ path('message_delete', {'id':message.id}) }}', 'msg-{{ message.id }}"
                                       onclick="return confirm('Supprimer le message ?')" class="text-dark">
                                        <i class="fa fa-times" style="color: red; font-size: 28px"></i>
                                    </a>
                                    <a href="#"  class="text-dark modifier" data-id="{{ message.id }}" data-body="{{ message.body }}" >
                                        <i class="fa fa-pencil" style="font-size: 26px;"></i>
                                    </a>
                                </span>
                                <div class="body-msg-container w-100 float-left mt-2">
                                    {{ message.body|raw }}
                                </div>
                                <div class="piece-jointe">
                                    <ul>
                                        {% for piece in message.jointes %}
                                        <li><a target="blank" href="{{ asset(piece.webPath()) }}">{{ piece.name }}</a>
                                        <li>
                                            {% endfor %}
                                    </ul>
                                </div>
                                <p class="text-right w-100 float-left">
                                    Posté le : {{ message.createdAt|date('d/m/Y H:i:s') }}
                                </p>
                                {% if message.validatedAt is not null %}
                                    <p class="text-right w-100 float-left mb-0">
                                        Validée le : {{ message.validatedAt|date('d/m/Y H:i:s') }}
                                    </p>
                                {% endif %}
                            </div>
                        {% elseif message.source == message.AGENCE_SEND %}
                            <div class="my-message alert alert-request rounded ">
                                <div class="logosend">
                                    <img src="{{ asset(operation.agence.getWebIcone()) }}" class="" width="70"
                                         style="float: left">
                                </div>
                                <span id="msg-action-{{ message.id }}" class="float-right">
                                    {% if not message.valideCaisse %}
                                    <a href="{{ path('message_validate', {'id':message.id, 'dest':1}) }}', 'msg-action-{{ message.id }}"
                                       onclick="return confirm('Valider le message ?')" class="text-dark">
                                        <i class="fa fa-check" style="color: green; font-size: 28px;"></i>
                                    </a>
                                    {% endif %}
                                     <a href="{{ path('message_delete', {'id':message.id}) }}', 'msg-{{ message.id }}"
                                       onclick="return confirm('Supprimer le message ?')" class="text-dark">
                                        <i class="fa fa-times" style="color: red; font-size: 28px"></i>
                                    </a>
                                    <a href="#"  class="text-dark modifier" data-id="{{ message.id }}" data-body="{{ message.body }}" >
                                        <i class="fa fa-pencil" style="font-size: 26px;"></i>
                                    </a>
                                </span>
                                <div class="body-msg-container w-100 float-left mt-2">
                                    {{ message.body|raw }}
                                </div>
                                <div class="piece-jointe">
                                    <ul>
                                        {% for piece in message.jointes %}
                                            <li><a target="blank"
                                                   href="{{ asset(piece.webPath()) }}">{{ piece.name }}</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                <p class="text-right w-100 float-left mb-0">
                                    {{ message.createdAt|date('d/m/Y H:i:s') }}
                                </p>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="bg-white float-left pt-4">
                <div class="col-sm-6 float-left">
                    <h3>Caisse</h3>
                    <form id="form-caisse" method="post" class="summernote-messenger" enctype="multipart/form-data"
                          action="{{ path('message_new', {'id':operation.id, 'dest':1}) }}" novalidate>
                        <div class="form-group">
                            {{ form_widget(form_caisse.body,{'attr':{'class':'form-control msg-caisse'}}) }}
                        </div>
                        {{ form_rest(form_caisse) }}
                        <div class="col p-0">
                            <button class="btn btn-link btn-send-msg" type="submit">
                                <i class="fa fa-angle-right"></i> Envoyer un message Caisse : {{ operation.caisse.name }}
                            </button>
                        </div>
                    </form>
                </div>
                <div class="col-sm-6 float-left">
                    <h3>Agence</h3>
                    <form id="form-agence" method="post" class="summernote-messenger" enctype="multipart/form-data"
                          action="{{ path('message_new', {'id':operation.id, 'dest':2}) }}" novalidate>
                        <div class="form-group">
                            {{ form_widget(form_agence.body,{'attr':{'class':'form-control msg-agence'}}) }}
                        </div>
                        {{ form_rest(form_agence) }}
                        <div class="col p-0">
                            <button class="btn btn-link btn-send-msg" type="submit">
                                <i class="fa fa-angle-right"></i> Envoyer un message Agence : {{ operation.agence.name }}
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div id="myModal" class="modal fade" role="dialog"></div>
     <div class="mymodal" style="display: none;">
            <div class="modal-content">
                <div class="modal-body">
                    <div id="modal_content">
                        <form method="post" class="summernote-messenger formmodale"
                              action="" novalidate>
                            <div class="form-group body-content">
                                <textarea class="msg-body" name="messageBody">

                                </textarea>
                            </div>
                            <div class="col p-0">
                                <button class="btn btn-link btn-send-msg" type="submit">
                                    <i class="fa fa-angle-right"></i> Modifier
                                </button>
                            </div>
                        </form>
                    </div>
            </div>
      </div>
    </div>

{% endblock %}
{% block javascripts %}
    <script>
        $(function () {
            (function (factory) {
                        /* global define */
                    if (typeof define === 'function' && define.amd) {
                        // AMD. Register as an anonymous module.
                        define(['jquery'], factory);
                    } else if (typeof module === 'object' && module.exports) {
                        // Node/CommonJS
                        module.exports = factory(require('jquery'));
                    } else {
                        // Browser globals
                        factory(window.jQuery);
                    }
                }
                (function ($) {

                        // Extends plugins for adding readmore.
                        //  - plugin is external module for customizing.
                        $.extend($.summernote.plugins, {
                            'elfinder': function (context) {
                                var self = this;

                                // ui has renders to build ui elements.
                                //  - you can create a button with `ui.button`
                                var ui = $.summernote.ui;

                                // add elfinder button
                                context.memo('button.elfinder', function () {
                                    // create button
                                    var button = ui.button({
                                        contents: '<i class="fa fa-list-alt"/> Ajouter file',
                                        click: function () {
                                            elfinderDialog(context);
                                        }
                                    });

                                    // create jQuery object from button instance.
                                    var $elfinder = button.render();
                                    return $elfinder;
                                });

                                // This methods will be called when editor is destroyed by $('..').summernote('destroy');
                                // You should remove elements on `initialize`.
                                this.destroy = function () {
                                    this.$panel.remove();
                                    this.$panel = null;
                                };
                            }

                        });
                    }
                )
            );
            function elfinderDialog(context){ // <------------------ +context
                var fm = $('<div/>').dialogelfinder({
                    url : '{{ asset('uploads/elfinder/php/connector.php') }}?id={{ app.user.id }}',
                    lang : 'en',
                    width : 840,
                    height: 450,
                    destroyOnClose : true,
                    getFileCallback : function(file, fm,meta) {

                        var url,reg,info ;
                        url = file.url;

                        reg = /\/[^/]+?\/\.\.\//;
                        while (url.match(reg)){
                            url = url.replace(reg,'/');
                        }
                        console.log(url);
                        info = file.name;

                        context.invoke('editor.createLink',{
                            text: info,
                            url: url,
                            isNewWindow: true
                        });
                    },
                    commandsOptions : {
                        getfile : {
                            oncomplete : 'close',
                            folders : false
                        }
                    }
                }).dialogelfinder('instance');
            }
            $('.msg-caisse').summernote({
                lang: "fr-FR",
                toolbar: [
                    ['style', ['style']],
                    ['font', ['bold', 'italic', 'underline', 'clear']],
                    ['fontname', ['fontname']],
                    ['color', ['color']],
                    ['para', ['ul', 'ol', 'paragraph']],
                    ['height', ['height']],
                    ['table', ['table']],
                    ['insert', ['link', 'picture', 'hr','elfinder']],
                    ['view', ['fullscreen', 'codeview']],
                    ['help', ['help']]
                ],
                onCreateLink : function(originalLink) {
                    return originalLink; // return original link
                }

            });
            $('.msg-agence').summernote({
                lang: "fr-FR",
                toolbar: [
                    ['style', ['style']],
                    ['font', ['bold', 'italic', 'underline', 'clear']],
                    ['fontname', ['fontname']],
                    ['color', ['color']],
                    ['para', ['ul', 'ol', 'paragraph']],
                    ['height', ['height']],
                    ['table', ['table']],
                    ['insert', ['link', 'picture', 'hr','elfinder']],
                    ['view', ['fullscreen', 'codeview']],
                    ['help', ['help']]
                ],
            });
            $('#form-caisse').submit(function () {
                if ($('.msg-caisse').summernote('isEmpty')) {
                    return false;
                } else {
                    $(".msg-caisse").val($('.msg-caisse').summernote('code'));
                    return true;
                }
            });

            $('#form-agence').submit(function () {
                if ($('.msg-agence').summernote('isEmpty')) {
                    return false;
                } else {
                    $(".msg-agence").val($('.msg-agence').summernote('code'));
                    return true;
                }
            });
            $(document).on('click','.modifier',function (e) {
                $('#myModal').empty();
                e.preventDefault();
                var id =  $(this).attr('data-id');
                var body =  $(this).attr('data-body');
                $('.msg-body').text(body);
                var url = Routing.generate("message_edit", {id: id});
                $('#myModal').html("<div class='modal-dialog modal-lg'>"+$('.mymodal').html()+'</div>');
                $('#myModal').find('.mymodal').show();
                $('#myModal').modal('show');
                $('#myModal').find('.formmodale').attr('action',url);
                $('#myModal').find('.formmodale').find('.msg-body').summernote(
                   { lang: "fr-FR",
                       toolbar: [
                           ['style', ['style']],
                           ['font', ['bold', 'italic', 'underline', 'clear']],
                           ['fontname', ['fontname']],
                           ['color', ['color']],
                           ['para', ['ul', 'ol', 'paragraph']],
                           ['height', ['height']],
                           ['table', ['table']],
                           ['insert', ['link', 'picture', 'hr','elfinder']],
                           ['view', ['fullscreen', 'codeview']],
                           ['help', ['help']]
                       ],
                       onCreateLink : function(originalLink) {
                           return originalLink; // return original link
                       }
                });
             });
        });
    </script>
{% endblock %}