{% extends "base_back.html.twig" %}

{% block title %}Projet ISILIS {% endblock %}

{% block stylesheets %}
    <link href="{{ asset('theme/vendor/datepicker/css/jquery-ui.min.css') }}" rel="stylesheet">
    <link href="{{ asset('app/css/back/campaign/new.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="bg-white">
        <h1  style="line-height: 1.2;">CREER UNE OPÉRATION</h1>
        <hr>
        <form id="form-operation" style="width: 100%" method="post" action="{{ path('operation_new') }}"
              enctype="multipart/form-data">
            <h3></h3>
            <div class="row">
                <div class="col">
                    {{ form_errors(form.bank) }}
                    {{ form_widget(form.bank,{'attr':{'class':'form-control','placeholder':'Banque Désignée'}}) }}
                </div>
                <div class="col">
                    {{ form_errors(form.caisse) }}
                    {{ form_widget(form.caisse,{'attr':{'class':'form-control','placeholder':'Caisse régional Désignée'}}) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_errors(form.campaign) }}
                {{ form_widget(form.campaign,{'attr':{'class':'form-control','placeholder':'Campagne'}}) }}
            </div>
            <div class="form-group">
                {{ form_errors(form.name) }}
                {{ form_widget(form.name,{'attr':{'class':'form-control','placeholder':"Nom de l'opération"}}) }}
            </div>
            <div class="row">
                <div class="col-md-6">
                    {{ form_errors(form.objectif) }}
                    {{ form_widget(form.objectif,{'attr':{'class':'form-control','placeholder':'Objectif de lopération'}}) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_errors(form.cibleCom) }}
                {{ form_widget(form.cibleCom,{'attr':{'class':'form-control','placeholder':'Cible commerciale'}}) }}
            </div>
            <div class="form-group">
                {{ form_errors(form.cibleIlig) }}
                {{ form_widget(form.cibleIlig,{'attr':{'class':'form-control',
                    'placeholder':"Critères d'éligibilité"}}) }}
            </div>
            <div class="form-check form-check-inline">
                Mode de transmission des bénéficiaires:
                {{ form_errors(form.modeTrans) }}
                {{ form_widget(form.modeTrans,{'attr':{'class':'form-check-input'}}) }}
            </div>
            <div class="form-group">
                {{ form_errors(form.amount) }}
                {{ form_widget(form.amount,{'attr':{'class':'form-control','placeholder':'Montant dotation en bons'}}) }}
            </div>
            <div class="form-group">
                {{ form_errors(form.comment) }}
                {{ form_widget(form.comment,{'attr':{'class':'form-control','placeholder':'Remarques/ Notes explicatives'}}) }}
            </div>

            <div class="form-group">
                {{ form_errors(form.object_vol) }}
                {{ form_widget(form.object_vol,{'attr':{'class':'form-control','placeholder':'Objectif volumétrie'}}) }}
            </div>
            <h3>Dates:</h3>
            <div class="form-check form-check-inline">
                Opération permenente:
                {{ form_errors(form.permanant) }}
                <label class="switch">
                    {{ form_widget(form.permanant) }}
                    <span class="slider round" id="switch1"></span>
                </label>
            </div>
            <div id="date-content">
                <div class="row">
                    <div class="col">
                        <div class="input-group">
                            {{ form_errors(form.startDate) }}
                            {{ form_widget(form.startDate,{'attr':{'class':'form-control datepicker',
                                'placeholder':'Début de la campagne'}}) }}
                            <div class="input-group-append">
                                <button type="button" class="btn btn-default datepickerbtn" data-toggle="datepicker"
                                        data-target-name="sample-date"><span class="fa fa-calendar"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="input-group">
                            {{ form_errors(form.endDate) }}
                            {{ form_widget(form.endDate,{'attr':{'class':'form-control datepicker',
                                'placeholder':'Fin de la campagne'}}) }}
                            <div class="input-group-append">
                                <button type="button" class="btn btn-default datepickerbtn" data-toggle="datepicker"
                                        data-target-name="sample-date"><span class="fa fa-calendar"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                {#<div class="row">#}
                {#<div class="col">#}
                {#<div class="input-group">#}
                {#{{ form_errors(form.startDateOnline)}}#}
                {#{{ form_widget(form.startDateOnline,{'attr':{'class':'form-control datepicker',#}
                {#'placeholder':'Début de la mise en ligne'}})}}#}
                {#<div class="input-group-append">#}
                {#<button type="button" class="btn btn-default datepickerbtn" data-toggle="datepicker" data-target-name="sample-date"><span class="fa fa-calendar"></span>#}
                {#</button>#}
                {#</div>#}
                {#</div>#}
                {#</div>#}
                {#<div class="col">#}
                {#<div class="input-group">#}
                {#{{ form_errors(form.endDateOnline)}}#}
                {#{{ form_widget(form.endDateOnline,{'attr':{'class':'form-control datepicker',#}
                {#'placeholder':'Fin de la mise en ligne'}})}}#}
                {#<div class="input-group-append">#}
                {#<button type="button" class="btn btn-default datepickerbtn" data-toggle="datepicker" data-target-name="sample-date"><span class="fa fa-calendar"></span>#}
                {#</button>            #}
                {#</div>#}
                {#</div>#}
                {#</div>#}
                {#</div>#}
            </div>
            <div class="form-group">
                <div class="form-check form-check-inline">
                    Demande de supports de communication:
                    {{ form_errors(form.support) }}
                    <label class="switch">
                        {{ form_widget(form.support) }}
                        <span class="slider round" id="switch2"></span>
                    </label>
                </div>
            </div>
            <h3>Visuels web :</h3>
            <div class="form-group" id="vweb-fields-list">
                <div class="form-row">
                    {% for vweb in form.visualWebs %}
                        <div class="col col-md-3 mb-2"> {{ form_widget(vweb.type, {'attr':{'class':'form-control',
                                'placeholder': 'Type de fichier'}}) }}</div>
                        <div class="col col-md-3 mb-2">{{ form_widget(vweb.largeur, {'attr':{'class':'form-control',
                                'placeholder': 'Largeur'}}) }}</div>

                        <div class="col col-md-3 mb-2">{{ form_widget(vweb.hauteur, {'attr':{'class':'form-control',
                                'placeholder': 'Hauteur'}}) }}</div>

                        <div class="col col-md-3 mb-2">{{ form_widget(vweb.unite, {'attr':{'class':'form-control',
                                'placeholder': 'Unité'}}) }}</div>

                        <div class="mb-2">{{ form_widget(vweb.file, {'attr':{'require':'require'}}) }}</div>
                        <div class="mb-2">
                            <a href="#" class="add-vweb btn btn-default add-vweb-kc">Ajouter</a>
                        </div>
                    {% endfor %}
                </div>
                <div id="vwebs-proto">
                    <div class="hide proto-type"
                         data-prototype="{{ form_widget(form.visualWebs.vars.prototype.type)|e }}"></div>
                    <div class="hide proto-largeur"
                         data-prototype="{{ form_widget(form.visualWebs.vars.prototype.largeur)|e }}"></div>
                    <div class="hide proto-hauteur"
                         data-prototype="{{ form_widget(form.visualWebs.vars.prototype.hauteur)|e }}"></div>
                    <div class="hide proto-unite"
                         data-prototype="{{ form_widget(form.visualWebs.vars.prototype.unite)|e }}"></div>
                    <div class="hide proto-file"
                         data-prototype="{{ form_widget(form.visualWebs.vars.prototype.file)|e }}"></div>
                </div>
            </div>
            <h3>Visuels print :</h3>
            <div class="form-group" id="vprint-fields-list">
                <div class="form-row">
                    {% for vprint in form.visualPrints %}
                        <div class="col col-md-3 mb-2"> {{ form_widget(vprint.type, {'attr':{'class':'form-control',
                                'placeholder': 'Type de fichier'}}) }}</div>
                        <div class="col col-md-3 mb-2">{{ form_widget(vprint.largeur, {'attr':{'class':'form-control',
                                'placeholder': 'Largeur'}}) }}</div>

                        <div class="col col-md-3 mb-2">{{ form_widget(vprint.hauteur, {'attr':{'class':'form-control',
                                'placeholder': 'Hauteur'}}) }}</div>

                        <div class="col col-md-3 mb-2">{{ form_widget(vprint.unite, {'attr':{'class':'form-control',
                                'placeholder': 'Unité'}}) }}</div>

                        <div class="mb-2">{{ form_widget(vprint.file, {'attr':{'require':'require'}}) }}</div>
                        <div class="mb-2">
                            <a href="#" class="add-vprint btn btn-default add-vweb-kc">Ajouter</a>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div id="vprints-proto">
                <div class="hide proto-type"
                     data-prototype="{{ form_widget(form.visualPrints.vars.prototype.type)|e }}"></div>
                <div class="hide proto-largeur"
                     data-prototype="{{ form_widget(form.visualPrints.vars.prototype.largeur)|e }}"></div>
                <div class="hide proto-hauteur"
                     data-prototype="{{ form_widget(form.visualPrints.vars.prototype.hauteur)|e }}"></div>
                <div class="hide proto-unite"
                     data-prototype="{{ form_widget(form.visualPrints.vars.prototype.unite)|e }}"></div>
                <div class="hide proto-file"
                     data-prototype="{{ form_widget(form.visualPrints.vars.prototype.file)|e }}"></div>
            </div>
            {{ form_rest(form) }}
            <hr>
            <div class="row">
                <input type="submit" value="+ valider">
            </div>
        </form>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('theme/vendor/datepicker/js/jquery-ui.min.js') }}"></script>
    <script src="{{ asset('app/js/back/operation/new.js') }}"></script>
    <script src="{{ asset('theme/vendor/datepicker/js/datepicker-fr.js') }}"></script>
    <script>
        $(document).ready(function () {
            $('#backbundle_operation_startDate').on("change", function () {
                $('#backbundle_operation_endDate').datepicker("option", "minDate", getDate(this));
                console.log(getDate(this));
            });

            $('#backbundle_operation_endDate').on("change", function () {
                $('#backbundle_operation_startDate').datepicker("option", "maxDate", getDate(this));
                console.log(getDate(this));
            });

            $('#backbundle_operation_permanant').on('change.bootstrapSwitch', function (e) {
                if (e.target.checked) {
                    $('#date-content').hide();
                } else {
                    $('#date-content').show();
                }
            });
        });
    </script>
{% endblock %}