{% extends "base_back.html.twig" %}

{% block title %}Projet ISILIS {% endblock %}

{% block stylesheets %}
    <link href="{{ asset('app/css/back/operation/tree.css') }}" rel="stylesheet" id="bootstrap-css">
{% endblock %}

{% block body %}
    <div class="float-left w-100">
        <a href="{{ path('back_home') }}" class="btn btn-md text-dark"><i class="fa fa-home mr-2"></i>Accueil</a>
    </div>
    <div class="col bg-white float-left">
        <div class="filter-result">
            <div class="bg-white">
                <h1>OPÉRATION CRÉÉES</h1>
                <h4><a class="titre-add" href="{{ path('operation_new') }}">CREER UNE OPÉRATION</a></h4>
                <hr>
            </div>
            {% for bank in operations %}
                <div class="col-md-12 col-12 bg-white pb-4 border-bottom float-left">
                    <div class="col font-weight-bold pt-3 pb-3 p-0">
                        <img src="{{ asset('uploads/icones/'~bank.bank_data.icon) }}" height="40" width="40"
                             class="rounded-circle">
                        {{ bank.bank_data.name }} ({{ bank.operation_data|length }})
                    </div>
                    {% for operation in bank.operation_data %}
                        <div class="col-12 bg-white float-left mb-2">
                            <div class="col-lg-3 float-left">
                                <a href="{{ path('operation_detail', {'id':operation.id}) }}" class="text-dark">
                                    {{ operation.name }}
                                </a>
                            </div>
                            <div class="col-lg-3 float-left">
                                {{ operation.caisse.name }}
                            </div>
                            <div class="col-lg-3 float-left">
                                {% if operation.caisse.agence %}{{ operation.caisse.agence.name }}{% endif %}
                            </div>
                            <div class="col-lg-3 float-left group-link">
                                {% if operation.endDate|date('Y-m-d')  <= "now"|date('Y-m-d') %}
                                    <a href="{{ path('operation_reactive', {'id':operation.id}) }}">
                                        <i class="fa fa-repeat" data-toggle="tooltip" data-placement="bottom"
                                           title="Re-activer"></i></a>
                                {% else %}
                                    <a href="{{ path('operation_edit', {'id':operation.id}) }}"><i class="fa fa-pencil"
                                                                                                   data-toggle="tooltip"
                                                                                                   data-placement="bottom"
                                                                                                   title="Editer"></i></a>
                                    {% if operation.active %}
                                        <a href="{{ path('operation_suspend', {'id':operation.id}) }}"
                                           data-toggle="tooltip"
                                           data-placement="bottom" title="Suspendre"><i
                                                    class="fa fa-pause"></i></a>
                                    {% else %}
                                        <a href="{{ path('operation_activate', {'id':operation.id}) }}"
                                           data-toggle="tooltip"
                                           data-placement="bottom" title="Re-activer"><i
                                                    class="fa fa-play"></i></a>
                                    {% endif %}
                                    <a href="{{ path('operation_archive', {'id':operation.id}) }}" data-toggle="tooltip"
                                       data-placement="bottom" title="Supprimer"><i
                                                class="fa fa-times"></i></a>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="modal" tabindex="-1" role="dialog" id="modal"></div>

{% endblock %}
{% block javascripts %}
    <script>
        $(function () {
            $("#modal").on("show.bs.modal", function (e) {
                var link = $(e.relatedTarget);
                $(this).load(link.attr("href"));
            });

            $(document).on("hidden.bs.modal", function (e) {
                $(e.target).empty();
            });
        });
    </script>
{% endblock %}