{% extends "base_back.html.twig" %}
{% block body %}
    <div class="float-left w-100">
        <a href="{{ path('back_home') }}" class="btn btn-md text-dark"><i class="fa fa-home mr-2"></i>Accueil</a>
    </div>
    <div class="bg-white mt-5">
        <h1>OPÉRATIONS TERMINÉES</h1>
    </div>
    {% set count_active = 0 %}

    <div class="bg-white pt-4 pb-4">
        <ul style="list-style: none;">
            {% for bank in ordred_operation %}
                <li><img src="{{ asset('uploads/icones/'~bank.bank_data.icon) }}"
                         class="rounded-circle mr-2" width="40px"
                         height="40px"><b>{{ bank.bank_data.name }}</b></li>
                <span class="ml-3 mt-2 font-size-18 w-100 float-left">{{ bank.caisse_data.name }}</span>
                <ul style="list-style: none;">
                    {% for opt in bank.opt_data %}
                        <li class="ml-3">{{ opt.name }}
                            &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;{{ opt.creatAt|date('d-m-Y') }}</li>
                    {% endfor %}
                </ul>
            {% endfor %}
        </ul>
    </div>
{% endblock %}