{% extends "base_agence_param.html.twig" %}
    
{% block title %}Projet ISILIS {% endblock %}
    
{% block stylesheets %}{% endblock %}
    
{% block body %}
    <div class="col-md-6">
        {% if collab.id %}{{collab.name|upper}}{% else %}<h1 class="agence-title">Nouveau collaborateur</h1>{% endif %}
        <form class="default-form" method="post" action="{% if collab.id %}{{path('agence_collaborateur_edit', {'id':collab.id})}}{% else %}{{path('agence_collaborateur_new')}}{% endif %}">
            <div class="form-group">
                <label>Nom & prénom:</label>
                {{ form_errors(form.name)}}
                {{ form_widget(form.name, {'attr':{'class':'form-control', 'placeholder':'Nom & prénom'}}) }}
            </div>
            <div class="form-group">
                <label>Email:</label>
                {{ form_errors(form.user.email)}}
                {{ form_widget(form.user.email, {'attr':{'class':'form-control',
                        'placeholder': 'Email'}}) }}
            </div>
            <div class="form-group">
                <label>Fonction:</label>
                {{ form_errors(form.fonction)}}
                {{ form_widget(form.fonction, {'attr':{'class':'form-control',
                        'placeholder': 'Fonction'}}) }}
            </div>
            <div class="form-group">
                <label>Téléphone:</label>
                {{ form_errors(form.phone)}}
                {{ form_widget(form.phone, {'attr':{'class':'form-control',
                        'placeholder': 'Téléphone',
                'pattern':'[0-9]{10}'}}) }}
            </div>
            {{form_rest(form)}}
            <input class="btn-ok" type="submit" value="ENREGISTRER">
        </form>
    </div>
{% endblock %}
    
{% block javascripts %}
{% endblock %}