{% extends "base_agence_param.html.twig" %}

{% block title %}Projet ISILIS {% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}
    <div class="col-md-9">
        <table class="collab-list">
            <tbody>
                {% for collab in collaborateurs %}
                    <tr>
                        <td class="colaborator-name">
                            {{collab.name}}<br>
                            <span>{{collab.fonction}}</span>
                        </td>
                        <td>
                            <a href="{{path('agence_collaborateur_view', {'id':collab.id})}}" class="colaborator-eye">
                                <i class="fa fa-eye"></i>
                            </a>
                        </td>
                        <td>
                            <a href="{{path('agence_collaborateur_edit', {'id':collab.id})}}" class="colaborator-edit">
                                <i class="fa fa-edit"></i>
                            </a>
                        </td>
                        <td>
                            <a href="{{path('agence_collaborateur_update', {'id':collab.id})}}" class="colaborator-pause">
                                {% if collab.user.enabled %}
                                    <i class="fa fa-pause fa-1x"></i>
                                {% else %}
                                    <i class="fa fa-play fa-1x"></i>
                                {% endif %}
                            </a>
                        </td>
                        <td>
                            <a onclick="return confirm('Êtes vous sûr ?')" href="{{path('agence_collaborateur_delete', {'id':collab.id})}}" class="colaborator-time">
                                <i class="fa fa-times"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
            <div class="colaborator-new" >
        <a href="{{path('agence_collaborateur_new')}}">
            <i class="fa fa-plus"></i><span> Ajouter un collaborateur</span>
        </a>
            </div>
    </div>
{% endblock %}

{% block javascripts %}
{% endblock %}