{% extends "base_back.html.twig" %}

{% block body %}
    <div class="col-12 col-md-12 bg-white float-left">
        <h1>Notifications </h1>
        <hr/>
        {% for bank in banks %}
            <div class="row">
                <div class="col-lg-7">
                    <h2 class="title1">{{ bank.bank_data.name }}</h2>
                </div>
            </div>
            {% for caisse in bank.caisse_data %}
                <div class="row">
                    <div class="col-lg-1"><input type="checkbox" class="notifParameter" name="" value="{{ caisse.id }}" {% if caisse.isNotif == true %} checked {% endif %}> </div>
                    <div class="col-lg-6">
                        <a href="{{ path('caisse_edit', {'id':caisse.id}) }}">{{ caisse.name }}</a>
                    </div>
                </div>
            {% endfor %}
            <hr>
        {% endfor %}
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('app/js/back/notif-parameter/edit.js') }}"></script>
{% endblock %}