<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Projet ISIFID</title>
    <link rel="apple-touch-icon-precomposed" href="/ISILIS/Public/templates/yoo_helios/apple_touch_icon.png">
    <!-- Bootstrap core CSS-->
    <link rel="shortcut icon" href="{{ asset('theme/images/logos/logo.png') }}"/>
    <link href="{{ asset('theme/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link href="{{ asset('theme/vendor/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('theme/vendor/summernote/summernote-bs4.css') }}" rel="stylesheet">
    <link href="{{ asset('app/css/back/layout.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('app/css/back/caisse.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('app/css/caisse/caisse_style.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('app/css/caisse/isilis-responsive.css') }}" rel="stylesheet" type="text/css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.structure.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/elfinder/2.1.29/css/elfinder.min.css" rel="stylesheet">
    <style>
        .dialogelfinder{
            z-index: 10000;
        }
        .wait {
            display: none;
            width: 100%;
            text-align: center;
            position: fixed;
            z-index: 2000;
        }

        .loading {
            width: 100%;
            text-align: center;
            position: fixed;
            z-index: 2000;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: #fff;
            opacity: .6;
        }
    </style>
    {% block stylesheets %}{% endblock %}
    <link rel="shortcut icon" href="{{ asset('theme/images/logos/logo.png') }}"/>
    <script src="{{ asset('theme/vendor/jquery/jquery.min.js') }}"></script>

    <script type="text/javascript">
        jQuery(window).on('load', function () {
            // Animate loader off screen
            jQuery(".loading").fadeOut("slow");
        });
    </script>
    <script type="text/javascript">
        //window.$crisp = [];
        //window.CRISP_WEBSITE_ID = "e3c64c5c-323d-4b72-bf1c-feccf903d20d";
        //(function () {
        //  d = document;
        //s = d.createElement("script");
        //s.src = "https://client.crisp.chat/l.js";
        //s.async = 1;
        //d.getElementsByTagName("head")[0].appendChild(s);
        // })();
    </script>
</head>
<body>
<header>
    <div class="wait">
        <div class="loader"></div>
    </div>
    <div class="loading">
        <div class="loader"></div>
    </div>
    <div class="header">
        {% include "caisse/menu.html.twig" %}
    </div>
</header>

<section class="caisse-block">
    <div class="  ">
        <div class="">
            <div class="flash clearfix">
                {% include "::flash.html.twig" %}
            </div>
            <div class="col float-left" style="background: #f5f5f5;">
                {% block body %}{% endblock %}
            </div>
            <div class="aide"><p class="question" data-toggle="modal" data-target="#exampleModal">Besoin d'aide ?</p>
            </div>
        </div>
    </div>
</section>
<div id="myModal" class="modal fade" role="dialog"></div>
<div class="mymodal" style="display: none;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Besoin d'aide ?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="modal_content">
                    <div class="row">
                        <form id="form-filter" name="filter_form" style="padding: 10px 20px 0px 10px;width: 100%;" action="{{ path('tchat') }}"
                              method="post" class="">
                            <div class="form-group">
                                <input type="text" class="form-control" name="campany" placeholder="societe"
                                       required>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="name" placeholder="prénom" required>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="firstname" placeholder="nom" required>
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" name="email" placeholder="email" required>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="object" placeholder="objectif"
                                       required>
                            </div>
                            <div class="form-group">
                                    <textarea name="message" class="form-control" placeholder="message"
                                              required rows="5"></textarea>
                            </div>
                            <br/>
                            <div class="form-group">
                                <button type="submit" class="btn btn-secondary form-control">
                                    Envoyer
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Bootstrap core JavaScript-->
<script src="{{ asset('theme/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
<script src="{{ asset('theme/vendor/summernote/summernote-bs4.js') }}"></script>
<script src="{{ asset('theme/vendor/lightbox/js/lightbox.min.js') }}"></script>
<script src="{{ asset('app/js/caisse/default/index.js') }}"></script>
<script src="{{ asset('https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js') }}"></script>
<script src="{{ asset('https://cdnjs.cloudflare.com/ajax/libs/elfinder/2.1.29/js/elfinder.min.js') }}"></script>
<script>
    $(document).ajaxStart(function () {
        $(".wait").css("display", "block");
    });

    $(document).ajaxComplete(function () {
        $(".wait").css("display", "none");
    });
   // $('.aide').click(function () {
    //    $crisp.push(['do', 'chat:open']);
 //   })
    $(function () {
        $('[data-toggle="tooltip"]').tooltip();
        $(document).on('click','.question',function (e) {
            e.preventDefault();
            $('#myModal').html("<div class='modal-dialog modal-lg'>"+$('.mymodal').html()+'</div>');
            $('#myModal').find('.mymodal').show();
            $('#myModal').modal('show');
        });
    })
</script>
{% block javascripts %}
{% endblock %}
</body>
</html>