<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Projet ISIFID</title>
    <link rel="apple-touch-icon-precomposed" href="/ISILIS/Public/templates/yoo_helios/apple_touch_icon.png">
    <!-- Bootstrap core CSS-->
    <link rel="shortcut icon" href="{{ asset('theme/images/logos/logo.png') }}"/>
    <link href="{{ asset('theme/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link href="{{ asset('theme/vendor/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('theme/vendor/summernote/summernote-bs4.css') }}" rel="stylesheet">
    <link href="{{ asset('app/css/back/layout.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('app/css/agence_back.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('app/css/caisse/isilis-responsive.css') }}" rel="stylesheet" type="text/css">
    <script src="{{ asset('theme/vendor/jquery/jquery.min.js') }}"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.structure.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/elfinder/2.1.29/css/elfinder.min.css" rel="stylesheet">

    <script type="text/javascript">
        jQuery(window).on('load', function () {
            // Animate loader off screen
            jQuery(".loading").fadeOut("slow");
        });
    </script>
    <style>
        .dialogelfinder{
            z-index: 10000;
        }
        .wait {
            display: none;
            width: 100%;
            text-align: center;
            position: fixed;
            z-index: 2000;
        }
    </style>
    <style>
        .loading {
            width: 100%;
            text-align: center;
            position: fixed;
            z-index: 2000;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: #fff;
            opacity: .6;
        }
    </style>
    {% block stylesheets %}{% endblock %}
    <script type="text/javascript">
        //window.$crisp = [];
        //window.CRISP_WEBSITE_ID = "e3c64c5c-323d-4b72-bf1c-feccf903d20d";
        //(function () {
        //  d = document;
        //s = d.createElement("script");
        //s.src = "https://client.crisp.chat/l.js";
        //s.async = 1;
        //d.getElementsByTagName("head")[0].appendChild(s);
        //})();
    </script>
</head>

<body>
<header>
    <div class="wait">
        <div class="loader"></div>
    </div>
    <div class="loading">
        <div class="loader"></div>
    </div>
</header>
<section>
    <div class="row m-0">
        <div class="col-sm-3 menu-black menu-black-left" style="min-height: 100vh">
            <div class="">
                <p class="info"><img src="{{ asset('theme/images/logos/logo_isilis.png') }}" width="38" height="40"></p>
            </div>
            <div class="position-relative bg-logo p-3 mb-4 mt-3">
                <div class="col-sm-12 text-center">
                    <a href="{{ path('index_custumer') }}">
                        <img src="{{ asset(agence.getWebIcone()) }}" class="img-fluid" style="max-height: 100px;">
                    </a>
                </div>
                <div class="user_caption text-center">
                    <!--{{ agence.name }}<br>-->
                    {# <a href="{{ path('fos_user_security_logout') }}">Déconnexion</a>#}
                </div>
            </div>
            <ul class="menu-left">
                <li class="">
                    <a href="javascript:void(0)" class="link_parent">
                        <span class="nav-link-text">CLIENTS</span>
                    </a>
                    <ul class="sub-menu">
                        <li class="{% if app.request.get('_route') in ['index_custumer'] %}active{% endif %}">
                            <a href="{{ path('index_custumer') }}">LISTE DES CLIENTS</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:void(0)"
                       class="link_parent ">
                        <span class="">CAMPAGNES</span>
                    </a>
                    <ul class="sub-menu">
                        <li class="{% if app.request.get('_route') in ['campaign_active_index'] %}active{% endif %}">
                            <a href="{{ path('campaign_active_index') }}">CAMPAGNES ACTIVES </a>
                            {% if app.request.get('_route') in ['campaign_active_index'] %}
                                <ul class="tree">
                                    {% for bank in banks %}
                                        <li>
                                            <a class="filter-active" href="javascript:void(0)"
                                               data-id="{{ bank.bank_data.id }}"> {{ bank.bank_data.name }}
                                                ({{ bank.campaigns|length }})</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </li>
                        <li class="{% if app.request.get('_route') in ['campaign_done_index'] %}active{% endif %}">
                            <a href="{{ path('campaign_done_index') }}">CAMPAGNES TERMINEES </a>
                            {% if app.request.get('_route') in ['campaign_done_index'] %}
                                <ul class="tree sub-menu">
                                    {% for bank in banks %}
                                        <li>
                                            <a class="filter-done" href="javascript:void(0)"
                                               data-id="{{ bank.bank_data.id }}">{{ bank.bank_data.name }}
                                                ({{ bank.campaigns|length }})</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#"
                       class="link_parent ">
                        <span class="javascript:void(0)">OPERATIONS</span>
                    </a>
                    <ul class="sub-menu">
                        <li class="{% if app.request.get('_route') in ['operation_validation_index'] %}active{% endif %}">
                            <a href="{{ path('operation_validation_index') }}">OPERATIONS EN VALIDATION</a>
                        </li>
                        <li class="{% if app.request.get('_route') in ['operation_done_index'] %}active{% endif %}">
                            <a href="{{ path('operation_done_index') }}">OPERATIONS TERMINEES</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <div class="aide"><p class="question" data-toggle="modal" data-target="#exampleModal">Besoin d'aide ?</p>
            </div>
        </div>
        <div class="col bg-content">
            <div class="row header">
                <div class="col-sm-12 part-right p-0">
                    <div class="lien-top row">
                        {% include "agence/menu.html.twig" %}
                    </div>
                </div>
            </div>

            <div class="flash">
                {% include "::flash.html.twig" %}
            </div>
            {% block body %}{% endblock %}
        </div>
    </div>
</section>
<footer>
    <div class="modal" tabindex="-1" role="dialog" id="modal-msg"></div>
    <div id="myModal" class="modal fade" role="dialog"></div>
    <div class="mymodal" style="display: none;">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Besoin d'aide ?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="modal_content">
                        <div class="row">
                            <form id="" name="filter_form" style="padding: 10px 20px 0px 10px;width: 100%;"
                                  action="{{ path('tchat') }}"
                                  method="post" class="">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="campany" placeholder="societe"
                                           required>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" name="name" placeholder="prénom" required>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" name="firstname" placeholder="nom" required>
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" name="email" placeholder="email" required>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" name="object" placeholder="objectif"
                                           required>
                                </div>
                                <div class="form-group">
                                    <textarea name="message" class="form-control" placeholder="message"
                                              required rows="5"></textarea>
                                </div>
                                <br/>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-secondary form-control">
                                        Envoyer
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</footer>
<!-- Bootstrap core JavaScript-->
<script src="{{ asset('theme/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}">
</script>
<script src="{{ asset('theme/vendor/summernote/summernote-bs4.js') }}"></script>
<script src="{{ asset('https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js') }}"></script>
<script src="{{ asset('https://cdnjs.cloudflare.com/ajax/libs/elfinder/2.1.29/js/elfinder.min.js') }}"></script>
<script src=""></script>
<script>
    $(document).ready(function () {

        $(function () {
            //$('.tinymce').summernote();

            $("#modal-msg").on("show.bs.modal", function (e) {
                var link = $(e.relatedTarget);
                $(this).load(link.attr("href"));
            });

            $(document).on("hidden.bs.modal", function (e) {
                $(e.target).empty();
            });

            $(document).on('click', '.question', function (e) {
                e.preventDefault();
                $('#myModal').html("<div class='modal-dialog modal-lg'>" + $('.mymodal').html() + '</div>');
                $('#myModal').find('.mymodal').show();
                $('#myModal').modal('show');
            });
        });

        $(document).ajaxStart(function () {
            $(".wait").css("display", "block");
        });

        $(document).ajaxComplete(function () {
            $(".wait").css("display", "none");
        });
        //$('.aide').click(function () {
        //    $crisp.push(['do', 'chat:open']);
        //})
        $(".btn-left-menu").click(function () {
            event.stopPropagation();
            $(".menu-black.menu-black-left").removeClass("toggled");
            $(".menu-mobile").addClass("toggled");
        });
        $(".menu-xs-trigger").click(function () {
            event.stopPropagation();
            $(".menu-mobile").removeClass("toggled");
            $(".menu-black.menu-black-left").addClass("toggled");
        });
        $(window).click(function () {
            $(".menu-mobile").removeClass("toggled");
            $(".menu-black.menu-black-left").removeClass("toggled");
        });


        $('.filter-active').click(function () {
            $(".wait").css("display", "block");
            var id = $(this).data('id');
            var url_campaign = Routing.generate('filter_campaign', {id: id});
            $.get(url_campaign, function (data) {
                $('.filter-result').html(data);
                $(".wait").css("display", "none");
            })
        });
        $('.filter-done').click(function () {
            $(".wait").css("display", "block");
            var id = $(this).data('id');
            var url_campaign = Routing.generate('filter_campaign_done', {id: id});
            $.get(url_campaign, function (data) {
                $('.filter-result').html(data);
                $(".wait").css("display", "none");
            })
        });
    })
</script>
{% block javascripts %}{% endblock %}
</body>

</html>
