<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Projet ISIFID</title>
    <link rel="apple-touch-icon-precomposed" href="/ISILIS/Public/templates/yoo_helios/apple_touch_icon.png">
    <!-- Bootstrap sdhfuijhcore CSS-->
    <link rel="shortcut icon" href="{{ asset('theme/images/logos/logo.png') }}"/>
    <link href="{{ asset('theme/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link href="{{ asset('theme/vendor/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('theme/vendor/summernote/summernote-bs4.css') }}" rel="stylesheet">
    <link href="{{ asset('app/css/back/layout.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('app/css/agence_back.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('app/css/back/back-responsive.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('theme/vendor/css/uploadfile.css') }}" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.structure.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/elfinder/2.1.29/css/elfinder.min.css" rel="stylesheet">
    <script src="{{ asset('theme/vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('theme/vendor/jquery/jquery.min.js') }}"></script>

    <script type="text/javascript">
        jQuery(window).on('load', function () {
            // Animate loader off screen
            jQuery(".loading").fadeOut("slow");
        });
    </script>
    <style>
        .dialogelfinder{
            z-index: 10000;
        }
        .wait {
            display: none;
            width: 100%;
            text-align: center;
            position: fixed;
            z-index: 2000;
        }

        .loading {
            width: 100%;
            text-align: center;
            position: fixed;
            z-index: 2000;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: #fff;
            opacity: .6;
        }
    </style>
    {% block stylesheets %}

    {% endblock %}
</head>

<body class="">
<header>
    <div class="wait">
        <div class="loader"></div>
    </div>
    <div class="loading">
        <div class="loader"></div>
    </div>
</header>
<section>
    <div class="row global">
        <div class="col-sm-3 menu-black menu-black-left">
            <p class="info"><img src="{{ asset('theme/images/logos/logo_isilis.png') }}" width="38" height="40"></p>
            <ul class="main-menu">
                <li class="{% if app.request.get('_route') in ['campaign_active','campaign_done', 'new_campaign'] %}active{% endif %}">
                    <a href="javascript:void(0)">
                        <span class="nav-link-text titre">CAMPAGNES</span>
                    </a>
                    <ul class="menu-first-level ">
                        <li class="{% if app.request.get('_route') in ['new_campaign'] %}active{% endif %}">
                            <a href="{{ path('new_campaign') }}">CRÉER UNE CAMPAGNE</a>
                        </li>
                        <li class=" {% if app.request.get('_route') in ['campaign_active'] %}active{% endif %}">
                            <a href="{{ path('campaign_active') }}">CAMPAGNES ACTIVES </a>
                            {% if app.request.get('_route') in ['campaign_active'] %}
                                <ul class="tree">
                                    {% for bank in banks %}
                                        <li>
                                            <a href="javascript:void(0)" class="filter-active"
                                               data-id="{{ bank.bank_data.id }}"> {{ bank.bank_data.name }}
                                                ({{ bank.campaign_data|length }})</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </li>
                        <li class="{% if app.request.get('_route') in ['campaign_done'] %}active{% endif %}">
                            <a href="{{ path('campaign_done') }}">CAMPAGNES TERMINEES </a>
                            {% if app.request.get('_route') in ['campaign_done'] %}
                                <ul class="tree">
                                    {% for bank in banks %}
                                        <li>
                                            <a href="javascript:void(0)" class="filter-done"
                                               data-id="{{ bank.bank_data.id }}"> {{ bank.bank_data.name }}
                                                ({{ bank.campaign_data|length }})</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </li>
                    </ul>
                </li>
                <li class="{% if app.request.get('_route') in ['operation_validation', 'operation_active', 'operation_done', 'operation_new'] %}active{% endif %}">
                    <a href="javascript:void(0)">
                        <span class="titre">OPÉRATIONS</span>
                    </a>
                    <ul class="menu-first-level">
                        <li class="{% if app.request.get('_route') in ['operation_new'] %}active{% endif %}">
                            <a href="{{ path('operation_new') }}">CRÉER OPÉRATION</a>
                        </li>
                        <li class="{% if app.request.get('_route') in ['operation_validation'] %}active{% endif %}">
                            <a href="{{ path('operation_validation') }}">OPÉRATIONS EN VALIDATION</a>
                            {% if app.request.get('_route') in ['operation_validation'] %}
                                <ul class="tree">
                                    {% for bank in banks %}
                                        <li>
                                            <a href="javascript:void(0)" class="activation"
                                               data-id="{{ bank.bank_data.id }}"> {{ bank.bank_data.name }}
                                                ({{ bank.operation_data|length }})</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </li>
                        <li class="{% if app.request.get('_route') in ['operation_active'] %}active{% endif %}">
                            <a href="{{ path('operation_active') }}">OPÉRATIONS ACTIVES</a>
                            {% if app.request.get('_route') in ['operation_active'] %}
                                <ul class="tree">
                                    {% for bank in banks %}
                                        <li>
                                            <a href="javascript:void(0)" class="operation-active"
                                               data-id="{{ bank.bank_data.id }}"> {{ bank.bank_data.name }}
                                                ({{ bank.operation_data|length }})</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </li>
                        <li class="{% if app.request.get('_route') in ['operation_done'] %}active{% endif %}">
                            <a href="{{ path('operation_done') }}">OPÉRATIONS TERMINEES</a>
                            {% if app.request.get('_route') in ['operation_done'] %}
                                <ul class="tree">
                                    {% for bank in banks %}
                                        <li>
                                            <a href="javascript:void(0)" class="operation-done"
                                               data-id="{{ bank.bank_data.id }}"> {{ bank.bank_data.name }}
                                                ({{ bank.operation_data|length }})</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        <span class="titre">BANQUES</span>
                    </a>
                    <ul class="menu-first-level">
                        <li class="{% if app.request.get('_route') in ['bank_new'] %}active{% endif %}">
                            <a href="{{ path('bank_new') }}">CRÉER UNE BANQUE</a>
                        </li>
                        <li class="{% if app.request.get('_route') in ['bank'] %}active{% endif %}">
                            <a href="{{ path('bank') }}">LISTE DES BANQUES</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        <span class="titre">CAISSES REGIONALES</span>
                    </a>
                    <ul class="menu-first-level">
                        <li class="{% if app.request.get('_route') in ['caisse_new'] %}active{% endif %}">
                            <a href="{{ path('caisse_new') }}">CRÉER UNE CAISSE</a>
                        </li>
                        <li class="{% if app.request.get('_route') in ['caisse'] %}active{% endif %}">
                            <a href="{{ path('caisse') }}">LISTE DES CAISSES</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        <span class="titre">AGENCES DE COM</span>
                    </a>
                    <ul class="menu-first-level">
                        <li class="{% if app.request.get('_route') in ['agence_new'] %}active{% endif %}">
                            <a href="{{ path('agence_new') }}">CRÉER UNE AGENCE DE COM</a>
                        </li>
                        <li class="{% if app.request.get('_route') in ['agence'] %}active{% endif %}">
                            <a href="{{ path('agence') }}">LISTE DES AGENCES DE COM</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

        <div class="col part-right">

            <div class="lien-top row">
                <div class="col-2 d-block d-md-none text-right">

                    <a href="javascript:void(0)" class="menu-xs-trigger">
                        <img src="/isilis-project/web/theme/images/img/menu_trensparent.png" width="20">
                    </a>
                </div>
                <div class="col-8 col-md-5">
                    {{ render(controller('BackBundle:Search:searchForm',{ 'request':app.request})) }}
                </div>
                <div class="col-2 d-block d-md-none mt-2 text-left">
                    <a href="javascript:void(0)" class="btn btn-default btn-left-menu text-dark"><i
                                class="fa fa-user"></i> </a>

                </div>
                <ul class="col-7 m-0 d-none d-md-block">
                    <li class="dropdown parent-li">
                        <a class="dropdown-toggle" href="javascript:void(0)" role="button" id="dropdownB"
                           data-toggle="dropdown" aria-expanded="false" aia-haspopup="true">
                            <p><i class="fa fa-envelope fa-w-16"></i></p>
                            Messageries ({{ nbmsg }})
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right messagerie-dropdown" aria-labelledby="dropdownB">
                            {% if new_oprations|length == 0 %}
                                <li class="dropdown-item">
                                    Vous n’avez pas des nouveaux messages
                                </li>
                            {% endif %}
                            {% for item in new_oprations %}
                                <li class="dropdown-item">
                                    <a href="{{ path('operation_detail', {'id':item.operation.id}) }}">
                                        <b style="color: red">{{ item.operation.caisse.bank.name }}
                                            /{{ item.operation.caisse.name }}/{{ item.operation.name }}({{ item.nbmsg }}
                                            )</b>
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li class=" parent-li">
                        <a href="{{ path('caisse_contact') }}"><p><i class="fa fa-address-book"></i></p>
                            <p>Contacts</p></a>
                    </li>
                    <li class="dropdown parent-li">

                        <a class="dropdown-toggle" href="javascript:void(0)" role="button" id="dropdownB"
                           data-toggle="dropdown" aria-expanded="false" aia-haspopup="true"><p><i
                                        class="fa fa-cog fa-w-16"></i>
                            <p>Paramètres</p></a>
                        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownB">
                            {% if is_granted('ROLE_COMERCIAL') %}
                                <li class="dropdown-submenu">
                                    <a href="{{ path('commercial_edit',{id:app.user.commercial.id}) }}">Edit votre
                                        profile</a>
                                </li>

                                <li class="dropdown-submenu">
                                    <div class="dropdown-divider"></div>
                                    <a href="javascript:void(0)"><b>Objectif de la campagne</b></a>
                                    <div class="dropdown-divider"></div>
                                </li>
                                <li class="dropdown-submenu">
                                    <a href="{{ path('objet_campaign_new') }}">Créer un objectif</a>
                                </li>
                                <li class="dropdown-submenu">
                                    <a href="{{ path('index_object_campaign') }}">Liste des objectifs</a>
                                </li>
                                <li class="dropdown-submenu">
                                    <div class="dropdown-divider"></div>
                                    <a href="javascript:void(0)"><b>Objectif de l'operation</b></a>
                                    <div class="dropdown-divider"></div>
                                </li>
                                <li class="dropdown-submenu">
                                    <a href="{{ path('objectif_operation_new') }}">Créer un objectif</a>
                                </li>
                                <li class="dropdown-submenu">
                                    <a href="{{ path('index_objectif_operation') }}">Liste des objectifs</a>
                                </li>
                                <li class="dropdown-submenu">
                                    <div class="dropdown-divider"></div>
                                    <a href="{{ path('parametre_notif') }}"><b>Notification</b></a>
                                    <div class="dropdown-divider"></div>
                                </li>
                            {% else %}
                                <li class="dropdown-item">
                                    <a href="javascript:void(0)"><b>Commercial</b></a>
                                    <div class="dropdown-divider"></div>
                                </li>
                                <li class="dropdown-submenu">
                                    <a href="{{ path('commercial_new') }}">Créer un commercial</a>
                                </li>
                                <li class="dropdown-submenu">
                                    <a href="{{ path('commercial') }}">Liste des commerciaux</a>
                                </li>
                                <li class="dropdown-submenu">
                                    <div class="dropdown-divider"></div>
                                    <a href="javascript:void(0)"><b>Objectif de la campagne</b></a>
                                    <div class="dropdown-divider"></div>
                                </li>
                                <li class="dropdown-submenu">
                                    <a href="{{ path('objet_campaign_new') }}">Créer un objectif</a>
                                </li>
                                <li class="dropdown-submenu">
                                    <a href="{{ path('index_object_campaign') }}">Liste des objectifs</a>
                                </li>
                                <li class="dropdown-submenu">
                                    <div class="dropdown-divider"></div>
                                    <a href="javascript:void(0)"><b>Objectif de l'operation</b></a>
                                    <div class="dropdown-divider"></div>
                                </li>
                                <li class="dropdown-submenu">
                                    <a href="{{ path('objectif_operation_new') }}">Créer un objectif</a>
                                </li>
                                <li class="dropdown-submenu">
                                    <a href="{{ path('index_objectif_operation') }}">Liste des objectifs</a>
                                </li>
                                <li class="dropdown-submenu">
                                    <div class="dropdown-divider"></div>
                                    <a href="{{ path('parametre_notif') }}"><b>Notification</b></a>
                                    <div class="dropdown-divider"></div>
                                </li>
                            {% endif %}
                            <li class="dropdown-submenu">
                                <a href="{{ path('diffusion') }}"><b>liste de diffusion</b></a>
                            </li>
                            <li class="dropdown-submenu">
                                <div class="dropdown-divider"></div>
                                <a href="{{ path('fos_user_security_logout') }}"><b>Se déconnecter</b></a>
                                <div class="dropdown-divider"></div>
                            </li>
                        </ul>
                    </li>
                    <li class=" parent-li">
                        <a href="{{ path('back_home') }}"><p><i class="fa fa-line-chart"></i></p>
                            <p>Statistiques</p></a>
                    </li>
                </ul>
            </div>

            <div class="right-sidebar">
                <ul class="menu-responsive">
                    <a href="javascript:void(0)" class="menu-xs-close"><i class="fa fa-close"></i> </a>
                    <li class="dropdown">
                        <a class="dropdown-toggle" href="javascript:void(0)" role="button" id="dropdownB"
                           data-toggle="dropdown" aria-expanded="false" aia-haspopup="true">
                            <p><i class="fa fa-envelope fa-w-16"></i></p>
                            Messageries ({{ nbmsg }})
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownB">
                            {% for item in new_oprations %}
                                <li class="dropdown-item">
                                    <a href="{{ path('operation_detail', {'id':item.operation.id}) }}"
                                       data-remote="false" data-toggle="modal" data-target="#modal-msg">
                                        <b>{{ item.operation.name }}({{ item.nbmsg }})</b>
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li>
                        <a href="{{ path('caisse_contact') }}"><p><i class="fa fa-address-book"></i></p>
                            <p>Contacts</p></a>
                    </li>
                    <li class="dropdown">

                        <a class="dropdown-toggle" href="javascript:void(0)" role="button" id="dropdownB"
                           data-toggle="dropdown" aria-expanded="false" aia-haspopup="true"><p><i
                                        class="fa fa-cog fa-w-16"></i>
                            <p>Paramètres</p></a>
                        <ul class="dropdown-menu dropdown-menu-right pl-2" aria-labelledby="dropdownB">
                            {% if is_granted('ROLE_COMERCIAL') %}
                                <li class="dropdown-submenu">
                                    <a href="{{ path('commercial_edit',{id:app.user.commercial.id}) }}">Edit votre
                                        profile</a>
                                </li>

                                <li class="dropdown-submenu">
                                    <div class="dropdown-divider"></div>
                                    <a href="javascript:void(0)"><b>Objectif de la campagne</b></a>
                                    <div class="dropdown-divider"></div>
                                </li>
                                <li class="dropdown-submenu">
                                    <a href="{{ path('objet_campaign_new') }}">Créer un objectif</a>
                                </li>
                                <li class="dropdown-submenu">
                                    <a href="{{ path('index_object_campaign') }}">Liste des objectifs</a>
                                </li>
                                <li class="dropdown-submenu">
                                    <div class="dropdown-divider"></div>
                                    <a href="javascript:void(0)"><b>Objectif de l'operation</b></a>
                                    <div class="dropdown-divider"></div>
                                </li>
                                <li class="dropdown-submenu">
                                    <a href="{{ path('objectif_operation_new') }}">Créer un objectif</a>
                                </li>
                                <li class="dropdown-submenu">
                                    <a href="{{ path('index_objectif_operation') }}">Liste des objectifs</a>
                                </li>
                                <li class="dropdown-submenu">
                                    <div class="dropdown-divider"></div>
                                    <a href="{{ path('parametre_notif') }}"><b>Notification</b></a>
                                    <div class="dropdown-divider"></div>
                                </li>
                            {% else %}
                                <li class="dropdown-item">
                                    <a href="javascript:void(0)"><b>Commercial</b></a>
                                    <div class="dropdown-divider"></div>
                                </li>
                                <li class="dropdown-submenu">
                                    <a href="{{ path('commercial_new') }}">Créer un commercial</a>
                                </li>
                                <li class="dropdown-submenu">
                                    <a href="{{ path('commercial') }}">Liste des commerciaux</a>
                                </li>
                                <li class="dropdown-submenu">
                                    <div class="dropdown-divider"></div>
                                    <a href="javascript:void(0)"><b>Objectif de la campagne</b></a>
                                    <div class="dropdown-divider"></div>
                                </li>
                                <li class="dropdown-submenu">
                                    <a href="{{ path('objet_campaign_new') }}">Créer un objectif</a>
                                </li>
                                <li class="dropdown-submenu">
                                    <a href="{{ path('index_object_campaign') }}">Liste des objectifs</a>
                                </li>
                                <li class="dropdown-submenu">
                                    <div class="dropdown-divider"></div>
                                    <a href="javascript:void(0)"><b>Objectif de l'operation</b></a>
                                    <div class="dropdown-divider"></div>
                                </li>
                                <li class="dropdown-submenu">
                                    <a href="{{ path('objectif_operation_new') }}">Créer un objectif</a>
                                </li>
                                <li class="dropdown-submenu">
                                    <a href="{{ path('index_objectif_operation') }}">Liste des objectifs</a>
                                </li>
                                <li class="dropdown-submenu">
                                    <div class="dropdown-divider"></div>
                                    <a href="{{ path('parametre_notif') }}"><b>Notification</b></a>
                                    <div class="dropdown-divider"></div>
                                </li>
                            {% endif %}
                            <li class="dropdown-submenu">
                                <div class="dropdown-divider"></div>
                                <a href="{{ path('fos_user_security_logout') }}"><b>Se déconnecter</b></a>
                                <div class="dropdown-divider"></div>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="{{ path('back_home') }}"><p><i class="fa fa-line-chart"></i></p>
                            <p>Statistiques</p></a>
                    </li>
                </ul>
            </div>

            <div class="flash">
                {% include "::flash.html.twig" %}
            </div>
            <div class="col contenu float-left">
                {% block body %}{% endblock %}
            </div>
        </div>
    </div>
</section>
<footer>
    <div class="modal" tabindex="-1" role="dialog" id="modal-msg"></div>
</footer>
<!-- Bootstrap core JavaScript-->

<script src="{{ asset('theme/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
<script src="{{ asset('theme/vendor/summernote/summernote-bs4.js') }}"></script>
<script src="{{ asset('theme/vendor/summernote/lang/summernote-fr-FR.js') }}"></script>
<script src="{{ asset('https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js') }}"></script>
<script src="{{ asset('https://cdnjs.cloudflare.com/ajax/libs/elfinder/2.1.29/js/elfinder.min.js') }}"></script>
<script src="{{ asset('app/js/back/back.js') }}"></script>
<script>
    $(document).ready(function () {
        $('.tinymce').summernote({
            lang: "fr-FR"
        });

        $("#modal-msg").on("show.bs.modal", function (e) {
            var link = $(e.relatedTarget);
            $(this).load(link.attr("href"));
        });

        $(document).on("hidden.bs.modal", function (e) {
            $(e.target).empty();
        });
        $(document).ajaxStart(function () {
            $(".wait").css("display", "block");
        });

        $(document).ajaxComplete(function () {
            $(".wait").css("display", "none");
        });
        $('.filter-active').click(function () {
            var id = $(this).data('id');
            var url_campaign = Routing.generate('filter_active_campaign', {id: id});
            $.get(url_campaign, function (data) {
                $('.filter-result').html(data);
            });
        });
        $('.filter-done').click(function () {
            var id = $(this).data('id');
            var url_campaign = Routing.generate('filter_done_campaign', {id: id});
            $.get(url_campaign, function (data) {
                $('.filter-result').html(data);
            });
        });
        $('.operation-active').click(function () {
            var id = $(this).data('id');
            var url_campaign = Routing.generate('filter_active_operation', {id: id});
            $.get(url_campaign, function (data) {
                $('.filter-result').html(data);
            });
        });
        $('.operation-done').click(function () {
            var id = $(this).data('id');
            var url_campaign = Routing.generate('filter_done_operation', {id: id});
            $.get(url_campaign, function (data) {
                $('.filter-result').html(data);
            });
        });
        $('.activation').click(function () {
            var id = $(this).data('id');
            var url_campaign = Routing.generate('filter_activation_operation', {id: id});
            $.get(url_campaign, function (data) {
                $('.filter-result').html(data);
            });
        });

        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    });
</script>
{% block javascripts %}
{% endblock %}

</body>

</html>
