<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Projet ISIFID</title>
    <link rel="apple-touch-icon-precomposed" href="/ISILIS/Public/templates/yoo_helios/apple_touch_icon.png">
    <!-- Bootstrap core CSS-->
    <link rel="shortcut icon" href="{{ asset('theme/images/logos/isilis_logo.png') }}"/>
    <link href="{{ asset('theme/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link href="{{ asset('theme/vendor/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('app/css/back/layout.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('app/css/agence_back.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('app/css/back/caisse.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('app/css/caisse/caisse_style.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('app/css/caisse/isilis-responsive.css') }}" rel="stylesheet" type="text/css">
    <script src="{{ asset('theme/vendor/jquery/jquery.min.js') }}"></script>

    <script type="text/javascript">
        jQuery(window).on('load', function () {
            // Animate loader off screen
            jQuery(".loading").fadeOut("slow");
        });
    </script>
    <style>
        .wait {
            display: none;
            width: 100%;
            text-align: center;
            position: fixed;
            z-index: 2000;
        }

        .loading {
            width: 100%;
            text-align: center;
            position: fixed;
            z-index: 2000;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: #fff;
            opacity: .6;
        }
    </style>
    {% block stylesheets %}{% endblock %}
    <link rel="shortcut icon" href="{{ asset('theme/images/logos/isilis_logo.png') }}"/>
    <script type="text/javascript">
        //window.$crisp = [];
        //window.CRISP_WEBSITE_ID = "e3c64c5c-323d-4b72-bf1c-feccf903d20d";
        //(function () {
          //  d = document;
            //s = d.createElement("script");
            //s.src = "https://client.crisp.chat/l.js";
            //s.async = 1;
            //d.getElementsByTagName("head")[0].appendChild(s);
        //})();
    </script>
</head>
<body>
<div class="loading">
    <div class="loader"></div>
</div>
<header>
    <div class="header">
        {% include "agence/menu_param.html.twig" %}
    </div>
</header>
<div class="info caisse_settings">
    <section class="container">
        <div class="row ">
            <div class="col-12 col-md-3 menu-right-caise">
                {#% if granted('ROLE_CAISSE_PARAM') %#}
                <ul class="menu-right-caise-xs  d-block d-md-none">
                    <li class="{% if app.request.get('_route') in ['agence_info'] %}active{% endif %}">
                        <a href="{{ path('agence_info') }}">
                            <span class="">Informations</span>
                        </a>
                    </li>
                    <li class="{% if app.request.get('_route') in ['caisse_collaborateur'] %}active{% endif %}">
                        <a href="{{ path('agence_collaborateur') }}">
                            <span class="">Collaborateurs</span>
                        </a>
                    </li>
                </ul>
                <ul class="list-group list-info d-none d-md-block">
                    <li class="{% if app.request.get('_route') in ['agence_info'] %}active{% endif %}">
                        <a href="{{ path('agence_info') }}">
                            <span class="">Informations</span>
                        </a>
                    </li>
                    <li class="{% if app.request.get('_route') in ['agence_collaborateur'] %}active{% endif %}">
                        <a href="{{ path('agence_collaborateur') }}">
                            <span class="">Collaborateurs</span>
                        </a>
                    </li>
                </ul>
                {#% endif %#}
            </div>
            <div class="col-sm-9 bloc-left-caise">
                <div class="flash">
                    {% include "::flash.html.twig" %}
                </div>
                <div class="contenu">
                    {% block body %}{% endblock %}
                </div>
            </div>
        </div>
    </section>
    <div class="modal" tabindex="-1" role="dialog" id="modal-msg"></div>
</div>
<!-- Bootstrap core JavaScript-->
<script src="{{ asset('theme/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
<script>
    $(function () {
        tinymce.init({
            selector: ".tinymce",
            menubar: false,
            language: 'fr_FR',
            plugins: [
                "advlist autolink link image lists charmap print preview hr anchor pagebreak spellchecker",
                "searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking",
                "save table contextmenu directionality emoticons template paste textcolor filemanager"
            ],
            toolbar: "undo redo | bold italic | formatselect fontsizeselect | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image",
            style_formats: [
                {title: 'Bold text', inline: 'b'},
                {title: 'Red text', inline: 'span', styles: {color: '#ff0000'}},
                {title: 'Red header', block: 'h1', styles: {color: '#ff0000'}},
                {title: 'Example 1', inline: 'span', classes: 'example1'},
                {title: 'Example 2', inline: 'span', classes: 'example2'},
                {title: 'Table styles'},
                {title: 'Table row 1', selector: 'tr', classes: 'tablerow1'}
            ],
            setup: function (ed) {
                ed.on('init', function () {
                    this.getDoc().body.style.fontSize = '13px';
                });
            }
            ,
            relative_urls: false,
            remove_script_host: false,
            convert_urls: true
        });

        $("#modal-msg").on("show.bs.modal", function (e) {
            var link = $(e.relatedTarget);
            $(this).load(link.attr("href"));
        });

        $(document).on("hidden.bs.modal", function (e) {
            $(e.target).empty();
        });
    });

    $(document).ajaxStart(function () {
        $(".wait").css("display", "block");
    });

    $(document).ajaxComplete(function () {
        $(".wait").css("display", "none");
    });
    $('.aide').click(function () {
        $crisp.push(['do', 'chat:open']);
    })
</script>
{% block javascripts %}
{% endblock %}
</body>
</html>