
{% for key, flash in app.session.flashbag.get('notice') %}
    <div class="alert alert-warning" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        {{flash|raw}}</div>
{% endfor %}

{% for key, flash in app.session.flashbag.get('error') %}
    <div class="alert alert-danger" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        {{flash|raw}}
    </div>
{% endfor %}



{% for key, flash in app.session.flashbag.get('success') %}
    <div class="alert alert-success" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        {{flash|raw}}
    </div>
{% endfor %}


