{% extends "base_agnece.html.twig" %}

{% block stylesheets %}
    <link href="{{ asset('app/css/agence/campaign/tree.css') }}" rel="stylesheet">
    <link href="{{ asset('app/css/agence/campaign/lightbox.min.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="row-filter">
        {{ render(controller('AgenceBundle:Campaign:FormFilter',{ 'request':app.request, 'status':'active'})) }}
    </div>
    <div class="filter-result">
        {% set row = 1 %}
        {% set target_container = 3 %}
        {% for bank in banks %}
            <div class="row">
                <div class="">
                    <div class="bg-white w-100 float-left border-bottom mb-2 mt-2">
                        <div class="col col-lg-6 float-left">
                            <span class="p-3 font-weight-bold d-block">
                                <span class="col-lg-1 text-center bg-white p-1 h-100"><img
                                            src="{{ asset('uploads/icones/'~bank.bank_data.icon) }}" width="40px"
                                            height="40px"></span>
                                {{ bank.bank_data.name }}
                            </span>
                        </div>
                        <div class="col pull-right col-lg-6 text-right">
                            <span class="p-3 font-weight-bold d-block"> {{ bank.campaigns|length }} campagnes actives | <i
                                        class="fa fa-download"></i> <a
                                        href="{{ asset('uploads/charts/'~bank.bank_data.chart) }}" download>telecharger la
                                    charte graphique</a></span>
                        </div>
                    </div>
                    <div class="col result-bloc float-left">
                        <div class="" id="search-result">
                            {% for campagin in bank.campaigns %}
                                <div class="col-md-4 caise float-left">
                                    <div class="col-md-12 caisse-img">
                                        <a class="img-detail" data-id="{{ campagin.campaign_data.id }}"
                                           data-target="{{ target_container }}" href="javascript:void(0)"
                                           href-data="{{ path('agence_campaign_detail', {'id':campagin.campaign_data.id}) }}">
                                            <img src="{{ asset(campagin.campaign_data.getWebPath()) }}"
                                                 style="width: 394px; height: 119px" class="img-fluid">
                                        </a>
                                    </div>
                                    <div class="col-md-12 caisse-description">
                                        <div class="bg-white p-3">
                                            <h3>{{ campagin.campaign_data.name }}</h3>
                                            <div class="descriptif">{{ campagin.campaign_data.description }}</div>
                                        </div>
                                    </div>
                                </div>
                                {% if loop.index % 3 == 0 or loop.index == bank.campaigns|length %}
                                    <div class="float-left detaill container-fluid campaign-show target-detail-{{ target_container }}"
                                         style="background-color:#38383a; ">
                                    </div>
                                    {% set target_container = target_container + 3 %}
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('app/js/agence/campaign/lightbox.js') }}"></script>
    <script src="{{ asset('app/js/agence/campaign/active.js') }}"></script>
{% endblock %}