<div class="container">
    <a href="javascript:void(0)" class="close-detail float-right"><i class="fa fa-close"></i></a>
    <div class="row">
        <div class="col-md-6 aa">
            <a class="example-image-link" href="{{ asset(campaign.getWebPath()) }}" data-lightbox="example-set">
                <img class="example-image img-fluid" src="{{ asset(campaign.getWebPath()) }}"
                     style="width: 394px; height: 119px">
            </a>
            <h3 class="caise-title-detail f-size-20 mt-3 mb-3 text-white">Eléments graphiques à disposition de cette
                opération</h3>
            {% for vweb in campaign.visualWebs %}
                {% if vweb.getWebPath != "" %}
                    {% if vweb.type == 'PDF' %}
                        <i class="fa fa-file-pdf-o text-white"></i>
                    {% else %}
                        <i class="fa fa-file-text  text-white"></i>
                    {% endif %}
                    <span class="{{ vweb.type }} ml-2 mr-2">{{ vweb.type }}</span>
                    <span class="image">
                        <a class="example-image-link" href="{{ asset(vweb.getWebPath()) }}" data-lightbox="example-1"
                           data-title="Visuel Webs.">{{ vweb.path }}</a>
                    </span>
                    <br>
                {% endif %}
            {% endfor %}
            {% for vprint in campaign.visualPrints %}
                {% if vprint.getWebPath != "" %}
                    {% if vprint.type == 'PDF' %}<i class="fa fa-file-pdf-o text-white"></i>{% else %}<i
                            class="fa fa-file-text text-white"></i>{% endif %}
                    <span class="ml-2 mr-2">{{ vprint.type }}</span>
                    <span class="image">
                            <a class="example-image-link" href="{{ asset(vprint.getWebPath()) }}"
                               data-lightbox="example-2"
                               data-title="Visuel Prints.">{{ vprint.path }}</a>
                        </span>
                    <br>
                {% endif %}
            {% endfor %}
        </div>
        <div class="col-md-6 aa detail-right ">
            <h3 class="caise-title-detail1 mb-4 text-white">{{ campaign.name }}</h3>
            {% if campaign.active %}
                <div class="etat">
                    <i class="fa fa-circle a0ca"></i> <span class="text-white">En cours</span>
                </div>
            {% else %}
                <div class="etat">
                    <i class="fa fa-circle text-danger"></i> <span class="text-white">Terminé</span>
                </div>
            {% endif %}
            {% if campaign.permanent != 1 %}
                <sapn class="etat text-white">
                    <i class="fa fa-clock-o"></i> du {{ campaign.startDate|date('d M. Y') }}
                    au {{ campaign.endDate|date('d M. Y') }}
                </sapn>
            {% endif %}
            <div>
                <p class="text-white">
                    {{ campaign.description }}
                </p>
            </div>
        </div>
    </div>
    <a href="javascript:void(0)" class="btn btn-lg btn-primary btn-detail float-right">TÉLÉCHARGER CETTE CAMPAGNE</a>
</div>

<script>

</script>

