<div class="offset-2 mt-3 form-check-inline">
    {{ form_start(form_campaign_filter, { 'attr': {'class': 'form-inline'}, 'method':'POST'}) }}
    Chercher:  &nbsp;
    <div class="form-group">
        {{ form_widget(form_campaign_filter.banque, { 'attr': {'class': 'form-control '~status}, }) }}
    </div>
    {{ form_rest(form_campaign_filter) }}
    {{ form_end(form_campaign_filter) }}
</div>


