{% extends 'base_back.html.twig' %}

{% block title %}Projet ISILIS {% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}
    <div class="bg-white">
        <h1>MODIFIER LE COMMERCIAL</h1>
        <hr />
        <form id="form-commercial" style="width: 100%" method="post" action="{{ path('commercial_edit', {'id':commercial.id}) }}"
              enctype="multipart/form-data">
            <div class="form-group">
                <label>Name: </label>
                {{ form_errors(form.name) }}
                {{ form_widget(form.name, {'attr': {'class':'form-control', 'placeholder':'Name'}}) }}
            </div>
            <div class="form-group">
                <label>Fonction: </label>
                {{ form_errors(form.fonction) }}
                {{ form_widget(form.fonction, {'attr':{'class':'form-control','placeholder':'Fonction'}}) }}
            </div>
            <div class="form-group">
                <label>Téléphone: </label>
                {{ form_errors(form.phone) }}
                {{ form_widget(form.phone, {'attr':{'class':'form-control','placeholder':'Téléphone',
                'pattern':'[0-9]{10}'}}) }}
            </div>
            <div class="form-group">
                <label>Email: </label>
                {{ form_errors(form.user.email) }}
                {{ form_widget(form.user.email, {'attr':{'class':'form-control','placeholder':'Email'}}) }}
            </div>
            {{ form_rest(form)}}
            <hr />
<div class="row">
<input type="submit" value="+ Valider">
</div>
        </form>
    </div>
{% endblock %}