{% extends 'base_back.html.twig' %}

{% block title %}Projet ISILIS {% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}
    <div class="bg-white">
        <h1>Liste des commerciaux</h1>
        <h4>
            <a class="titre-add" href="{{ path('commercial_new') }}">
                Créer un commercial
            </a>
        </h4>
        <hr>
        <div class="list-table">
            <div class="row">
                <div class="col-lg-3"><b>Nom</b></div>
                <div class="col-lg-2"><b>fonction</b></div>
                <div class="col-lg-4"><b>email</b></div>
                <div class="col-lg-2"><b>téléphone</b></div>
                <div class="col-lg-1"></div>
            </div>
            {% for commercial in commercials %}
                <div class="row">
                    <div class="col-lg-3">
                        {{ commercial.name }}
                    </div>
                    <div class="col-lg-2">
                        {{ commercial.fonction }}
                    </div>
                    <div class="col-lg-4">
                        {{ commercial.user.email }}
                    </div>
                    <div class="col-lg-2">
                        {{ commercial.phone }}
                    </div>
                    <div class="col-lg-1 group-link">
                        <a href="{{ path('commercial_edit', {'id':commercial.id}) }}">
                            <i class="fa fa-pencil"></i>
                        </a>
                        <a onclick="return confirm('Le commercial sera supprimé ?')"
                           href="{{ path('commercial_delete', {'id':commercial.id}) }}">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
