{% extends 'base_back.html.twig' %}

{% block title %}Projet ISILIS {% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}
    <div class="bg-white">
        <h1>CREER UN COMMERCIAL</h1>
        <hr/>
        <form id="form-commercial" class="pt-4" style="width: 100%" method="post" action="{{ path('commercial_new') }}"
              enctype="multipart/form-data">
            <div class="form-group">
                {{ form_errors(form.name) }}
                {{ form_widget(form.name, {'attr': {'class':'form-control', 'placeholder':'Name'}}) }}
            </div>
            <div class="form-group">
                {{ form_errors(form.fonction) }}
                {{ form_widget(form.fonction, {'attr':{'class':'form-control','placeholder':'Fonction'}}) }}
            </div>
            <div class="form-group">
                {{ form_errors(form.phone) }}
                {{ form_widget(form.phone, {'attr':{'class':'form-control','placeholder':'Téléphone',
                    'pattern':'[0-9]{10}'}}) }}
            </div>
            <div class="form-group">
                {{ form_errors(form.user.email) }}
                {{ form_widget(form.user.email, {'attr':{'class':'form-control','placeholder':'Email'}}) }}
            </div>
            {{ form_rest(form) }}
            <hr/>
            <div class="row">
                <input type="submit" value="+ Valider">
            </div>
        </form>
    </div>
{% endblock %}