{% extends "base_back.html.twig" %}

{% block title %}Projet ISILIS {% endblock %}

{% block stylesheets %}
    <link href="{{ asset('app/css/back/campaign/tree.css') }}" rel="stylesheet" id="bootstrap-css">
{% endblock %}

{% block body %}
    <div class="float-left w-100">
        <a href="{{ path('back_home') }}" class="btn btn-md text-dark"><i class="fa fa-home mr-2"></i>Accueil</a>
        <div class="filter-result bg-white">
            <div class="bg-white">
                <h1>CAMPAGNE TERMINEES</h1>
                <h4><a class="titre-add" href="{{ path('new_campaign') }}">CREER UNE CAMPAGNE</a></h4>
                <hr>
            </div>
            {% for bank in banks %}
                <div class="col-12 col-md-12 bg-white border-bottom">
                    <div class="col pb-3 pt-3 font-weight-bold">
                        <img src="{{ asset('uploads/icones/'~bank.bank_data.icon) }}" class="rounded-circle" width="40"
                             height="40"
                             alt="photo de la banque">
                        {{ bank.bank_data.name }} ({{ bank.campaign_data|length }})
                    </div>
                    {% for campaign in bank.campaign_data %}
                        <div class="m-l-30 mb-3 col-11 bg-white">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-5">
                                        {{ campaign.name }}
                                    </div>
                                    <div class="col-md-5">
                                        {{ campaign.operation|length }}
                                        opération{% if campaign.operation|length > 1 %}s{% endif %}
                                    </div>
                                    <div class="col-md-2 group-link">
                                        <a href="{{ path('reactive_campaign',{'id':campaign.id}) }}"
                                           data-toggle="tooltip"
                                           data-placement="bottom" title="Re-activer">
                                            <i class="fa fa-repeat"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}

