{% extends "base_back.html.twig" %}
    
{% block title %}Projet ISILIS {% endblock %}
    
{% block stylesheets %}
    <link href="{{ asset('theme/vendor/datepicker/css/jquery-ui.min.css') }}" rel="stylesheet">
    <link href="{{ asset('app/css/back/campaign/new.css') }}" rel="stylesheet">
{% endblock %}
    
{% block body %}
    <div class="bg-white">
        <h1 style="line-height: 1.2;">MODIFIER UNE CAMPAGNE</h1>
        <hr/>
        <form id="form-campaign" style="width: 100%" method="post"
              action="{{ path('edit_campaign', {'id':campaign.id}) }}" enctype="multipart/form-data">
            <h3>Définition:</h3>
            <div class="form-group">
                {{ form_errors(form.name) }}
                {{ form_widget(form.name, {'attr':{'class':'form-control',
                    'placeholder': 'Nom de la campagne *'}}) }}
            </div>
            <div class="form-row">
                <div class="col">
                    {{ form_errors(form.bank) }}
                    {{ form_widget(form.bank,{'attr':{'class':'form-control',  'disabled': true}}) }}
                </div>
                <div class="col">
                    {{ form_errors(form.objet) }}
                    {{ form_widget(form.objet,{'attr':{'class':'form-control'}}) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_errors(form.cibleCom) }}
                {{ form_widget(form.cibleCom,{'attr':{'class':'form-control',
                    'placeholder':'Cible commerciale'}}) }}
            </div>
            <div class="form-group">
                {{ form_errors(form.cibleIlig) }}
                {{ form_widget(form.cibleIlig, {'attr':{'class':'form-control',
                    'placeholder':"Critère d'éligibilité"}}) }}
            </div>
            <div class="form-check form-check-inline">
                Mode de transmission des bénéficiaires:
                {{ form_errors(form.modeTrans) }}
                {{ form_widget(form.modeTrans, {'attr':{'class':'form-check-input'}}) }}
            </div>
            <div class="form-group">
                {{ form_errors(form.amount) }}
                {{ form_widget(form.amount,{'attr':{'class':'form-control',
                    'placeholder':'Montant(s) dotation en bons'}}) }}
            </div>
            <div class="form-group">
                {{ form_errors(form.object_vol) }}
                {{ form_widget(form.object_vol,{'attr':{'class':'form-control',
                    'placeholder':'objectif volumétrie'}}) }}
            </div>
            <div class="form-group">
                {{ form_errors(form.description) }}
                {{ form_widget(form.description,{'attr':{'class':'form-control',
                    'placeholder':'Descriptif commercial'}}) }}
            </div>
            <div class="form-group">
                {{ form_errors(form.comment) }}
                {{ form_widget(form.comment,{'attr':{'class':'form-control',
                    'placeholder':'Remarques/ Notes explicatives'}}) }}
            </div>
            <div class="form-group">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Visuel</span>
                    </div>
                    <div class="custom-file">
                        <div class="text-danger">{{ form_errors(form.file) }}</div>
                        <div class="form-control-file">{{ form_widget(form.file, {'attr':{
                                'class':'custom-file-input'}}) }}</div>
                        <label class="custom-file-label" for="inputGroupFile01">Visuel master de la campagne</label>
                    </div>
                </div>
                <small id="passwordHelpBlock" class="form-text text-muted">
                    Visuel au format : 400 x 120
                </small>
                <div id="image-holder">
                    <img src="{{ asset('uploads/visuels/'~campaign.path) }}" class="img-fluid">
                </div>
            </div>
            <h3>Dates:</h3>
            <div class="form-check form-check-inline">
                campagne permanente:
                {{ form_errors(form.permanent) }}
                <label class="switch">
                    {{ form_widget(form.permanent) }}
                    <span class="slider round" id="switch"></span>
                </label>
            </div>
            <div id="date-content" {% if  form.vars.value.permanent == 1 %}style="display: none"{% endif %}>
                <div class="row">
                    <div class="col">
                        <div class="input-group">
                            {{ form_errors(form.startDate) }}
                            {{ form_widget(form.startDate,{'attr':{'class':'form-control datepicker',
                                'placeholder':'Début de la campagne'}}) }}
                            <div class="input-group-append">
                                <button type="button" class="btn btn-default datepickerbtn" data-toggle="datepicker"
                                        data-target-name="sample-date"><span class="fa fa-calendar"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="input-group">
                            {{ form_errors(form.endDate) }}
                            {{ form_widget(form.endDate,{'attr':{'class':'form-control datepicker',
                                'placeholder':'Fin de la campagne'}}) }}
                            <div class="input-group-append">
                                <button type="button" class="btn btn-default datepickerbtn" data-toggle="datepicker"
                                        data-target-name="sample-date"><span class="fa fa-calendar"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <h3>Visuels web fournis:</h3>
            <div class="form-group" id="vweb-fields-list">
                {% for vweb in form.visualWebs %}
                    <div class="form-row vweb-count">
                        <div class="col col-md-3 float-left"> {{ form_widget(vweb.type, {'attr':{'class':'form-control',
                                'placeholder': 'Type de fichier'}}) }}</div>
                        <div class="col col-md-3 float-left">{{ form_widget(vweb.largeur, {'attr':{'class':'form-control',
                                'placeholder': 'Largeur'}}) }}</div>

                        <div class="col col-md-3 float-left">{{ form_widget(vweb.hauteur, {'attr':{'class':'form-control',
                                'placeholder': 'Hauteur'}}) }}</div>

                        <div class="col col-md-2 float-left">{{ form_widget(vweb.unite, {'attr':{'class':'form-control',
                                'placeholder': 'Unité'}}) }}</div>

                        <div class="col col-md-1 float-left">
                            <a href="{{ path('delete_vweb', {'id':vweb.vars.value.id }) }}"
                               class="btn btn-danger">x </a>
                        </div>

                        <div class="col col-md-3 float-left">{{ form_widget(vweb.file) }}</div>

                    </div>
                {% endfor %}
                <div id="vwebs-proto">
                    <div class="hide proto-type"
                         data-prototype="{{ form_widget(form.visualWebs.vars.prototype.type)|e }}"></div>
                    <div class="hide proto-largeur"
                         data-prototype="{{ form_widget(form.visualWebs.vars.prototype.largeur)|e }}"></div>
                    <div class="hide proto-hauteur"
                         data-prototype="{{ form_widget(form.visualWebs.vars.prototype.hauteur)|e }}"></div>
                    <div class="hide proto-unite"
                         data-prototype="{{ form_widget(form.visualWebs.vars.prototype.unite)|e }}"></div>
                    <div class="hide proto-file"
                         data-prototype="{{ form_widget(form.visualWebs.vars.prototype.file)|e }}"></div>
                </div>
            </div>
            <div class="col col-md-3 float-right">
                <a href="#" class="add-vweb btn btn-default">Ajouter visuel web</a>
            </div>
            <h3>Visuels print fournis:</h3>
            <div class="form-group" id="vprint-fields-list">
                {% for vprint in form.visualPrints %}
                    <div class="form-row vprint-count">
                        <div class="col col-md-3 float-left"> {{ form_widget(vprint.type, {'attr':{'class':'form-control',
                                'placeholder': 'Type de fichier'}}) }}</div>
                        <div class="col col-md-3 float-left">{{ form_widget(vprint.largeur, {'attr':{'class':'form-control',
                                'placeholder': 'Largeur'}}) }}</div>

                        <div class="col col-md-3 float-left">{{ form_widget(vprint.hauteur, {'attr':{'class':'form-control',
                                'placeholder': 'Hauteur'}}) }}</div>

                        <div class="col col-md-2 float-left">{{ form_widget(vprint.unite, {'attr':{'class':'form-control',
                                'placeholder': 'Unité'}}) }}</div>

                        <div class="col col-md-1 float-left">
                            <div class="col col-md-1 float-left">
                                <a href="{{ path('delete_vprint', {'id':vprint.vars.value.id }) }}"
                                   class="btn btn-danger">x </a>
                            </div>
                        </div>

                        <div class="col col-md-3 float-left">{{ form_widget(vprint.file) }}</div>

                    </div>
                {% endfor %}
            </div>

            <div id="vprints-proto">
                <div class="hide proto-type"
                     data-prototype="{{ form_widget(form.visualPrints.vars.prototype.type)|e }}"></div>
                <div class="hide proto-largeur"
                     data-prototype="{{ form_widget(form.visualPrints.vars.prototype.largeur)|e }}"></div>
                <div class="hide proto-hauteur"
                     data-prototype="{{ form_widget(form.visualPrints.vars.prototype.hauteur)|e }}"></div>
                <div class="hide proto-unite"
                     data-prototype="{{ form_widget(form.visualPrints.vars.prototype.unite)|e }}"></div>
                <div class="hide proto-file"
                     data-prototype="{{ form_widget(form.visualPrints.vars.prototype.file)|e }}"></div>
            </div>
            {{ form_rest(form) }}
            <div class="col col-md-3 float-right">
                <a href="#" class="add-vprint btn btn-default">Ajouter visuel print</a>
            </div>
            <hr>
            <div class="row float-left w-100">
                <input type="submit" value="+ Valider">
            </div>
        </form>
    </div>

{% endblock %}
    
{% block javascripts %}
    <script src="{{ asset('theme/vendor/datepicker/js/jquery-ui.min.js') }}"></script>
    <script src="{{ asset('app/js/back/campaign/edit.js') }}"></script>
    <script src="{{ asset('theme/vendor/datepicker/js/datepicker-fr.js') }}"></script>
    <script>
        $(document).ready(function () {
            $('#backbundle_campaign_endDate').datepicker("option", "minDate", getDate(document.getElementById('backbundle_campaign_startDate')));
            $('#backbundle_campaign_startDate').on("change", function () {
                $('#backbundle_campaign_endDate').datepicker("option", "minDate", getDate(this));
                console.log(getDate(this));
            });

            $('#backbundle_campaign_endDate').on("change", function () {
                $('#backbundle_campaign_startDate').datepicker("option", "maxDate", getDate(this));
                console.log(getDate(this));
            });

            $("#backbundle_campaign_file").on('change', function () {
                if (typeof (FileReader) != "undefined") {
                    var image_holder = $("#image-holder");
                    image_holder.empty();
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $("<img />", {
                            "src": e.target.result,
                            "class": "img-thumbnail"
                        }).appendTo(image_holder);
                    }
                    image_holder.show();
                    reader.readAsDataURL($(this)[0].files[0]);
                } else {
                    alert("This browser does not support FileReader.");
                }
            });

            jQuery('#form-campaign').bind('submit', function () {
                jQuery('#backbundle_campaign_bank').removeAttr('disabled');
            });
        });
    </script>
{% endblock %}