{% block body %}
    {% for bank in banks %}
        <div class="col-md-12 col-12 bg-white">
            <div class="col pb-3 pt-3 font-weight-bold">
                <img src="{{ asset('uploads/icones/'~bank.bank_data.icon) }}" class="rounded-circle"
                     alt="banque picture" width="40"
                     height="40">
                {{ bank.bank_data.name }} ({{ bank.campaign_data|length }})
            </div>
            {% for campaign in  bank.campaign_data %}
                <div class="row m-l-30 mb-3 col-11 bg-white">
                    <div class="col-md-5">
                        {{ campaign.name }}
                    </div>
                    <div class="col-md-5">
                        {{ campaign.operation|length }} opération{% if campaign.operation|length > 1 %}s{% endif %}
                    </div>
                    <div class="col-md-2 group-link">
                        <a href="{{ path('edit_campaign', {'id':campaign.id}) }}" data-toggle="tooltip"
                           data-placement="bottom" title="Editer">
                            <i class="fa fa-pencil"></i>
                        </a>
                        {% if campaign.active %}
                            <a href="{{ path('susupend_campaign', {'id':campaign.id}) }}" data-toggle="tooltip"
                               data-placement="bottom" title="Suspendre">
                                <i class="fa fa-pause"></i>
                            </a>
                        {% else %}
                            <a href="{{ path('active_campaign', {'id':campaign.id}) }}" data-toggle="tooltip"
                               data-placement="bottom" title="Activer">
                                <i class="fa fa-play"></i>
                            </a>
                        {% endif %}
                        <a href="{{ path('archive_campaign', {'id':campaign.id}) }}" data-toggle="tooltip"
                           data-placement="bottom" title="Supprimer">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
        <hr>
    {% endfor %}

{% endblock %}