{% block body %}
    <h1>CAMPAGNE TERMINEES</h1>
    <h4><a class="titre-add" href="{{ path('new_campaign') }}">CREER UNE CAMPAGNE</a></h4>
    <hr>
    {% for bank in banks %}
        <div class="col-12 col-md-12 bg-white border-bottom">
            <div class="col pb-3 pt-3 font-weight-bold">
                <img src="{{ asset('uploads/icones/'~bank.bank_data.icon) }}" class="rounded-circle" width="40"
                     height="40"
                     alt="photo de la banque">
                {{ bank.bank_data.name }} ({{ bank.campaign_data|length }})
            </div>
            {% for campaign in bank.campaign_data %}
                <div class="row m-l-30 mb-3 col-11 bg-white">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-5">
                                {{ campaign.name }}
                            </div>
                            <div class="col-md-5">
                                {{ campaign.operation|length }}
                                opération{% if campaign.operation|length > 1 %}s{% endif %}
                            </div>
                            <div class="col-md-2 group-link">
                                <a href="{{ path('reactive_campaign',{'id':campaign.id}) }}" data-toggle="tooltip"
                                   data-placement="bottom" title="Re-activer">
                                    <i class="fa fa-repeat"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
{% endblock %}

