{% extends "base_back.html.twig" %}

{% block title %}Projet ISILIS {% endblock %}

{% block stylesheets %}
    <link href="{{ asset('app/css/back/campaign/tree.css') }}" rel="stylesheet" id="bootstrap-css">
{% endblock %}

{% block body %}
    <div class="float-left w-100">
        <a href="{{ path('back_home') }}" class="btn btn-md text-dark"><i class="fa fa-home mr-2"></i>Accueil</a>
    </div>
    <div class="float-left bg-white w-100">
        <h1>CAMPAGNES CRÉÉES</h1>
        <h4><a class="titre-add" href="{{ path('new_campaign') }}">CREER UNE CAMPAGNE</a></h4>
        <hr>
    </div>
    <div class="filter-result float-left w-100 pb-5 bg-white">
        {% for bank in campaigns %}
            <div class="col-md-12 col-12 bg-white float-left">
                <div class="col pb-3 pt-3 font-weight-bold">
                    <img src="{{ asset('uploads/icones/'~bank.bank_data.icon) }}" class="rounded-circle"
                         alt="banque picture" width="40"
                         height="40">
                    {{ bank.bank_data.name }} ({{ bank.campaign_data|length }})
                </div>
                {% for campaign in  bank.campaign_data %}
                    <div class="row ml-5 float-left w-100">
                        <div class="col-md-5">
                            {{ campaign.name }}
                        </div>
                        <div class="col-md-5">
                            {{ campaign.operation|length }} opération{% if campaign.operation|length > 1 %}s{% endif %}
                        </div>
                        <div class="col-md-2 group-link">
                            {% if campaign.endDate <= "now"|date("Y-m-d") or campaign.permanent == 1 %}
                                <a href="{{ path('edit_campaign', {'id':campaign.id}) }}" data-toggle="tooltip"
                                   data-placement="bottom" title="Editer">
                                    <i class="fa fa-pencil"></i>
                                </a>
                                {% if campaign.active %}
                                    <a href="{{ path('susupend_campaign', {'id':campaign.id}) }}">
                                        <i class="fa fa-pause" data-toggle="tooltip" data-placement="bottom"
                                           title="Suspendre"></i>
                                    </a>
                                {% else %}
                                    <a href="{{ path('active_campaign', {'id':campaign.id}) }}" data-toggle="tooltip"
                                       data-placement="bottom" title="Activer">
                                        <i class="fa fa-play"></i>
                                    </a>
                                {% endif %}
                                <a href="{{ path('archive_campaign', {'id':campaign.id}) }}" data-toggle="tooltip"
                                   data-placement="bottom" title="Supprimer">
                                    <i class="fa fa-times"></i>
                                </a>
                            {% else %}
                                <a href="{{ path('reactive_campaign',{'id':campaign.id}) }}" data-toggle="tooltip"
                                   data-placement="bottom" title="Re-activer">
                                    <i class="fa fa-repeat"></i>
                                </a>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
            <hr>
        {% endfor %}
    </div>
{% endblock %}