<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Nouveau email de diffusion</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span>&times;</span>
                    </button>
                </div>
                    <form id="form-diffusion" method="post" action="{{path('diffusion_new')}}">
                <div class="modal-body">
                        <div class="form-group">
                            <div class="col"> {{ form_widget(form.email, {'attr':{'class':'form-control',
                        'placeholder': 'Email'}}) }}</div>
                        </div>
                        {{form_rest(form)}}
                </div>
                <div class="modal-footer">
                    <div class="col text-center">
                        <button id="btn-submit" type="submit" class="btn btn-sm btn-success btn-ok">Ajouter</button>
                    </div>
                </div>
                    </form>
            </div>
        </div>
    </body>
</html>
