{% extends 'base_back.html.twig' %}

{% block stylesheets %}{% endblock %}

{% block body %}
    <div class="bg-white">
        <h1>LISTE DE DIFFUSION</h1>
        <hr />
        <h4>
            <form method="post" action="{{ path('diffusion_new') }}">
                <div class="form-row">
                    <div class="col">
                        <div class="col"> {{ form_widget(form.email, {'attr':{'class':'form-control',
                                'placeholder': 'Email'}}) }}</div>
                    </div>
                    <div class="col">
                        {{ form_rest(form) }}
                        <button type="submit" style="background: none !important; border: 1px solid #c8c6c6; font-size: 32px;">
                            Ajouter
                        </button>
                    </div>
                </div>
            </form>
        </h4>
        <hr>
        <div class="list-table">
            <div class="row">
                <div class="col-lg-3"><b>Email</b></div>
                <div class="col-lg-4"><b></b></div>
                <div class="col-lg-1"></div>
            </div>
            {% for item in list %}
                <div class="row">
                    <div class="col-lg-3">
                        {{ item.email }}
                    </div>
                    <div class="col-lg-8">
                    </div>
                    <div class="col-lg-1 group-link">
                        <a onclick="return confirm('L\'Email sera supprimé ?')"
                           href="{{ path('diffusion_delete', {'id':item.id}) }}">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
