<div class="lien-top row">
    <div class="col-10 col-sm-6">
        <div class="dropdown">
            <a href="{{ path('caisse_home') }}" class="logo_isilis">
                <img src="{{ asset('theme/images/logos/logo_isilis.png') }}">
            </a>
            <a class="caise-name-top" href="{{ path('caisse_home') }}" role="button" id="dropdownB"
               data-toggle="dropdown" aria-expanded="false" aia-haspopup="true">
                {{ caisse.bank.name }} / {{ caisse.name }}
            </a>
            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownB">
                <li class="dropdown-submenu">
                    <a href="{{ path('fos_user_security_logout') }}"><img
                            src="{{ asset("theme/images/img/logout.png") }}" width="30" height="23"><b>Se déconnecter</b></a>
                </li>
            </ul>
        </div>
    </div>
    <ul class=" col menu-top d-none d-md-block">
        <li>
            <img src="{{ asset('uploads/icones/'~caisse.bank.icon) }}" class="logo-caise">
        </li>
        {% if is_granted('ROLE_CAISSE_COLLABORATEUR') %}
        {% else %}
            <li>
                <a href="{{ path('caisse_caisse_info') }}">
                    <p><i class="fa fa-cog fa-w-16"></i></p>
                    <p>Paramètres</p>
                </a>
            </li>
        {% endif %}
        <li>
            <a href="{{ path('caisse_operation_list') }}">
                <p><i class="fa fa-files-o fa-w-16"></i></p>
                <p>Mes opérations</p>
            </a>
        </li>
        <li>
            <a href="{{path('caisse_home')}}">
                <p>
                    <svg width="24" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 512 512">
                        <g>
                            <g fill="#231F20">
                                <path d="m338.6,136.1c-23.6-22.7-54.6-34.4-87.4-33.2-62.9,2.5-114.2,55.7-114.4,118.7-0.1,27.9 9.7,55.1 27.6,76.5 25.8,31 40,70.1 40,110.2 0,0-2.7,18.4 10.4,18.4h82.4c13.4,0 10.4-18.4 10.4-18.4 0-39.2 14.4-78 41.7-112.2 16.9-21.3 25.9-46.9 25.9-74.1 0-32.7-13-63.3-36.6-85.9zm-5.6,147c-29.7,37.2-45.6,79.6-46.2,122.8h-61.6c-0.6-44.1-16.4-87-44.8-121.1-14.7-17.7-22.8-40.1-22.7-63.1 0.2-52 42.5-95.9 94.4-98 27.1-1 52.7,8.7 72.1,27.4 19.5,18.7 30.2,43.9 30.2,70.9-0.1,22.5-7.4,43.6-21.4,61.1z"/>
                                <path d="m393.2,67.8c-4.1-4.1-10.7-4.1-14.7,0l-25.4,25.4c-4.1,4.1-4.1,10.7 0,14.7s10.7,4.1 14.7,0l25.4-25.4c4.1-4 4.1-10.6 0-14.7z"/>
                                <path d="m297.6,440.9h-83.2c-5.8,0-10.4,4.7-10.4,10.4 0,5.8 4.7,10.4 10.4,10.4h83.2c5.8,0 10.4-4.7 10.4-10.4 0-5.7-4.7-10.4-10.4-10.4z"/>
                                <path d="m281.9,480.1h-51.7c-5.8,0-10.4,4.7-10.4,10.4 0,5.8 4.7,10.4 10.4,10.4h51.7c5.8,0 10.4-4.7 10.4-10.4 5.68434e-14-5.7-4.7-10.4-10.4-10.4z"/>
                                <path d="M256,67.7c5.8,0,10.4-4.7,10.4-10.4V21.4c0-5.8-4.7-10.4-10.4-10.4s-10.4,4.7-10.4,10.4v35.9    C245.6,63.1,250.2,67.7,256,67.7z"/>
                                <path d="m158.9,108c4.1-4.1 4.1-10.7 0-14.7l-25.4-25.4c-4.1-4.1-10.7-4.1-14.7,0s-4.1,10.7 0,14.7l25.4,25.4c4.1,4 10.7,4 14.7,0z"/>
                                <path d="m439.6,194.6h-35.9c-5.8,0-10.4,4.7-10.4,10.4s4.7,10.4 10.4,10.4h35.9c5.8,0 10.4-4.7 10.4-10.4s-4.7-10.4-10.4-10.4z"/>
                                <path d="m108.3,194.6h-35.9c-5.8,0-10.4,4.7-10.4,10.4s4.7,10.4 10.4,10.4h35.9c5.8,0 10.4-4.7 10.4-10.4s-4.6-10.4-10.4-10.4z"/>
                            </g>
                        </g>
                    </svg>
                </p>
                <p>Campagnes</p>
            </a>
        </li>
        
    </ul>
    <div class="col d-block d-md-none text-right">
        <a href="javascript:void(0)" class="menu-xs-trigger">
            <img src="{{ asset("theme/images/img/menu.png") }}" width="24" height="22">
        </a>
    </div>
</div>
<div class="right-sidebar">
    <ul class="menu-responsive">
        <li>
            <img src="{{ asset('uploads/icones/'~caisse.bank.icon) }}" class="logo-caise">
                <a href="javascript:void(0)" class="menu-xs-close"><i class="fa fa-close"></i> </a>
        </li>
        <li>
            <h6 class="f16 m-0">Bonjour {{ caisse.name }}</h6>
        </li>
        <li>
            <a href=""><i class="fa fa-home fa-2x"></i>Accueil</a>
        </li>
        <li>
            <span class="count_operation"><span>3</span></span>
            <a href=""><i class="fa fa-files-o fa-2x"></i>Mes opération</a>
        </li>
        <li>
            <a href=""><i class="fa fa-cog fa-2x"></i>Paramètres</a>
        </li>
        <li>
            <a href="" class="question">Besoin d'aide</a>
        </li>
    </ul>
</div>
