{% extends "base_agnece.html.twig" %}

{% block stylesheets %}
{% endblock %}

{% block body %}
    <div class="filter-result">
        <div class="bg-white p-3 mt-4">
            <h1>{{ operation.name }}</h1>
            <h4>{{ operation.caisse.bank.name }} - {{ operation.caisse.name }}</h4>                    
        </div>
        <div class="col-md-12 col-12 bg-white pb-4 border-bottom float-left">
            
            <div class="col">
                <img src="{{ asset(operation.campaign.getWebPath()) }}" style="width: 394px; height: 119px"
                     class="mb-4">
                <div>
                    {% for message in messages %}
                        {% if message.source == message.AGENCE_SEND %}
                            <div class="my-message alert alert-request rounded float-left">
                                <h2 class="f-size-18 float-left w-100">
                                    <div class="float-left">
                                        <img src="{{ asset(operation.agence.getWebIcone()) }}" width="50"
                                             class="rounded-circle">
                                    </div>
                                    <div class="float-left">
                                        <span class="font-weight-bold ml-1 w-100 float-left">{{ operation.agence.name }}</span>
                                        <small class="w-100">{{message.createdAt|date('d/m/Y H:i:s')}}</small>
                                    </div>
                                    {% if message.validatedAt is not null %}
                                        <p class="text-right w-100 float-left mb-0">
                                            Validée le : {{ message.validatedAt|date('d/m/Y H:i:s') }}
                                        </p>
                                    {% endif %}
                                </h2>
                                <div class="pl-5">
                                    {{ message.body|raw }}
                                </div>
                            </div>
                        {% else %}
                            <div class="other-message alert alert-send rounded float-right">
                                <div class="col msg-header float-left w-100">
                                    <div class="float-left">
                                        <img src="{{ asset('theme/images/logos/logo_isilis.png') }}" width="50"
                                             class="rounded-circle">
                                    </div>
                                    <div class="float-left">
                                        <span class="font-weight-bold ml-1 w-100 float-left">{{ operation.caisse.name }}</span>
                                        <small class="w-100">{{message.createdAt|date('d/m/Y H:i:s')}}</small>
                                    </div>
                                    {% if message.validatedAt is not null %}
                                        <p class="text-right w-100 float-left mb-0">
                                            Validée le : {{ message.validatedAt|date('d/m/Y H:i:s') }}
                                        </p>
                                    {% endif %}
                                </div>
                                <div class="col float-left w-100 pl-3 msg-body-agence">
                                    {{ message.body|raw }}
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                    <div class="bg-white float-left">
                        {{ render(controller('AgenceBundle:Message:new', { 'id': operation.id })) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}
{% block javascripts %}
{% endblock %}


