<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <div class="modal-dialog modal-lg" role="document">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">
                        <span class="w-100 float-left f-size-30 mb-0 font-weight-bold">{{ operation.name }}</span>
                        <small class="100 float-left f-size-14">{{ operation.caisse.bank.name }}
                            - {{ operation.caisse.name }}</small>
                    </h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="col">
                        <img src="{{ asset(operation.campaign.getWebPath()) }}" style="width: 394px; height: 119px"
                             class="mb-4">
                        <div>
                            {% for message in messages %}
                                {% if message.source == message.AGENCE_SEND %}
                                    <div class="col agence-message float-left mb-3 mt-3">
                                        <h2 class="f-size-18 float-left w-100">
                                            <div class="float-left">
                                                <img src="{{ asset(operation.agence.getWebIcone()) }}" width="50"
                                                     class="rounded-circle">
                                            </div>
                                            <div class="float-left">
                                                <span class="font-weight-bold ml-1 w-100 float-left">{{ operation.agence.name }}</span>
                                                <small class="w-100">{{message.createdAt|date('d/m/Y H:i:s')}}</small>
                                            </div>
                                            {% if message.validatedAt is not null %}
                                                <p class="text-right w-100 float-left mb-0">
                                                    Validée le : {{ message.validatedAt|date('d/m/Y H:i:s') }}
                                                </p>
                                            {% endif %}
                                        </h2>
                                        <div class="pl-5">
                                            {{ message.body|raw }}
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="col float-left mb-3 caisse-message">
                                        <div class="col msg-header float-left w-100">
                                            <div class="float-left">
                                                <img src="{{ asset(operation.caisse.bank.getWebIcone()) }}" width="50"
                                                     class="rounded-circle">
                                            </div>
                                            <div class="float-left">
                                                <span class="font-weight-bold ml-1 w-100 float-left">{{ operation.caisse.name }}</span>
                                                <small class="w-100">{{message.createdAt|date('d/m/Y H:i:s')}}</small>
                                            </div>
                                            {% if message.validatedAt is not null %}
                                                <p class="text-right w-100 float-left mb-0">
                                                    Validée le : {{ message.validatedAt|date('d/m/Y H:i:s') }}
                                                </p>
                                            {% endif %}
                                        </div>
                                        <div class="col float-left w-100 pl-3 msg-body-agence">
                                            {{ message.body|raw }}
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                            <div class="col float-left w-100 my-message agenec-msg">
                                {{ render(controller('AgenceBundle:Message:new', { 'id': operation.id })) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            
        </script>
    </body>
</html>


