{% extends "base_agnece.html.twig" %}

{% block stylesheets %}
{% endblock %}

{% block body %}
    {{ render(controller('AgenceBundle:Operation:FormFilter',{ 'request':app.request, 'status':'done'})) }}
    <div  id="filter-result">
    {% for bank in banks %}
        <div class="row">
            <div class="col-lg-1 text-center bg-white p-1 h-100 mt-2">
                <img src="{{ asset('uploads/icones/'~bank.bank_data.icon) }}" height="40px" width="40px">
            </div>
            <div class="col-lg-11">
                <div class="bg-white w-100 float-left border-bottom mb-2 mt-2">
                    <div class="pull-left">
                        <span class="p-3 font-weight-bold d-block"> {{ bank.bank_data.name }}</span>
                    </div>
                    <div class="pull-right">
                        <span class="p-3 d-block">{{ bank.operation_data|length }} Opérations in terminées</span>
                    </div>
                </div>
                {% for operation in bank.operation_data %}
                    <div class="row col-md-12">
                        <div class="col-md-3">
                            {{ operation.name }}
                        </div>
                        <div class="col-md-3">
                            {{ operation.caisse.name }}
                        </div>
                        <div class="col-md-3">
                        </div>
                        <div class="col-md-3">
                            <a href="{{ path('agence_operation_detail', {'id':operation.id}) }}" >
                                accéder a workflow
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $(function(){

            $(document).on('change', "#form_operation_banque", function () {
                var id = $(this).val();
                getCaisse(id);
                filtre_customer();
            });
            $(document).on('change', "#form_operation_caisse", function () {
                filtre_customer();
            });
            $(document).on('change', "#form_operation_annee", function () {
                filtre_customer();
            });
            $(document).on('keyup change keyup', "#form_operation_operation", function (e) {
                var keyCode = e.keyCode || e.which;
                if (keyCode == 13) {
                    e.preventDefault();
                }
                filtre_customer();
            });         
        });
        $(document).on('submit', "#form-filter", function (e) {
            e.preventDefault();
        });
        
        function filtre_customer(){
            var form = $('#form-filter');
            $.ajax({
                type: 'post',
                url: form.attr('action'),
                data: form.serialize(),
                success: function(data) {
                    $('#filter-result').html(data);
                }
            });
        }
        function getCaisse(id){
            $.ajax({
                url: Routing.generate("get_caisse", {id: id}),
                beforeSend: function () {

                },
                success: function (data) {
                    if (data) {
                        $('#form_operation_caisse option').remove();
                        $('#form_operation_caisse').append('<option value >Nom de la caisse</option>');
                        $.each(data, function (index, value) {
                            $('#form_operation_caisse').append($('<option>', {
                                value: value.label,
                                text:  value.value
                            }));
                        });
                    }
                }
            });
        }
    </script>
{% endblock %}