<div class="offset-2 mt-3 form-check-inline">
    <form id="form-filter" name="filter_form" action="{{ path('agence_operation_filter', {'status':status}) }}"
          method="post" class="form-inline">
        Chercher: &nbsp;
        <div class="form-group">
            {{ form_widget(filter_operation_filter.banque, { 'attr': {'class': 'form-control'}, }) }}
        </div>
        <div class="form-group">
            {{ form_widget(filter_operation_filter.caisse, { 'attr': {'class': 'form-control'}, }) }}
        </div>
        {# <div class="form-group">
             {{ form_widget(filter_operation_filter.annee, { 'attr': {'class': 'form-control'}, }) }}
         </div>#}
        <div class="form-group">
            {{ form_widget(filter_operation_filter.operation, { 'attr': {'class': 'form-control'}, }) }}
        </div>
        {#<div class="form-group">
            <button type="submit" class="btn btn-default rounded-0 text-white bg-dark"><i class="fa fa-search"></i> chercher</button>
        </div>#}
        {{ form_rest(filter_operation_filter) }}
    </form>
</div>


