{% extends "base_agnece.html.twig" %}
{% block body %}
    {% for bank in banks %}
        <div class="row">
            <div class="col-2 col-sm-1  text-center bg-white p-1 h-100 mt-2">
                <img src="{{ asset('uploads/icones/'~bank.bank_data.icon) }}" height="40px" width="40px" class="m-1">
            </div>
            <div class="col-10 col-sm-11 ">
                <div class="bg-white w-100 float-left border-bottom mb-2 mt-2">
                    <div class="pull-left">
                        <span class="p-3 font-weight-bold d-block">{{ bank.bank_data.name }}</span>
                    </div>
                    <div class="pull-right">
                        <span class="p-3 d-block">{{ bank.operation_data|length }} Opérations in validation | <i class="fa fa-download"></i>
                            <a href="{% if bank.bank_data.chart %}{{asset('uploads/charts/'~bank.bank_data.chart)}}{% endif %}">telecharger la
                                charte graphique</a></span>
                    </div>
                </div>
                {% for operation in bank.operation_data %}
                    <div class="row col-md-12">
                        <div class="col-md-3">
                            {{ operation.name }}
                        </div>
                        <div class="col-md-3">
                            {{ operation.caisse.name }}
                        </div>
                        <div class="col-md-3">
                            {% if operation.ordred %}<p class="new-request">Nouvelle demande</p> {% else %} <p
                                    class="notification">{{ operation.messages|length }}
                                    Notification{% if operation.messages|length > 1 %}s{% endif %}</p>{% endif %}
                            </div>
                            <div class="col-md-3">
                                <a href="{{ path('agence_operation_detail', {'id':operation.id}) }}" >
                                    accéder a workflow
                                </a>
                            </div>
                        </div>
                        {% endfor %}
                        </div>
                    </div>
                    {% endfor %}

                        {% endblock %}

                            {% block javascripts %}
                                <script src="{{ asset('app/js/agence/default/index.js') }}"></script>
                            {% endblock %}