{% extends "base_agence_param.html.twig" %}

{% block title %}Projet ISILIS {% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}
    <div class="col-md-9">
        <h1 class="caise-title">Informations</h1>
        <form class="default-form" method="post" action="{{path('agence_info')}}">
            <div class="form-group">
                {{ form_errors(form.name)}}
                {{ form_widget(form.name, {'attr':{'class':'form-control'}}) }}
            </div>
            <div class="form-group">
                {{ form_errors(form.contact.name)}}
                {{ form_widget(form.contact.name, {'attr':{'class':'form-control',
                        'placeholder': 'Nom du contact'}}) }}
            </div>
            <div class="form-group">
                {{ form_errors(form.contact.user.email)}}
                {{ form_widget(form.contact.user.email, {'attr':{'class':'form-control',
                        'placeholder': 'Email'}}) }}
            </div>
            <div class="form-group">
                {{ form_errors(form.contact.fonction)}}
                {{ form_widget(form.contact.fonction, {'attr':{'class':'form-control',
                        'placeholder': 'Fonction'}}) }}
            </div>
            <div class="form-group">
                {{ form_errors(form.contact.phone)}}
                {{ form_widget(form.contact.phone, {'attr':{'class':'form-control',
                        'placeholder': 'Téléphone'}}) }}
            </div>
            <div class="form-group">
                {{ form_errors(form.address)}}
                {{ form_widget(form.address, {'attr':{'class':'form-control'}}) }}
            </div>
            <div class="form-row form-adres">
                <div class="col-md-3 form-right">
                    {{ form_errors(form.zipCode)}}
                    {{ form_widget(form.zipCode, {'attr':{'class':'form-control'}}) }}
                </div>
                <div class="col-md-8">
                    {{ form_errors(form.city)}}
                    {{ form_widget(form.city, {'attr':{'class':'form-control'}}) }}
                </div>
            </div>
            {{form_rest(form)}}
            <input class="btn-ok" type="submit" value="ENREGISTRER">
        </form>
    </div>
{% endblock %}

{% block javascripts %}
{% endblock %}