<div class="offset-2 mt-3 form-check-inline">
    <form id="form-filter" name="filter_form" action="{{path('agence_customer_filter')}}" method="post" class="form-inline">
        Chercher:  &nbsp;
        <div class="form-group">
            {{ form_widget(filter_form_customer.bank, { 'attr': {'class': 'form-control'}, }) }}
        </div>
        <div class="form-group">        
            {{ form_widget(filter_form_customer.caisse, { 'attr': {'class': 'form-control'} }) }}
        </div>
        {#<div class="form-group">
            {{ form_widget(filter_form_customer.annee, { 'attr': {'class': 'date form-control'} }) }}
        </div>#}
        {#<div class="form-group">
            <button type="submit" class="btn btn-default rounded-0 text-white bg-dark"><i class="fa fa-search"></i> chercher</button>
        </div>#}
        {{ form_rest(filter_form_customer) }}
    </form>
</div>


