<div class="bank-content scroll-bar" id="filter-result">
    {% for bank in banks %}
        <div class="row ml-0 mr-0 mt-3">
            <div class="col-lg-1 text-center bg-white p-1">
                <img src="{{ asset('uploads/icones/'~bank.bank_icon) }}" width="40px" height="40px">
            </div>
            <div class="col-lg-11">
                <div class="bg-white w-100 float-left h-100 border-bottom">
                    <div class="pull-left p-3 font-weight-bold">
                        {{ bank.bank_name }}
                    </div>
                    <div class="pull-right p-3">
                        <span class="text-primary"> {{ bank.caisses|length }}</span> caisses actives
                    </div>
                </div>
            </div>
            {% for caisse in bank.caisses %}
                <div class="col-11 offset-1">
                    <div class="bg-white w-100 float-left h-100 border-bottom">
                        <div class="col col-lg-4 float-left">
                            <span class="d-block p-3">{{ caisse.caisse_name }}</span>
                        </div>
                        <div class="col col-lg-4 float-left">
                                <span class="d-block pt-3 pr-3 pl-3"><span
                                            class="text-primary"> {% if caisse.operation_in_validation_count is defined %}{{ caisse.operation_in_validation_count }}{% else %}0{% endif %}</span> operation(s) en validation </span>
                            <span class="d-block pb-3 pl-3"> <a href="{{ path('operation_validation_index') }}">voir détails</a></span>
                        </div>
                        <div class="col col-lg-4 float-left">
                            <span class="d-block pt-3 pr-3 pl-3"><span
                                        class="text-primary"> {% if caisse.operation_done_count is defined %}{{ caisse.operation_done_count }}{% else %}0{% endif %}</span> operation(s) en terminée(s) </span>
                            <span class="d-block pb-3 pl-3"><a
                                        href="{{ path('operation_done_index') }}">voir détails</a></span>
                        </div>
                    </div>
                </div>

            {% endfor %}
        </div>

    {% endfor %}
</div>