@font-face {
    font-family: 'Roboto-Regular';
    src: url('../../fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto-Black';
    src: url('../../fonts/Roboto-Black.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url('../../fonts/Roboto-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'RobotoCondensed-Bold';
    src: url('../../fonts/RobotoCondensed-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto-Italic';
    src: url('../../fonts/Roboto-Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'RobotoCondensed-Light';
    src: url('../../fonts/RobotoCondensed-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'RobotoCondensed-Regular';
    src: url('../../fonts/RobotoCondensed-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto-Light';
    src: url('../../fonts/Roboto-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto-Medium';
    src: url('../../fonts/Roboto-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto-Thin';
    src: url('../../fonts/Roboto-Thin.ttf') format('truetype');
}

.third-bloc {
    padding-top: 30px;
    border: 1px solid #F5F5F5;
    position: absolute !important;
    top: 30px;
    left: 15%;
    background: #fff;
    padding-left: 40px !important;
    padding-right: 40px !important;
}

.label-login {
    display: block;
    font-family: Roboto-Regular;
    margin-top: 30px;
    font-size: 14px;
    margin-bottom: 3px;
    color: #5C5C5C;
}

.first-bloc {
    background-color: #F5F5F5;
    height: 100%;
}

.second-bloc {
    padding: 0 !important;
}

ul {
    list-style: none;
}

.input-login {
    background: transparent;
    display: block;
    border-bottom: 1px solid #E5E5E5;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    width: 100%;
}

.password-forgot {
    text-align: center;
}

.btn-login {
    background: #73A0CA;
    color: #fff;
    cursor: pointer;
    margin-top: 15px;
    font-family: Roboto-Light;
    border: 1px solid;
    text-transform: uppercase;
    font-size: 15px;
    width: 100%;
    padding: 7px;
}

.login-title {
    color: #8B8B8B;
    font-family: Roboto-Regular;
}

.row.bg {
    margin: 0;
}

.img-bg {
    width: 100%;
    height: 100%;
}

.password-forgot {
    display: block;
    margin-top: 15px;
    cursor: pointer;
    color: #A2A2A2;
    font-family: Roboto-Regular;
    font-size: 13px;
}

.label-forgot {
    display: block;
    color: #8E8E8E;
    cursor: pointer;
    font-family: Roboto-Regular;
    font-size: 13px;
}

.bloc-logo {
    margin-bottom: 20px;
}

.third-bloc {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12);
}

.input-login:focus {
    outline: 0;
    box-shadow: none;
}

.img-bg {
    padding: 40px;
}

@media (max-width: 767px) {
    .third-bloc {
        bottom: 30px;
        left: 10%;
        top: initial;
        width: 80% !important;
    }

    .img-bg {
        padding: 10px;
        width: 100%;
        height: auto;
    }
}

.reset-input {
    background: transparent;
    display: block;
    border-bottom: 1px solid #E5E5E5;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    width: 100%;
}

.reset-input:focus {
    border: 0;
    box-shadow: none;
    outline: 0;
    border-bottom: 1px solid #e5e5e5;
}

.reset-submit {
    background: #73A0CA;
    color: #fff;
    cursor: pointer;
    margin-top: 15px;
    font-family: Roboto-Light;
    border: 1px solid;
    text-transform: uppercase;
    font-size: 15px;
    width: 100%;
    padding: 7px;
    margin-bottom: 20px;
}

.back-to-login {
    background: #73A0CA;
    color: #fff;
    cursor: pointer;
    margin-top: 15px;
    font-family: Roboto-Light;
    border: 1px solid;
    text-transform: uppercase;
    font-size: 15px;
    width: 100%;
    padding: 7px;
    margin-bottom: 20px;
    float: left;
    text-align: center;
}

.back-to-login:hover {
    color: #fff;
}

.fos_user_resetting_reset input[type="password"]:focus {
    border: 0;
    box-shadow: none;
    outline: 0;
    border-bottom: 1px solid #e5e5e5;
}

.fos_user_resetting_reset {
    margin-top: 20px;
}

.fos_user_resetting_reset input[type="password"] {
    background: transparent;
    display: block;
    border-bottom: 1px solid #E5E5E5;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    width: 100%;
    margin-bottom: 30px;
}

.fos_user_resetting_reset input[type="submit"],
.btn-go-profile {
    background: #73A0CA;
    color: #fff;
    cursor: pointer;
    margin-top: 15px;
    font-family: Roboto-Light;
    border: 1px solid;
    text-transform: uppercase;
    font-size: 15px;
    width: 100%;
    padding: 7px;
    margin-bottom: 20px;
    float: left;
    text-align: center;
    border-radius: 0;
}