{% if operation.active == 1 %}{% set class= "-active" %}{% elseif operation.active == 0 %}{% set class= "-invalid" %}{% else %}{% set class= "-done" %}{% endif %}
{% set class = operation.id %}
<form id="form-msg{{operation.id}}" method="post" action="{{ path('caisse_message_new', {'id':operation.id}) }}">
    <div class="form-group">
        {{ form_widget(form.body,{'attr':{'class':'form-control tinymce'~class}}) }}
    </div>
    {{ form_rest(form) }}
    <div class="col p-0">
        <button class="btn btn-link btn-send-msg" type="submit">
            <i class="fa fa-angle-right"></i> ENVOYER
        </button>
    </div>
</form>
<script src="{{ asset('theme/vendor/jquery/jquery.min.js') }}"></script>
<script src="{{ asset('theme/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ asset('theme/vendor/summernote/summernote-bs4.js') }}"></script>
<script src="{{ asset('theme/vendor/ajaxupload/jquery.uploadfile.js') }}"></script>
<script>
    var pieces = [];
    $(function () {            
        /*$("#uploader{{operation.id}}").uploadFile({
            url:"{{path('jointe_new')}}",
            fileName:"myfile",
            onSuccess:function(files,data,xhr,pd)
            {
                obj = jQuery.parseJSON(data);
                pieces.push(obj.id);
                $('#piece-{{operation.id}}').val(pieces);
                var link ='<a href="#" onclick="delete_jointe('+obj.id+')">X</a>';
                $('#jointe-{{operation.id}}').append('<li id="piece-jointe'+obj.id+'">'+obj.name+' '+link+'</li>');
                console.log(data);
            }
        });*/
        (function (factory) {
                    /* global define */
                if (typeof define === 'function' && define.amd) {
                    // AMD. Register as an anonymous module.
                    define(['jquery'], factory);
                } else if (typeof module === 'object' && module.exports) {
                    // Node/CommonJS
                    module.exports = factory(require('jquery'));
                } else {
                    // Browser globals
                    factory(window.jQuery);
                }
            }
            (function ($) {

                    // Extends plugins for adding readmore.
                    //  - plugin is external module for customizing.
                    $.extend($.summernote.plugins, {
                        'elfinder': function (context) {
                            var self = this;

                            // ui has renders to build ui elements.
                            //  - you can create a button with `ui.button`
                            var ui = $.summernote.ui;

                            // add elfinder button
                            context.memo('button.elfinder', function () {
                                // create button
                                var button = ui.button({
                                    contents: '<i class="fa fa-list-alt"/> Ajouter file',
                                    click: function () {
                                        elfinderDialog(context);
                                    }
                                });

                                // create jQuery object from button instance.
                                var $elfinder = button.render();
                                return $elfinder;
                            });

                            // This methods will be called when editor is destroyed by $('..').summernote('destroy');
                            // You should remove elements on `initialize`.
                            this.destroy = function () {
                                this.$panel.remove();
                                this.$panel = null;
                            };
                        }

                    });
                }
            )
        );
        function elfinderDialog(context){ // <------------------ +context
            var fm = $('<div/>').dialogelfinder({
                url : '{{ asset('uploads/elfinder/php/connector.php') }}?id={{ app.user.id }}',
                lang : 'en',
                width : 840,
                height: 450,
                destroyOnClose : true,
                getFileCallback : function(file, fm,meta) {

                    var url,reg,info ;
                    url = file.url;

                    reg = /\/[^/]+?\/\.\.\//;
                    while (url.match(reg)){
                        url = url.replace(reg,'/');
                    }
                    console.log(url);
                    info = file.name;

                    context.invoke('editor.createLink',{
                        text: info,
                        url: url,
                        isNewWindow: true
                    });
                },
                commandsOptions : {
                    getfile : {
                        oncomplete : 'close',
                        folders : false
                    }
                }
            }).dialogelfinder('instance');
        }
        $('.tinymce{{ class }}').summernote({
            lang: "fr-FR",
            toolbar: [
                ['style', ['style']],
                ['font', ['bold', 'italic', 'underline', 'clear']],
                ['fontname', ['fontname']],
                ['color', ['color']],
                ['para', ['ul', 'ol', 'paragraph']],
                ['height', ['height']],
                ['table', ['table']],
                ['insert', ['link', 'picture', 'hr','elfinder']],
                ['view', ['fullscreen', 'codeview']],
                ['help', ['help']]
            ],
            onCreateLink : function(originalLink) {
                return originalLink; // return original link
            }

        });
        var url = "{{ path('caisse_operation_detail', {'id':operation.id}) }}";
        $(document).on('submit', '#form-msg{{operation.id}}', function () {
            if($('.tinymce{{ class }}').summernote('isEmpty')) {
                console.log('vide');
                return false;
            }    
            $.ajax({
                type: 'post',
                url: $('#form-msg{{operation.id}}').attr('action'),
                data: $('#form-msg{{operation.id}}').serialize(),
                success: function(data) {
                    var textareaValue = $('.tinymce{{ class }}').summernote('code');
                    //var html = '<div class="my-message alert alert-request rounded"><p>'+textareaValue+'</p></div>';
                    var html = data;
                    $('#form-msg{{operation.id}}').parent().before(html);
                    $(".tinymce{{ class }}").summernote({
                        lang: "fr-FR",
                        toolbar: [
                            ['style', ['style']],
                            ['font', ['bold', 'italic', 'underline', 'clear']],
                            ['fontname', ['fontname']],
                            ['color', ['color']],
                            ['para', ['ul', 'ol', 'paragraph']],
                            ['height', ['height']],
                            ['table', ['table']],
                            ['insert', ['link', 'picture', 'hr','elfinder']],
                            ['view', ['fullscreen', 'codeview']],
                            ['help', ['help']]
                        ],
                        onCreateLink : function(originalLink) {
                            return originalLink; // return original link
                        }
                    });
                    //$('#piece-{{operation.id}}').val('');
                    //$('#jointe-{{operation.id}}').html('');
                }
            });
            return false;
        });
    });
    
    function delete_jointe(id){
        $.post("{{path('jointe_delete')}}",
        {id:id}, 
        function(data){
            $('#piece-jointe'+id).remove();
        });
    }
</script>