<div class="my-message alert alert-request rounded">
    <div class="logosend"><img src="{{ asset('uploads/icones/'~caisse.bank.icon) }}" class="logo-caise"></div>
        {{ message.body|raw }}
    <div class="piece-jointe">
        <ul>
            {% for piece in message.jointes %}
                <a target="blank" href="{{asset(piece.webPath())}}">{{piece.name}}</a>
            {% endfor %}
        </ul>
    </div>
    <p class="text-right">
        {{message.createdAt|date('d/m/Y H:i:s')}}
    </p>
</div>