{% extends "base_back.html.twig" %}

{% block body %}
    <div class="float-left w-100 bg-white">
        <h1>MODIFIER L'OBJECTIF CAMPAGNE
            <hr />
        <form method="post" action="{{ path('objet_campaign_edit', {'id':objectif_campaign.id}) }}">
            <div class="row">
                <label>objectif campagne:</label>
                {{ form_errors(form.name) }}
                {{ form_widget(form.name,{'attr':{'class':'form-control', 'placeholder':'objectif campagne'}}) }}
            </div>
            {{ form_rest(form) }}
            <hr/>
            <input type="submit" value="+ valider">
        </form>
    </div>
{% endblock %}