{% extends "base_back.html.twig" %}

{% block body %}
    <div class="float-left w-100 bg-white">
        <h1>LISTE DES OBJECTIFS CAMPAGNE</h1>
        <h4><a class="titre-add" href="{{ path('objet_campaign_new') }}">CREER UN OBJECTIF CAMPAGNE</a></h4>
        <hr>
        <div class="list-table">
            <div class="row col-lg-12">
                <div class="col-lg-11"><b>objectif</b></div>
                <div class="col-lg-1"></div>
            </div>

            {% for objectif in objectif_campaign %}
                <div class="row col-lg-12">
                    <div class="col-lg-9">{{ objectif.name }}</div>
                    <div class="col-lg-3 group-link">
                        <a href="{{ path('objet_campaign_edit',{'id':objectif.id}) }}">
                            <i class="fa fa-pencil"></i></a>
                        <a href="{{ path('objet_campaign_delete',{'id':objectif.id}) }}"
                           onclick="return confirm('voulez-vous supprimer cet objectif');">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>

            {% endfor %}

        </div>
    </div>
{% endblock %}
