{% extends "base_back.html.twig" %}

{% block body %}
    <div class="float-left w-100 bg-white">
        <h1>CREER UN OBJECTIF CAMPAGNE</h1>
        <hr>
        <form method="post" action="{{ path('objet_campaign_new') }}">
            <div class="row">
                {{ form_errors(form.name) }}
                {{ form_widget(form.name,{'attr':{'class':'form-control', 'placeholder':'objectif campagne'}}) }}
            </div>
            {{ form_rest(form) }}
            <hr/>
            <input type="submit" value="+ valider">
        </form>
    </div>
{% endblock %}