{% extends "base_back.html.twig" %}

{% block body %}
    <div class="col-12 col-md-12 bg-white float-left pt-3">
        <div class="row">
              <div class="col-lg-10">
                  <h1>CONTACTS</h1>
              </div>
            <div  class="col-lg-2">
                <p><a id="exporter" href="{{ path('export_contact') }}" class="btn btn-global text-white"><i class="fa fa-download"></i>  Exporter</a></p>
            </div>
        </div>
        <hr/>
        {% for bank in banks %}
        <div class="row">
            <div class="col-lg-3">
                <h2 class="title1"><img src="{{ asset('uploads/icones/'~bank.bank_data.icon) }}" height="40px"
                                        width="40px" class="img-circle"></h2>
            </div>
            <div class="col-lg-3">
                <a href="{{ path('edit_bank', {'id':bank.bank_data.id}) }}">{{ bank.bank_data.name }}</a>
            </div>
            <div class="col-lg-3">
                {{ bank.bank_data.contactEmail }}
            </div>
            <div class="col-lg-3">
                {{ bank.bank_data.contactPhone }}
            </div>
        </div>
        {% for caisse in bank.caisse_data %}
            <div class="row">
                <div class="col-lg-3"></div>
                <div class="col-lg-3">
                    <a href="{{ path('caisse_edit', {'id':caisse.id}) }}">{{ caisse.name }}</a>
                </div>
                <div class="col-lg-3">
                    {{ caisse.contact.user.email }}
                </div>
                <div class="col-lg-3">
                    {{ caisse.contact.phone }}
                </div>
            </div>
        {% endfor %}
        <hr>
    {% endfor %}
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('app/js/back/notif-parameter/edit.js') }}"></script>
{% endblock %}