{#% trans_default_domain 'FOSUserBundle' %#}
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="{{ asset('app/css/FOSUserBundle/login.css') }}" rel="stylesheet">
    <link href="{{ asset('theme/vendor/bootstrap/css/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ asset('theme/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link rel="shortcut icon" href="{{ asset('theme/images/logos/logo.png') }}"/>
</head>
<body>

<div class="row bg">
    <div class="col-md-3 hidden-xs-down first-bloc d-none d-md-block"></div>
    <div class="col-md-9 col-xs-12 second-bloc">
        <img class="img-bg" src="{{ asset('theme/images/img/isilis-bg.jpg') }}">
    </div>
</div>
<div class="col-md-3 col-xs-10 third-bloc">
    <div class="text-center bloc-logo"><img src="{{ asset('theme/images/logos/logo.png') }}"></div>
    <h5 class="text-center login-title">Bienvenue sur l'espace ISIFID</h5>
    <form action="{{ path("fos_user_security_check") }}" method="post">
        {% if csrf_token %}
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
        {% endif %}
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        <label class="label-login" for="username">{{ 'Email'|trans }}</label>
        <input class="input-login" type="text" id="username" name="_username"
               value="{{ last_username }}" required="required" autocomplete="username"/>

        <label class="label-login" for="password">{{ 'Mot de passe'|trans }}</label>
        <input class="input-login" type="password" id="password" name="_password" required="required"
               autocomplete="current-password"/>
        <input type="submit" class="btn-login" id="_submit" name="_submit" value="{{ 'se connecter'|trans }}"/>
        <!--<input type="checkbox" id="remember_me" name="_remember_me" value="on" />-->
        <div class="text-center">
            <label class="password-forgot" for="remember_me">
                <a href="{{ path('fos_user_resetting_request') }}">{{ 'Mot de passe oublié ?'|trans }}</a>
            </label>
            <label class="label-forgot" for="remember_me">{{ 'Problème de connexion ?'|trans }}</label>
        </div>
    </form>
</div>
</body>
</html>