<link href="{{ asset('theme/vendor/css/uploadfile.css') }}" rel="stylesheet">
<form method="post" action="{{ path('agence_message_new', {'id':operation.id}) }}">
    <div class="form-group">
        {{ form_widget(form.body,{'attr':{'class':'form-control tinymce'}}) }}
    </div>
    {{ form_rest(form) }}
    <div class="card mb-3">
        <input class="btn btn-link text-white btn-send-msg" type="submit" value=" >  ENVOYER">
    </div>
</form>

<script>
    var pieces = [];
    $(document).ready(function () {
        (function (factory) {
                    /* global define */
                if (typeof define === 'function' && define.amd) {
                    // AMD. Register as an anonymous module.
                    define(['jquery'], factory);
                } else if (typeof module === 'object' && module.exports) {
                    // Node/CommonJS
                    module.exports = factory(require('jquery'));
                } else {
                    // Browser globals
                    factory(window.jQuery);
                }
            }
            (function ($) {

                    // Extends plugins for adding readmore.
                    //  - plugin is external module for customizing.
                    $.extend($.summernote.plugins, {
                        'elfinder': function (context) {
                            var self = this;

                            // ui has renders to build ui elements.
                            //  - you can create a button with `ui.button`
                            var ui = $.summernote.ui;

                            // add elfinder button
                            context.memo('button.elfinder', function () {
                                // create button
                                var button = ui.button({
                                    contents: '<i class="fa fa-list-alt"/> Ajouter file',
                                    click: function () {
                                        elfinderDialog(context);
                                    }
                                });

                                // create jQuery object from button instance.
                                var $elfinder = button.render();
                                return $elfinder;
                            });

                            // This methods will be called when editor is destroyed by $('..').summernote('destroy');
                            // You should remove elements on `initialize`.
                            this.destroy = function () {
                                this.$panel.remove();
                                this.$panel = null;
                            };
                        }

                    });
                }
            )
        );
        function elfinderDialog(context){ // <------------------ +context
            var fm = $('<div/>').dialogelfinder({
                url : '{{ asset('uploads/elfinder/php/connector.php') }}?id={{ app.user.id }}',
                lang : 'en',
                width : 840,
                height: 450,
                destroyOnClose : true,
                getFileCallback : function(file, fm,meta) {

                    var url,reg,info ;
                    url = file.url;

                    reg = /\/[^/]+?\/\.\.\//;
                    while (url.match(reg)){
                        url = url.replace(reg,'/');
                    }
                    console.log(url);
                    info = file.name;

                    context.invoke('editor.createLink',{
                        text: info,
                        url: url,
                        isNewWindow: true
                    });
                },
                commandsOptions : {
                    getfile : {
                        oncomplete : 'close',
                        folders : false
                    }
                }
            }).dialogelfinder('instance');
        }
        $('.tinymce').summernote({
            lang: "fr-FR",
            toolbar: [
                ['style', ['style']],
                ['font', ['bold', 'italic', 'underline', 'clear']],
                ['fontname', ['fontname']],
                ['color', ['color']],
                ['para', ['ul', 'ol', 'paragraph']],
                ['height', ['height']],
                ['table', ['table']],
                ['insert', ['link', 'picture', 'hr','elfinder']],
                ['view', ['fullscreen', 'codeview']],
                ['help', ['help']]
            ],
            onCreateLink : function(originalLink) {
                return originalLink; // return original link
            }

        });
    })
</script>
