<div class="msg_content">
    <img src="{{ asset(opr.campaign.getWebPath()) }}" style="width: 394px; height: 119px">
    {% for message in messages %}
        {% if message.source == message.CAISSE_SEND %}
            <div class="my-message alert alert-request rounded">
                <div class="logosend"><img src="{{ asset('uploads/icones/'~caisse.bank.icon) }}" class="logo-caise"></div>
                    {{ message.body|raw }}
                <div class="piece-jointe">
                    <ul>
                        {% for piece in message.jointes %}
                            <li><a style="color:red" target="blank" href="{{asset(piece.webPath())}}">{{piece.name}}</a><li>
                        {% endfor %}
                    </ul>
                </div>
                <p class="text-right">
                    {{message.createdAt|date('d/m/Y H:i:s')}}
                </p>
            </div>
        {% else %}
            <div class="other-message alert alert-send rounded">
                <div class="logosend"><img src="{{ asset('theme/images/logos/logo_isilis.png') }}" style="float: left"></div>
                    {{ message.body|raw }}
                <div class="piece-jointe">
                    <ul>
                        {% for piece in message.jointes %}
                            <li><a style="color:red" target="blank" href="{{asset(piece.webPath())}}">{{piece.name}}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                <p class="text-right">
                    {{message.createdAt|date('d/m/Y H:i:s')}}
                </p>
            </div>
        {% endif %}
    {% endfor %}
    <div class="pull-left">
        {{ render(controller('CaisseBundle:Message:new', { 'id': opr.id })) }}
    </div>
</div>
