<div class="row">

    <div class="col-md-4 list_mg_left p-0" data-id="invalid-opr-detail">
        <h2 class="f20 p-l-10 d-none d-md-block">{% if in_valid_oprs %}Mes campagnes{% endif %}</h2>
        <ul class="list-group">
            {% set actv_opr_default = null %}
            {% for operation in in_valid_oprs %}
                {% if loop.index == 1 %}
                    {% set actv_opr_default = operation %}
                {% endif %}
                <li class="list-group-item d-none d-md-block">
                    <a class="opr-invalid-link font-weight-bold"
                       href="{{ path('caisse_operation_detail', {'id':operation.id}) }}">
                        {{ operation.name }}
                    </a>
                    <div class="operation_date">
                        <i class="fa fa-clock-o"></i> du {{ operation.startDate|date('d M. Y') }}
                        au {{ operation.endDate|date('d M. Y') }}
                    </div>
                    <div class="{% if operation.getNbMsgNonLu()>0 %}count_notif{% else %}count_operation{% endif %}">{{ operation.getNbMsgNonLu() }}</div>
                </li>
            {% endfor %}
        </ul>
        <ul class="list-group d-block d-md-none">
            {% set actv_opr_default = null %}
            {% for operation in in_valid_oprs %}
                {% if loop.index == 1 %}
                    {% set actv_opr_default = operation %}
                {% endif %}
                <li class="list-group-item">
                    <a class="opr-invalid-link-xs" href="{{ path('caisse_operation_detail', {'id':operation.id}) }}">
                        <i class="fa fa-angle-left d-none"></i>
                        {{ operation.name }}
                    </a>
                    <div class="operation_date">
                        <i class="fa fa-clock-o"></i> du {{ operation.startDate|date('d M. Y') }}
                        au {{ operation.endDate|date('d M. Y') }}
                    </div>
                    <div class="{% if operation.getNbMsgNonLu()>0 %}count_notif{% else %}count_operation{% endif %}">{{ operation.getNbMsgNonLu() }}</div>
                </li>
            {% endfor %}
        </ul>
    </div>
    {% if actv_opr_default %}
        <div class="col-md-8 p-0 d-none d-md-block" id="invalid-opr-detail">
            {{ render(controller('CaisseBundle:Operation:detail', { 'id': actv_opr_default.id })) }}
        </div>
    {% else %}
        <div class="no_content">
            <h4><img src="{{ asset('theme/vendor/svg/recherche.svg') }}" width="80">
                Encore aucune opération commandée</h4>
            <a href="{{ path('caisse_home') }}">Voir les opérations disponibles</a>
        </div>
    {% endif %}
</div>