{% extends "base_caisse.html.twig" %}
    
{% block title %}Projet ISILIS {% endblock %}
    
{% block stylesheets %}
    <link href="{{ asset('theme/vendor/datepicker/css/jquery-ui.min.css') }}" rel="stylesheet">
    <link href="{{ asset('theme/vendor/css/uploadfile.css') }}" rel="stylesheet">
{% endblock %}
    
{% block body %}
    <div class="container-fluid isi-navbar-brand">
        <div class="container p-0">
            <h2 class="f17 p-l-10 d-block d-md-none p-0">Mes campagnes</h2>
            <div class="row m-0">
                
                <nav class="col p-0 d-none d-md-block">
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active show" id="nav-actives-tab" data-toggle="tab"
                           href="#nav-actives" role="tab" aria-controls="nav-home" aria-selected="true">
                            Opérations actives</a>
                        <a class="nav-item nav-link" id="nav-valide-tab" data-toggle="tab" href="#nav-valide" role="tab"
                           aria-controls="nav-profile" aria-selected="false">
                            Opérations en validation</a>
                        <a class="nav-item nav-link" id="nav-termine-tab" data-toggle="tab" href="#nav-termine"
                           role="tab" aria-controls="nav-contact" aria-selected="false">
                            Opérations terminées</a>
                    </div>
                </nav>
                <nav class="col p-0 nav-xs d-block d-md-none">
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active show" id="nav-actives-tab" data-toggle="tab"
                           href="#nav-actives" role="tab" aria-controls="nav-home" aria-selected="true">
                            Actives</a>
                        <a class="nav-item nav-link" id="nav-valide-tab" data-toggle="tab" href="#nav-valide" role="tab"
                           aria-controls="nav-profile" aria-selected="false">
                            En validation</a>
                        <a class="nav-item nav-link" id="nav-termine-tab" data-toggle="tab" href="#nav-termine"
                           role="tab" aria-controls="nav-contact" aria-selected="false">
                            Terminées</a>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <div class="container isi-tab-content">
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade active show" id="nav-actives" role="tabpanel" aria-labelledby="nav-home-tab">
                {% include 'caisse/operation/active.html.twig' %}
            </div>
            <div class="tab-pane fade" id="nav-valide" role="tabpanel" aria-labelledby="nav-contact-tab">
                {% include 'caisse/operation/invalid.html.twig' %}
            </div>
            <div class="tab-pane fade" id="nav-termine" role="tabpanel" aria-labelledby="nav-profile-tab">
                {% include 'caisse/operation/done.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}
    
{% block javascripts %}
    <script src="{{ asset('app/js/caisse/operation/list.js') }}"></script>
    <script src="{{ asset('theme/vendor/ajaxupload/jquery.uploadfile.js') }}"></script>
{% endblock %}