<div class="lien-top row">
    <div class="col-10 col-sm-6">
        <div class="dropdown">
            <a href="{{ path('caisse_home') }}" class="logo_isilis">
                <img src="{{ asset('theme/images/logos/logo_isilis.png') }}">
            </a>
            <a class="caise-name-top" href="{{ path('caisse_home') }}" role="button" id="dropdownB"
               data-toggle="dropdown" aria-expanded="false" aia-haspopup="true">
                {{ caisse.bank.name }} / {{ caisse.name }}
            </a>
            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownB">
                <li class="dropdown-submenu">
                    <a href="{{ path('fos_user_security_logout') }}"><img
                                src="{{ asset("theme/images/img/logout.png") }}" width="30" height="23"><b>Se déconnecter</b></a>
                </li>
            </ul>
        </div>
    </div>
    <ul class=" col menu-top d-none d-md-block">
        <li>
            <img src="{{ asset('uploads/icones/'~caisse.bank.icon) }}" class="logo-caise">
            <p class="logo-text">{{caisse.contact.caisse.name}}</p>
        </li>
        <li>
            <a href="{{ path('caisse_caisse_info') }}">
                <p><i class="fa fa-cog fa-w-16"></i></p>
                <p>Paramètres</p>
            </a>
        </li>
        <li>
            <a href="{{ path('caisse_operation_list') }}">
                <p><i class="fa fa-files-o fa-w-16"></i></p>
                <p>Mes opérations</p>
            </a>
        </li>
    </ul>
    <div class="col d-block d-md-none text-right">
        <a href="javascript:void(0)" class="menu-xs-trigger">
            <img src="{{ asset("theme/images/img/menu.png") }}" width="24" height="22">
        </a>
    </div>
</div>
<div class="right-sidebar">
    <ul class="menu-responsive">
        <li>
            <img src="{{ asset('theme/images/img/caisse_cote_azur.png') }}" class="logo-caise">
            <a href="javascript:void(0)" class="menu-xs-close"><i class="fa fa-close"></i> </a>
        </li>
        <li>
            <h6 class="f16 m-0">Bonjour {{ caisse.name }}</h6>
        </li>
        <li>
            <a href=""><i class="fa fa-home fa-2x"></i>Accueil</a>
        </li>
        <li>
            <span class="count_operation"><span>3</span></span>
            <a href=""><i class="fa fa-files-o fa-2x"></i>Mes opération</a>
        </li>
        <li>
            <a href=""><i class="fa fa-cog fa-2x"></i>Paramètres</a>
        </li>
        <li>
            <a href="" class="question">Besoin d'aide</a>
        </li>
    </ul>
</div>
