<!DOCTYPE html>
<html>
    <head>
        <script src="{{ asset('theme/vendor/datepicker/js/datepicker-fr.js') }}"></script>
        <script>
            $(document).ready(function () {
                $('.datepicker').each(function () {
                    var t = $(this);
                    t.datepicker({
                        dateFormat: 'dd-mm-yy',
                    });
                });

                $('.datepickerbtn').each(function () {
                    var t = $(this).parent().parent().find('.datepicker');
                    $(this).on("click", function () {
                        t.datepicker("show");
                    });
                });
                
                $('#caissebundle_operation_startDate').on( "change", function() {
                    $('#caissebundle_operation_endDate').datepicker( "option", "minDate", getDate( this ) );
                    console.log(getDate( this ));
                });
            
                $('#caissebundle_operation_endDate').on( "change", function() {
                    $('#caissebundle_operation_startDate').datepicker( "option", "maxDate", getDate( this ) );
                    console.log(getDate( this ));
                });
            });
        </script>
    </head>
    <body>
        <div class="modal-dialog modal-lg" role="document">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Demande d'opération</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span>&times;</span>
                    </button>
                </div>
                <form id="form-media" method="post" action="{{ path('caisse_operation_order', {'id':campaign.id}) }}">
                    <div class="modal-body">
                        <div class="form-group">
                            {{ form_widget(form.name,{'attr':{'class':'form-control','placeholder':"Nom de l'opération"}}) }}
                        </div>
                        <div class="form-group">
                            {{ form_widget(form.objectif,{'attr':{'class':'form-control'}})}}
                        </div>
                        <div class="form-group">
                            {{ form_widget(form.cibleCom,{'attr':{'class':'form-control','placeholder':'Cible commerciale'}}) }}
                        </div>
                        <div class="form-group">
                            {{ form_widget(form.cibleIlig,{'attr':{'class':'form-control',
                        'placeholder':"Critère d’éligibilité"}}) }}
                        </div>
                        <div class="form-check form-check-inline">
                            Mode de transmission des bénéficiaires:
                            {{ form_errors(form.modeTrans)}}
                            {{ form_widget(form.modeTrans,{'attr':{'class':'form-check-input'}})}}
                        </div>
                        
                        <div class="col col-sm-6 b3 b3-left">
                            <div class="form-group">
                                <div class="input-group">
                                    {{ form_widget(form.startDate,{'attr':{'class':'form-control datepicker','placeholder':'Date début'}}) }}
                                    <div class="input-group-append">
                                        <button type="button" class="btn btn-default datepickerbtn" data-toggle="datepicker"
                                                data-target-name="sample-date"><span class="fa fa-calendar"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col col-sm-6 b3 b3-right">
                            <div class="form-group">
                                <div class="input-group">
                                    {{ form_widget(form.endDate,{'attr':{'class':'form-control datepicker','placeholder':'Date fin'}}) }}
                                    <div class="input-group-append">
                                        <button type="button" class="btn btn-default datepickerbtn" data-toggle="datepicker"
                                                data-target-name="sample-date"><span class="fa fa-calendar"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            {{ form_widget(form.amount,{'attr':{'class':'form-control','placeholder':'Montant(s) dotation en bons'}}) }}
                        </div>
                        <div class="form-group">
                            {{ form_errors(form.object_vol)}}
                            {{ form_widget(form.object_vol,{'attr':{'class':'form-control','placeholder':'Objectif volumétrie'}})}}
                        </div>
                        <div class="form-group">
                            {{ form_widget(form.comment,{'attr':{'class':'form-control','placeholder':'Remarques /autre','rows':3}}) }}
                        </div>
                        <div class="float-left"><h3>Formats demandés :</h3></div>
                        <div class="form-group float-left">
                            <h4>Medias digitaux</h4>
                            <p class="text-small">
                                Vous souhaitez que l'agence de com mettre à votre disposition les fichiers digitaux suivants :
                            </p>
                            <ul class="split-list row">
                                {% for media in caisse.visualWebs %}
                                    <li class="col-md-4">
                                        <label>
                                            <input type="checkbox" value="{{media.id}}" name="webs[]">
                                            {{ media.type }} - {{ media.largeur }}X{{ media.hauteur }}    
                                        </label>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="float-left form-group">
                            <h4>Medias print</h4>
                            <p class="text-small">
                                Vous souhaitez que l'agence de com mettre à votre disposition les fichiers digitaux suivants :
                            </p>
                            <ul class="split-list row">
                                {% for media in caisse.visualPrints %}
                                    <li class="col-md-4">
                                        <label>
                                            <input type="checkbox" value="{{media.id}}" name="prints[]">
                                            {{ media.type }} - {{ media.largeur }}X{{ media.hauteur }}
                                        </label>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        {{ form_rest(form) }}
                        <div class="col-sm-12 text-center p-0 float-left">
                            <button id="btn-submit" type="submit" class="btn btn-sm btn-success btn-ok">COMMANDER CETTE
                                OPERATION
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>
