{% extends "base_back.html.twig" %}

{% block title %}Projet ISILIS {% endblock %}

{% block stylesheets %}
    <style>
        #backbundle_caisse_name {
            text-transform: uppercase;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="bg-white">
        <h1 style="line-height: 1.2;">CREER UNE CAISSE REGIONALE</h1>
        <hr/>
        <form id="form-caisse" style="width: 100%" method="post" action="{{ path('caisse_new') }}"
              enctype="multipart/form-data">
            <h3>Identification :</h3>
            <div class="form-group">
                {{ form_errors(form.bank) }}
                {{ form_widget(form.bank, {'attr':{'class':'form-control',
                    'placeholder': "Banque d'appartenance", 'required':true}}) }}
            </div>
            <div class="form-group">
                {{ form_errors(form.name) }}
                {{ form_widget(form.name, {'attr':{'class':'form-control',
                    'placeholder': "Nom de la caisse régionale", 'required':true}}) }}
            </div>
            <div class="form-group">
                {{ form_errors(form.address) }}
                {{ form_widget(form.address, {'attr':{'class':'form-control',
                    'placeholder': 'Adresse', 'required':true}}) }}
            </div>
            <div class="form-row">
                <div class="col-md-4">
                    {{ form_errors(form.zipCode) }}
                    {{ form_widget(form.zipCode, {'attr':{'class':'form-control',
                        'placeholder': 'Code postal' , 'required':true}}) }}
                </div>
                <div class="col-md-8">
                    {{ form_errors(form.city) }}
                    {{ form_widget(form.city, {'attr':{'class':'form-control',
                        'placeholder': 'Ville' , 'required':true}}) }}
                </div>
            </div>
            <div class="form-group">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Visuel</span>
                    </div>
                    <div class="custom-file">
                        <div class="text-danger">{{ form_errors(form.file) }}</div>
                        <div class="form-control-file">{{ form_widget(form.file, {'attr':{
                                'class':'custom-file-input' , 'required':true}}) }}</div>
                        <label class="custom-file-label" for="inputGroupFile01">logo caisse régionale</label>
                    </div>
                </div>
                <small id="passwordHelpBlock" class="form-text text-muted">
                    icone au format : 40 x 40
                </small>
                <div id="image-holder"></div>
            </div>
            <h3>Contact :</h3>
            <div class="form-group">
                {{ form_errors(form.contact.name) }}
                {{ form_widget(form.contact.name, {'attr':{'class':'form-control',
                    'placeholder': 'Nom du contact'}}) }}
            </div>
            <div class="form-group">
                {{ form_errors(form.contact.fonction) }}
                {{ form_widget(form.contact.fonction, {'attr':{'class':'form-control',
                    'placeholder': 'Fonction'}}) }}
            </div>
            <div class="form-group">
                {{ form_errors(form.contact.phone) }}
                {{ form_widget(form.contact.phone, {'attr':{'class':'form-control',
                    'placeholder': 'Téléphone',
                    'pattern':'[0-9]{10}'}}) }}
            </div>
            <div class="form-group">
                {{ form_errors(form.contact.user.email) }}
                {{ form_widget(form.contact.user.email, {'attr':{'class':'form-control',
                    'placeholder': 'Email'}}) }}
            </div>
            <h3>Affectations :</h3>
            {{ form_errors(form.agence) }}
            {{ form_widget(form.agence, {'attr':{'class':'form-control'}}) }}
            <div style="{% if is_granted('ROLE_COMERCIAL') %} display: none;{% endif %}">
                {{ form_errors(form.commercial) }}
                {{ form_widget(form.commercial, {'attr':{'class':'form-control'}}) }}
            </div>

            {{ form_rest(form) }}
            <div class="row">
                <input type="submit" value="+ Valider">
            </div>
        </form>
    </div>
{% endblock %}

    {% block javascripts %}
        <script src="{{ asset('app/js/back/caisse/new.js') }}"></script>
        <script>
            $(document).ready(function () {
                $("#backbundle_caisse_file").on('change', function () {
                    if (typeof (FileReader) != "undefined") {
                        var image_holder = $("#image-holder");
                        image_holder.empty();
                        var reader = new FileReader();
                        reader.onload = function (e) {
                            $("<img />", {
                                "src": e.target.result,
                                "class": "img-thumbnail"
                            }).appendTo(image_holder);
                        }
                        image_holder.show();
                        reader.readAsDataURL($(this)[0].files[0]);
                    } else {
                        alert("This browser does not support FileReader.");
                    }
                });
            });
        </script>
    {% endblock %}