{% extends "base_back.html.twig" %}

{% block title %}Projet ISILIS {% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}
    <div class="float-left w-100">
        <a href="{{ path('back_home') }}" class="btn btn-md text-dark"><i class="fa fa-home mr-2"></i>Accueil</a>
    </div>
    <div class="col-12 col-md-12 bg-white pb-3 float-left">
        <div class="col mb-5 header">
            <h1 class="pl-2">CAISSES RÉGIONALES ACTIVES</h1>
            <h4><a class="titre-add" href="{{ path('caisse_new') }}">CREER UNE CAISSE</a></h4>
            <hr />
        </div>
        {% for bank in caisses %}
            <div class="col pl-lg-5 float-left bg-white pt-3 pb-3 ">
                <div class="col-lg-12 col-">
                    <h2 class="f-size-20"><img src="{{ asset('uploads/icones/'~bank.bank_data.icon) }}" width="30"
                                               height="30" class="rounded-circle mr-2">{{ bank.bank_data.name }}
                        ({{ bank.caisse_data|length }})</h2>
                </div>
                <div class="clear-fix"></div>
                <div class="col-lg-12">
                    <div class="row items m-md-0">
                        {% for caisse in bank.caisse_data %}
                            <div class="col-12 mb-3">
                                <div class="col-lg-5 col-sm-6 col-12 f-size-18 float-left">
                                    {{ caisse.name }}
                                </div>
                                <div class="col-lg-2 col-sm-6 col-12 f-size-18 float-left">
                                    {{ caisse.collaborateurs|length }}
                                    utilisateur{% if caisse.collaborateurs|length > 1 %}s{% endif %}
                                </div>
                                <div class="col-lg-3 col-sm-6 col-12 f-size-18 float-left">
                                    {{ caisse.agence.name }}
                                </div>
                                <div class="col-lg-2    col-sm-6 col-12 group-link float-left">
                                    <a href="{{ path('caisse_edit', {'id':caisse.id}) }}" data-toggle="tooltip"
                                       data-placement="bottom" title="Editer">
                                        <i class="fa fa-pencil"></i>
                                    </a>
                                    {% if caisse.active %}
                                        <a href="{{ path('caisse_suspendu', {'id':caisse.id} ) }}" data-toggle="tooltip"
                                           data-placement="bottom" title="Suspendre">
                                            <i class="fa fa-pause"></i>
                                        </a>
                                    {% else %}
                                        <a href="{{ path('caisse_activate', {'id':caisse.id}) }}" data-toggle="tooltip"
                                           data-placement="bottom" title="Activer">
                                            <i class="fa fa-play"></i>
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                        <div class="separator">&nbsp;</div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block javascripts %}{% endblock %}