{% extends "base_back.html.twig" %}
    
{% block title %}Projet ISILIS {% endblock %}
    
{% block stylesheets %}{% endblock %}
    
{% block body %}
    <div class="col col-md-8 float-left bg-white">
        <div class="col bg-white float-left p-3">
            <div class="col-lg-10 float-left">
                <h2 class="m-0 font-size-20"><img src="{{ asset('uploads/icones/'~caisse.bank.icon) }}"
                                                  class="rounded-circle"
                                                  height="40px" width="40px">
                    {{ caisse.name }}</h2>
                <a href="{{ path('caisse') }}" style="font-size: 12px">Listes des caisses</a>
            </div>
            <div class="col-lg-2 float-left">
                <a href="{{ path('caisse_edit', {'id':caisse.id}) }}" class="text-dark"><i class="fa fa-pencil"></i></a>
            </div>
        </div>
        <div class="col float-left mb-4">
            <hr>
        </div>
        <div class="col col-md-6 float-left mb-2"><h4>Addresse :</h4></div>
        <div class="col col-md-6 float-left mb-2"><h4>Contact :</h4></div>
        <div class="col offset-1 col-lg-5 float-left mb-4">
            {{ caisse.address }}<br>
            {{ caisse.zipCode }} {{ caisse.city }}
        </div>
        <div class="col offset-1 col-lg-5 float-left mb-4">
            {{ caisse.contact.name }}<br>
            {{ caisse.contact.fonction }}<br>
            {{ caisse.contact.user.email }}<br>
            {{ caisse.contact.phone }}
        </div>
        <div class="col float-left mb-2"><h4>Affectations :</h4></div>
        <div class="col bg-white float-left">
            <div class="col-lg-5 offset-1 float-left">Agence Affectée :</div>
            <div class="col-lg-5 offset-1 float-left mb-4">
                <img src="{{ asset('uploads/icones/'~caisse.agence.icon) }}" height="20" width="20"
                     class="rounded-circle"> {{ caisse.agence.name }}
            </div>
            <div class="col-lg-5 offset-1 float-left mb-4">Commercial Affecté :</div>
            {% if caisse.bank.commercial %}
                <div class="col-lg-5 offset-1 float-left">{{ caisse.bank.commercial.name }}</div>
            {% endif %}
        </div>
        <div class="col col-md-6 float-left mb-2"><h4>Visuels web :</h4></div>
        <div class="col col-md-6 float-left mb-2"><h4>Visuels print :</h4></div>
        <div class="col-lg-5 offset-1">
            {% for vweb in caisse.visualWebs %}
                <div class="col float-left">
                    {{ vweb.type }} {{ vweb.hauteur }} x {{ vweb.largeur }} {{ vweb.unite }}
                </div>
            {% endfor %}
        </div>
        <div class="col-lg-5 offset-1">
            {% for vprint in caisse.visualPrints %}
                <div class="col float-left">
                    {{ vprint.type }} {{ vprint.hauteur }} x {{ vprint.largeur }} {{ vprint.unite }}
                </div>
            {% endfor %}
        </div>
        <div class="col float-left">
            <hr>
        </div>
        <div class="col float-left">
        </div>
        <div class="col col-md-8 float-left bg-white mt-3 p-4">
            <div class="col-lg-12">
                <h4 class="font-size-20">Opérations en validation ({{ in_activation_operation|length }})</h4>
                {% for operation in in_activation_operation %}
                <div class="row">
                    <div class="col-lg-9">
                        <span class="font-size-18">{{ operation.name }}</span>
                    </div>
                    <div class="col-lg-3 group-link">
                        <a href="{{ path('caisse_edit', {'id':caisse.id}) }}" data-toggle="tooltip"
                           data-placement="bottom" title="Editer">
                            <i class="fa fa-pencil"></i>
                        </a>
                        {% if caisse.active %}
                        <a href="{{ path('caisse_suspendu', {'id':caisse.id} ) }}" data-toggle="tooltip"
                           data-placement="bottom" title="Suspendre">
                            <i class="fa fa-pause"></i>
                        </a>
                        {% else %}
                        <a href="{{ path('caisse_activate', {'id':caisse.id}) }}" data-toggle="tooltip"
                           data-placement="bottom" title="Activer">
                            <i class="fa fa-play"></i>
                        </a>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
        <div class="col float-left">
            <hr>
        </div>
        <div class="col-lg-12">
            <h4 class="font-size-20">Opérations actives ({{ active_operation|length }})</h4>
            {% for operation in active_operation %}
                <div class="row">
                    <div class="col-lg-9">
                        {{ operation.name }}
                    </div>
                    <div class="col-lg-3 group-link">
                        <a href="{{ path('caisse_edit', {'id':caisse.id}) }}" data-toggle="tooltip"
                           data-placement="bottom" title="Editer">
                            <i class="fa fa-pencil"></i>
                        </a>
                        {% if caisse.active %}
                            <a href="{{ path('caisse_suspendu', {'id':caisse.id} ) }}" data-toggle="tooltip"
                               data-placement="bottom" title="Suspendre">
                                <i class="fa fa-pause"></i>
                            </a>
                        {% else %}
                            <a href="{{ path('caisse_activate', {'id':caisse.id}) }}" data-toggle="tooltip"
                               data-placement="bottom" title="Activer">
                                <i class="fa fa-play"></i>
                            </a>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="col float-left">
            <hr>
        </div>
        <div class="col-lg-12">
            <h4 class="font-size-20">Opérations terminées ({{ done_operation|length }})</h4>
            {% for operation in done_operation %}
                <div class="row">
                    <div class="col-lg-9">
                        {{ operation.name }}
                    </div>
                    <div class="col-lg-3 group-link">
                        <a href="{{ path('operation_reactive', {'id':operation.id}) }}">
                            <i class="fa fa-repeat" data-toggle="tooltip" data-placement="bottom"
                               title="Re-activer"></i>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}