{% extends "base_back.html.twig" %}

{% block title %}Projet ISILIS {% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}
    <div class="col bg-white float-left">
        <div class="header col">
            <h1>LISTE DES AGENCES DE COM</h1>
            <h4><a class="titre-add" href="{{ path('agence_new') }}">CREER UNE AGENCE DE COM</a></h4>
            <hr>
        </div>
        {% for agence in agences %}
            <div class="row pl-lg-3">
                <div class="col-lg-10">
                    <h2 class=""><img src="{{ asset('uploads/icones/'~agence.icon) }}" class="rounded-circle" width="30"
                                      height="30">
                        {% set nb_caisse = agence.caisse|length %}
                        {{ agence.name }} ({{ nb_caisse }})
                    </h2>
                </div>
                <div class="col-lg-2 group-link">
                    <a href="{{ path('edit_agence',{'id':agence.id}) }}" data-toggle="tooltip"
                       data-placement="bottom" title="Editer">
                        <i class="fa fa-pencil"></i>
                    </a>
                    {% if agence.active %}
                        <a href="{{ path('inactive_agence', {'id':agence.id}) }}" data-toggle="tooltip"
                           data-placement="bottom" title="Suspendre">
                            <i class="fa fa-pause"></i>
                        </a>
                    {% else %}
                        <a href="{{ path('activate_agence', {'id':agence.id}) }}" data-toggle="tooltip"
                           data-placement="bottom" title="Re-activer">
                            <i class="fa fa-play"></i>
                        </a>
                    {% endif %}
                </div>
                {% for caisse in agence.caisse %}
                    <div class="col-lg-12" style="margin-left: 47px;">
                        <p class=""><img src="{{ asset('uploads/icones/'~caisse.bank.icon) }}" height="20" width="20"
                                         class="rounded-circle"> {{ caisse.name }}</p>
                    </div>
                {% endfor %}
            </div>
            <hr>
        {% endfor %}
    </div>
{% endblock %}

{% block javascripts %}{% endblock %}