{% extends "base_back.html.twig" %}

{% block title %}Projet ISILIS {% endblock %}

{% block stylesheets %}
    <style>
        #backbundle_agence_name {
            text-transform: uppercase;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="bg-white">
        <h1>CREER UNE AGENCE DE COM</h1>
        <hr />
        <form id="form-agence" style="width: 100%" method="post" action="{{ path('agence_new') }}"
              enctype="multipart/form-data">
            <h3>Identification :</h3>
            <div class="form-group">
                {{ form_errors(form.name) }}
                {{ form_widget(form.name, {'attr':{'class':'form-control',
                    'placeholder': "Nom de l'agence"}}) }}
            </div>
            <div class="form-group">
                {{ form_errors(form.address) }}
                {{ form_widget(form.address, {'attr':{'class':'form-control',
                    'placeholder': 'Adresse'}}) }}
            </div>
            <div class="form-row">
                <div class="col-md-4">
                    {{ form_errors(form.zipCode) }}
                    {{ form_widget(form.zipCode, {'attr':{'class':'form-control',
                        'placeholder': 'Code postal' }}) }}
                </div>
                <div class="col-md-8">
                    {{ form_errors(form.city) }}
                    {{ form_widget(form.city, {'attr':{'class':'form-control',
                        'placeholder': 'Ville' }}) }}
                </div>
            </div>
            <div class="form-group">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Icône</span>
                    </div>
                    <div class="custom-file">
                        <div class="text-danger">{{ form_errors(form.file) }}</div>
                        <div class="form-control-file">{{ form_widget(form.file, {'attr':{
                                'class':'custom-file-input'}}) }}</div>
                        <label class="custom-file-label" for="inputGroupFile01">Icône de l'agence</label>
                    </div>
                </div>
                <small id="passwordHelpBlock" class="form-text text-muted">
                    icone au format : 40 x 40
                </small>
                <div id="image-holder"></div>
            </div>
            <h3>Contact :</h3>
            <div class="form-group">
                {{ form_errors(form.contact.name) }}
                {{ form_widget(form.contact.name, {'attr':{'class':'form-control',
                    'placeholder': 'Nom du contact'}}) }}
            </div>
            <div class="form-group">
                {{ form_errors(form.contact.fonction) }}
                {{ form_widget(form.contact.fonction, {'attr':{'class':'form-control',
                    'placeholder': 'Fonction'}}) }}
            </div>
            <div class="form-group">
                {{ form_errors(form.contact.phone) }}
                {{ form_widget(form.contact.phone, {'attr':{'class':'form-control',
                    'placeholder': 'Téléphone',
                    'pattern':'[0-9]{10}'}}) }}
            </div>
            <div class="form-group">
                {{ form_errors(form.contact.user.email) }}
                {{ form_widget(form.contact.user.email, {'attr':{'class':'form-control',
                    'placeholder': 'Email'}}) }}
            </div>
            {{ form_rest(form) }}
            <div class="row">
                <input type="submit" value="+ Valider">
            </div>
        </form>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('app/js/back/agence/new.js') }}"></script>
    <script>
        $(document).ready(function () {
            $("#backbundle_agence_file").on('change', function () {
                if (typeof (FileReader) != "undefined") {
                    var image_holder = $("#image-holder");
                    image_holder.empty();
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $("<img />", {
                            "src": e.target.result,
                            "class": "img-thumbnail"
                        }).appendTo(image_holder);
                    }
                    image_holder.show();
                    reader.readAsDataURL($(this)[0].files[0]);
                } else {
                    alert("This browser does not support FileReader.");
                }
            });
        });
    </script>
{% endblock %}