<div class="lien-top row agence-menu-parametre">
    <div class="col-5 col-xs-4">
        <div class="dropdown">
            <a href="{{path('agence_home')}}" class="logo_isilis">
                <img src="{{asset('uploads/icones/'~app.user.agenceContact.agence.icon)}}" class="" alt="logo caisse">
            </a>
            <a class="caise-name-top" href="{{path('agence_home')}}" role="button" id="dropdownB" data-toggle="dropdown" aria-expanded="false" aia-haspopup="true">
                {{agence.name}}
            </a>
            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownB">
                <li class="dropdown-submenu">

                    <img src="/isilis-project/web/theme/images/img/logout.png" width="30" height="23" class="mr-2">
                    <a href="{{path('fos_user_security_logout')}}"><b>Se déconnecter</b></a>
                </li>
            </ul>
        </div>
    </div>

    <ul class=" col-7 menu-top col-xs-8">
        <li>
            <a class="" href="{{path('operation_validation_index')}}" role="button" id="dropdownB">
                <p><i class="fa fa-envelope fa-w-16"></i></p>
                Messageries ({{nbmsg}})
            </a>
        </li>
        <li class="position-relative">
            <a class="dropdown-toggle" href="javascript:void(0)" role="button" id="dropdownB"
               data-toggle="dropdown" aria-expanded="false" aia-haspopup="true"><p><i
                        class="fa fa-cog fa-w-16"></i>
                <p>Paramètres</p></a>
            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownB">
                <li class="">
                    <a href="{{ path('agence_info') }}">Paramètres</a>
                </li>
                <li class="dropdown-submenu">
                    <a href="{{ path('fos_user_security_logout') }}">Déconnexion</a>
                </li>
            </ul>
        </li>
    </ul>
</div>