<div class="col-2 d-block d-md-none text-right">
    <a href="javascript:void(0)" class="menu-xs-trigger">
        <img src="/isilis-project/web/theme/images/img/menu_trensparent.png" width="20">
    </a>
</div>
<div class="col-8 col-md-5">
    {{ render(controller('AgenceBundle:Search:searchForm',{ 'request':app.request})) }}
</div>
<div class="col-2 d-block d-md-none mt-2 text-left">
    <a href="javascript:void(0)" class="btn btn-default btn-left-menu text-dark"><i class="fa fa-user"></i> </a>

</div>
<ul class="lien-top col-5 d-none d-md-block">
    <li class="">
        <a class="" href="{{ path('operation_validation_index') }}" role="button" id="dropdownB">
            <p><i class="fa fa-envelope fa-w-16"></i></p>
            Messageries ({{ nbmsg }})
        </a>
    </li>
    <li class="position-relative">
        <a class="dropdown-toggle" href="javascript:void(0)" role="button" id="dropdownB"
           data-toggle="dropdown" aria-expanded="false" aia-haspopup="true"><p><i
                    class="fa fa-cog fa-w-16"></i>
            <p>Paramètres</p></a>
        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownB">
            <li class="">
                <a href="{{ path('agence_info') }}">Paramètres</a>
            </li>
            <li class="dropdown-submenu">
                <a href="{{ path('fos_user_security_logout') }}">Déconnexion</a>
            </li>
        </ul>
    </li>
</ul>
<div class="menu-mobile d-block d-md-none">
    <ul class="lien-top">
        <li class="">
            <a class="" href="{{ path('operation_validation_index') }}" role="button" id="dropdownB">
                <p><i class="fa fa-envelope fa-w-16"></i></p>
                Messageries ({{ nbmsg }})
            </a>
        </li>
        <li>
            <a href="{{ path('agence_info') }}">
                <p><i class="fa fa-cog fa-w-16"></i></p>
                <p>Paramètres</p>
            </a>
        </li>
    </ul>
</div>