{% extends "base_back.html.twig" %}
{% block body %}
    <div class="float-left w-100">
        <a href="{{ path('back_home') }}" class="btn btn-md text-dark"><i class="fa fa-home mr-2"></i>Accueil</a>
    </div>
    <div class="bg-white pb-4 float-left w-100 mb-3">
        <h1>
            CAISSES CONNECTEES
        </h1>
    </div>

    <div class="bg-white pb-4 pt-4 pl-4 float-left w-100 mb-3">
        <div class="row">
            <div class="col"><h3>Nom </h3></div>
            <div class="col"><h3>Email</h3></div>
            <div class="col"><h3>Banque</h3></div>
            <div class="col"><h3>Caisse</h3></div>
            <div class="col"><h3>Dernière Connexion</h3></div>
        </div>
        {% for caisse in users.caise_data %}
            <div class="row">
                {% if caisse.user.caisseContact is null %}
                    <div class="col">{{ caisse.user.caisseCollaborateur.name }}</div>
                    <div class="col">{{ caisse.user.email }}</div>
                    <div class="col">{{ caisse.user.caisseCollaborateur.caisse.bank.name }}</div>
                    <div class="col">{{ caisse.user.caisseCollaborateur.caisse.name }}</div>
                    <div class="col">{{ caisse.lastLogin|date('y-m-d h:m:s') }}</div>
                {% else %}
                    <div class="col">{{ caisse.user.caisseContact.name }}</div>
                    <div class="col">{{ caisse.user.email }}</div>
                    <div class="col">{{ caisse.user.caisseContact.caisse.bank.name }}</div>
                    <div class="col">{{ caisse.user.caisseContact.caisse.name }}</div>
                    <div class="col">{{ caisse.lastLogin|date('y-m-d h:m:s') }}</div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
    <div class="bg-white pb-4 float-left w-100 mb-3">
        <h1>
            AGENCES DE COM CONNECTES
        </h1>
    </div>

    <div class="bg-white pb-4 pt-4 pl-4 float-left w-100">
        <div class="row">
            <div class="col"><h3>Nom </h3></div>
            <div class="col"><h3>Email</h3></div>
            <div class="col"><h3>Phone</h3></div>
            <div class="col"><h3>Dernière Connexion</h3></div>
        </div>
        {% for agneces in users.agence_data %}
            <div class="row">
                {% if agneces.user.agenceContact is null %}
                    <div class="col">{{ agneces.user.agenceCollaborateur.name }}</div>
                    <div class="col">{{ agneces.user.email }}</div>
                    <div class="col">{{ agneces.user.agenceCollaborateur.phone }}</div>
                    <div class="col">{{ agneces.lastLogin|date('y-m-d h:m:s') }}</div>
                {% else %}
                    <div class="col">{{ agneces.user.agenceContact.name }}</div>
                    <div class="col">{{ agneces.user.email }}</div>
                    <div class="col">{{ agneces.user.agenceContact.phone }}</div>
                    <div class="col">{{ agneces.lastLogin|date('y-m-d h:m:s') }}</div>
                {% endif %}
            </div>
        {% endfor %}
    </div>

{% endblock %}