<!DOCTYPE html>
<html>
    <head>
        <style>
            .modetrans label{
                padding-left: 5px;
                cursor: pointer;
                padding-right: 5px;
            }
        </style>
        <script src="{{ asset('app/js/back/campaign/new.js') }}"></script>
        <script src="{{ asset('theme/vendor/datepicker/js/datepicker-fr.js') }}"></script>
        <script>
            $(document).ready(function () {
                $('.datepicker').each(function () {
                    var t = $(this);
                    t.datepicker({
                        dateFormat: 'dd-mm-yy',
                    });
                });

                $('.datepickerbtn').each(function () {
                    var t = $(this).parent().parent().find('.datepicker');
                    $(this).on("click", function () {
                        t.datepicker("show");
                    });
                });
                
                $('#caissebundle_campaign_startDate').on( "change", function() {
                    $('#caissebundle_campaign_endDate').datepicker( "option", "minDate", getDate( this ) );
                    console.log(getDate( this ));
                });
            
                $('#caissebundle_campaign_endDate').on( "change", function() {
                    $('#caissebundle_campaign_startDate').datepicker( "option", "maxDate", getDate( this ) );
                    console.log(getDate( this ));
                });
            });
        </script>
    </head>
    <body>
        <div class="modal-dialog modal-lg" role="document">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">CREER UNE CAMPAGNE PERSONNALISEE</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span>&times;</span>
                    </button>
                </div>
                <form id="form-campaign" style="width: 100%" method="post" action="{{ path('caisse_campaign_custom') }}"
                      enctype="multipart/form-data">
                    <div class="modal-body">
                        <div class="col form-group float-left">
                            {{ form_widget(form.cibleCom,{'attr':{'class':'form-control',
                            'placeholder':'Cible de la campagne'}}) }}
                        </div>
                        <div class="col form-group float-left">
                            {{ form_errors(form.description) }}
                            {{ form_widget(form.description,{'attr':{'class':'form-control',
                        'placeholder':'Descriptif commercial de la campagne','rows':"5"}}) }}
                        </div>
                        <div class="col form-group float-left">
                            {{ form_errors(form.comment) }}
                            {{ form_widget(form.comment,{'attr':{'class':'form-control',
                        'placeholder':'Remarques / notes explicatives / dépôt de documents ','rows':"5"}}) }}
                        </div>                       
                        {% for item in form.operation %}
                            <div class="col form-group float-left">
                                {{ form_widget(item.name,{'attr':{'class':'form-control','placeholder':"Nom de l'opération"}}) }}
                            </div>
                            <div class="" style="display: none">
                                {{ form_widget(item.objectif,{'attr':{'class':'form-control'}, 'required':false})}}
                            </div>
                            <div class="col form-group float-left">
                                {{ form_widget(item.cibleCom,{'attr':{'class':'form-control','placeholder':'Cible commerciale'}}) }}
                            </div>
                            <div class="col form-group float-left">
                                {{ form_widget(item.cibleIlig,{'attr':{'class':'form-control',
                        'placeholder':"Critère d’éligibilité"}}) }}
                            </div>
                            <div class="col form-group float-left">
                                <div class="form-check-inline modetrans">

                                    <label style="    padding-right: 16px;">Mode de transmission des bénéficiaires:</label>
                                    {{ form_errors(item.modeTrans)}}
                                    {{ form_widget(item.modeTrans,{'attr':{'class':'form-check-input'}})}}

                                </div>
                            </div>

                            <div class="col form-group float-left">
                            <div class="col col-sm-6 b3 b3-left">
                                <div class="form-group">
                                    <div class="input-group">
                                        {{ form_widget(item.startDate,{'attr':{'class':'form-control datepicker','placeholder':'Date début'}}) }}
                                        <div class="input-group-append">
                                            <button type="button" class="btn btn-default datepickerbtn" data-toggle="datepicker"
                                                    data-target-name="sample-date"><span class="fa fa-calendar"></span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                <div class="col col-sm-6 b3 b3-right">
                                    <div class="form-group">
                                        <div class="input-group">
                                            {{ form_widget(item.endDate,{'attr':{'class':'form-control datepicker','placeholder':'Date fin'}}) }}
                                            <div class="input-group-append">
                                                <button type="button" class="btn btn-default datepickerbtn" data-toggle="datepicker"
                                                        data-target-name="sample-date"><span class="fa fa-calendar"></span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                             </div>

                            <div class="col form-group float-left">
                                {{ form_widget(item.amount,{'attr':{'class':'form-control','placeholder':'Montant(s) dotation en bons'}}) }}
                            </div>
                            <div class="col form-group float-left">
                                {{ form_errors(item.object_vol)}}
                                {{ form_widget(item.object_vol,{'attr':{'class':'form-control','placeholder':'Objectif volumétrie'}})}}
                            </div>
                            <div class="hide" style="display: none">
                                {{ form_widget(item.comment,{'attr':{'class':'form-control','placeholder':'Remarques /autre','rows':3}, 'required':false}) }}
                            </div>
                        {% endfor %}
                        <div class="col col form-group float-left float-left">
                            <small id="passwordHelpBlock" class="form-text text-muted">
                                Visuel au format : 400 x 120
                            </small>
                            <div id="image-holder"> </div>
                        </div> 
                        <div class="float-left"><h3>Visuels web fournis:</h3></div>
                        <div class="form-group float-left">
                            <h4>Medias digitaux</h4>
                            <p class="text-small">
                                Vous souhaitez que l'agence de com mettre à votre disposition les fichiers digitaux suivants :
                            </p>
                            <ul class="split-list row">
                                {% for media in caisse.visualWebs %}
                                    <li class="col-md-4">
                                        <label>
                                            <input type="checkbox" value="{{media.id}}" name="webs[]">
                                            {{ media.type }} - {{ media.largeur }}X{{ media.hauteur }}    
                                        </label>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="float-left form-group">
                            <h4>Medias print</h4>
                            <p class="text-small">
                                Vous souhaitez que l'agence de com mettre à votre disposition les fichiers digitaux suivants :
                            </p>
                            <ul class="split-list row">
                                {% for media in caisse.visualPrints %}
                                    <li class="col-md-4">
                                        <label>
                                            <input type="checkbox" value="{{media.id}}" name="prints[]">
                                            {{ media.type }} - {{ media.largeur }}X{{ media.hauteur }}
                                        </label>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        {{ form_rest(form) }}
                        <div class="col-12 float-left mb-4 text-center">
                            <button id="btn-submit" type="submit" class="btn btn-sm btn-success btn-ok">COMMANDER CETTE
                                OPERATION
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <script>        
            $(document).ready(function () {
                $("#caissebundle_campaign_file").on('change', function () {
                    if (typeof (FileReader) != "undefined") {
                        var image_holder = $("#image-holder");
                        image_holder.empty();
                        var reader = new FileReader();
                        reader.onload = function (e) {
                            $("<img />", {
                                "src": e.target.result,
                                "class": "img-thumbnail"
                            }).appendTo(image_holder);
                        }
                        image_holder.show();
                        reader.readAsDataURL($(this)[0].files[0]);
                    } else {
                        alert("This browser does not support FileReader.");
                    }
                });
            });
        </script>
    </body>
</html>

