<div class="container ">
    <div class="row p-relative">
        <a href="javascript:void(0)" class="close-detail"><i class="fa fa-close"></i></a>
        <div class="col-md-4 detail-right compagne_detail_right d-block d-md-none">
            <h3 class="caise-title-detail1">{{ campaign.name }}</h3>
            {% if campaign.active %}
                <div class="etat">
                    <i class="fa fa-circle blue"></i> En cours
                </div>
            {% else %}
                <div class="etat">
                    <i class="fa fa-circle red"></i> Terminé
                </div>
            {% endif %}
            <sapn class="etat">
                <i class="fa fa-clock-o"></i> du {{ campaign.startDate|date('d M. Y') }}
                au {{ campaign.endDate|date('d M. Y') }}
            </sapn>
            <div class="compagne_description">{{ campaign.description }}</div>
        </div>
        <div class="col-md-4 compagne_detail_left">
            <a href="javascript:;" class="d-none d-md-block">
                <img src="{{ asset(campaign.getWebPath()) }}">
            </a>
            <h3 class="caise-title-detail">Eléments graphiques à disposition de cette opération</h3>
            {% for vweb in campaign.visualWebs %}
                {% if vweb.path %}
                <i class="fa fa-file-image-o"></i>
                <span class="file_extension">{{ vweb.type }}</span>
                <span class="image">
                    <a href="{{ asset(vweb.getWebPath()) }}" class="img_preview"
                       data-lightbox="roadtrip">{{ vweb.path }}</a>
                </span><br>
            {% endif %}
            {% endfor %}
            {% for vprint in campaign.visualPrints %}
                {% if vprint.path %}
                <i class="fa fa-file-pdf-o"></i>
                <span class="file_extension">{{ vprint.type }}</span>
                <span class="image">
                    <a href="{{ asset(vprint.getWebPath()) }}" class="img_preview"
                       data-lightbox="roadtrip">{{ vprint.path }}</a>
                </span><br>
            {% endif %}
            {% endfor %}
        </div>
        <div class="col-md-4 detail-right compagne_detail_right d-none d-md-block">
            <h3 class="caise-title-detail1">{{ campaign.name }}</h3>
            {% if campaign.active %}
                <div class="etat">
                    <i class="fa fa-circle blue"></i> En cours
                </div>
            {% else %}
                <div class="etat">
                    <i class="fa fa-circle red"></i> Terminé
                </div>
            {% endif %}
            <sapn class="etat">
                <i class="fa fa-clock-o"></i> du {{ campaign.startDate|date('d M. Y') }}
                au {{ campaign.endDate|date('d M. Y') }}
            </sapn>
            <div class="compagne_description">{{ campaign.description }}</div>
            <div class="text-center-xs">
                <a href="{{ path('caisse_operation_order', {'id':campaign.id}) }}"
                   class="btn btn-lg btn-primary btn-detail" data-remote="false" data-toggle="modal"
                   data-target="#modal">
                    COMMANDER CETTE OPERATION
                </a>
            </div>
        </div>
        <div class="text-center-xs d-block d-md-none col">
            <a href="{{ path('caisse_operation_order', {'id':campaign.id}) }}"
               class="btn btn-lg btn-primary btn-detail" data-remote="false" data-toggle="modal"
               data-target="#modal">
                COMMANDER CETTE OPERATION
            </a>
        </div>
    </div>
</div>


