{% extends "base_caisse.html.twig" %}

{% block title %}Projet ISILIS {% endblock %}

{% block stylesheets %}
    <link href="{{ asset('theme/vendor/datepicker/css/jquery-ui.min.css') }}" rel="stylesheet">
    <link href="{{ asset('theme/vendor/lightbox/css/lightbox.min.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class=" bloc-searsh">
        <div class="container">
            <form id="form-search" method="get" action="">
                <div class="form-row">
                    <div class="default-form search_text">
                        <p class="serch"> Recherche dans :</p>
                    </div>
                    <div class="default-form type_compagnie">
                        {{ form_widget(form.type, {'attr':{'class':'form-control search'}}) }}
                    </div>
                    <div class="default-form marg-l-5 intitule_compagnie">
                        {{ form_widget(form.compaign, {'attr':{'class':'form-control search'}}) }}
                    </div>
                    {#<div class="default-form marg-l-5 year_compagnie">
                        {{ form_widget(form.year, {'attr':{'class':'form-control search'}}) }}
                    </div>#}
                </div>
            </form>
        </div>
    </div>
    <div class="result-bloc">
        <div class="row " id="search-result">
            {% set row = 1 %}
            {% set count = 1 %}
            {% set container = 1 %}
            {% for campaign in campaigns %}
                {% set container = container + 1 %}
                {% if container % 2 == 0 %}
                    <div class="container">
                    <div class="row">
                {% endif %}
                <div class="col-md-6 caise">
                    <div class="col-md-12 caisse-img">
                        <a class="img-detail" data-target="cont-{{ row }}"
                           data-pos="{% if container % 2 == 0 %}left{% else %}right{% endif %}"
                           href="{{ path('caisse_campaign_detail', {'id':campaign.id}) }}">
                            <img src="{{ asset(campaign.getWebPath()) }}" style="width: 394px; height: 119px">
                        </a>
                    </div>
                    <div class="col-md-12 caisse-description">
                        <h3>{{ campaign.name }}</h3>
                        <a href="javascript:void(0)" class="compagne_status"><i class="fa fa-circle"></i>
                            En cours
                        </a>
                        <span class="compagne_delai"><i
                                    class="fa fa-clock-o"></i>
                            {% if campaign.permanent %}
                                Permanent
                            {% else %}
                                Du {{ campaign.startDate|date('d/m/Y') }} au {{ campaign.endDate|date('d/m/Y') }}
                            {% endif %}
                                    </span>
                        <!--<div class="descriptif">{{ campaign.description }}</div>-->
                    </div>
                </div>
                {% if container % 2 != 0 or loop.last %}
                    </div>
                    </div>
                {% endif %}

                {% if loop.index % 2 == 0 %}
                    <div class="col-md-12 form-row bloc-detail collapse" id="cont-{{ row }}"></div>
                    {% set row = row + 1 %}
                {% endif %}
                {% set count = loop.index %}
            {% endfor %}
            {% if count % 2 == 1 %}
                <div class="col-md-12 form-row bloc-detail collapse" id="cont-{{ row }}"></div>
            {% endif %}
        </div>
    </div>

    <div class="container" style="    padding-left: 222px;
    padding-right: 78px;">
        <div class="row">
            <div class="col-md-12 caisse w-100">
                <div class="col-md-12 caisse-img">
                    <a href="{{ path('caisse_campaign_custom') }}" data-remote="false" data-toggle="modal"
                       data-target="#modal">
                        <img src="{{ asset('theme/images/img/new.png') }}" style="width: 394px; height: 119px"
                             class="w-100">
                    </a>
                </div>
                <div class="col-md-12 caisse-description w-100">
                    <h3>Créer une campagne personnalisée</h3>
                    <div class="descriptif">Définissez les termes la campagne personnalisée</div>
                </div>
            </div>
        </div>
    </div>


    <div class="modal" tabindex="-1" role="dialog" id="modal"></div>
{% endblock %}

{% block javascripts %}

    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script src="{{ asset('theme/vendor/datepicker/js/jquery-ui.min.js') }}"></script>

{% endblock %}
