{% set row = 1 %}
{% set count = 1 %}        
{% set container = 1 %}        
{% for campaign in campaigns %}
    {% set container = container + 1 %}        
    {% if container % 2 == 0 %}
        <div class="container">
            <div class="row">
            {% endif %}
            <div class="col-md-6 caise">
                {% if campaign.id == 0 %}
                    <div class="col-md-12 caisse-img">
                        <a href="{{path('caisse_campaign_custom')}}" data-remote="false" data-toggle="modal" data-target="#modal">
                            <img src="{{asset('theme/images/img/new.png')}}" style="width: 394px; height: 119px">
                        </a>
                    </div>
                    <div class="col-md-12 caisse-description">
                        <h3>Créer une campagne personnalisée</h3>
                        <div class="descriptif">Définissez les termes la campagne personnalisée</div>
                    </div>
                {% else %}
                    <div class="col-md-12 caisse-img">
                        <a class="img-detail" data-target="cont-{{ row }}"
                           data-pos="{% if container % 2 == 0 %}left{% else %}right{% endif %}"
                           href="{{ path('caisse_campaign_detail', {'id':campaign.id}) }}">
                            <img src="{{ asset(campaign.getWebPath()) }}" style="width: 394px; height: 119px">
                        </a>
                    </div>
                    <div class="col-md-12 caisse-description">
                        <h3>{{ campaign.name }}</h3>
                        <a href="javascript:void(0)" class="compagne_status"><i class="fa fa-circle"></i>                                        
                            En cours
                        </a>
                        <span class="compagne_delai"><i
                                class="fa fa-clock-o"></i>
                            {% if campaign.permanent %}
                                Permanent
                            {% else %}
                                Du {{campaign.startDate|date('d/m/Y')}} au {{campaign.endDate|date('d/m/Y')}} 
                            {% endif %}
                        </span>
                    <!--<div class="descriptif">{{ campaign.description }}</div>-->
                    </div>
                {% endif %}
            </div>
            {% if container % 2 != 0 %}
            </div>
        </div>
    {% endif %}
    
    {% if loop.index % 2 == 0 %}
        <div class="col-md-12 form-row bloc-detail " id="cont-{{row}}"></div>
        {% set row = row + 1 %}
    {% endif %}
    {% set count = loop.index %}
{% endfor %}
{% if count % 2 == 1 %}
    <div class="col-md-12 form-row bloc-detail" id="cont-{{row}}"></div>
{% endif %}