body a {
    text-decoration: none;
}

.tab-content {
    width: 100%;
    float: left;
}

body a:hover {
    text-decoration: none;
}

.logo_isilis img {
    width: 38px;
    height: 40px;
}

.logo_isilis:hover {
    text-decoration: none;
}

.logo_isilis {
    text-decoration: none;
}

.lien-top {
    padding: 20px 0 12px 0px;
}

.lien-top li a {
    font-size: 14px;
}

.menu-top {
    margin-bottom: 0;
}

.lien-top li {
    padding: 0px 20px 0 20px;
}

.bloc-searsh {
    padding: 15px 0 10px 0;
}

.marg-l-5 {
    margin-left: 5px;
}

.default-form .form-control {
    border: 0;
    outline: 0;
    box-shadow: none;
}

.font-size-20 {
    font-size: 20px;
}

.default-form .form-control:focus {
    outline: 0;
    border: 0;
    box-shadow: none;
}

.bloc-detail {
    display: none;
}

.caise {
    max-width: 36%;
    padding: 0 10px;
}

.caise:first-child .caisse-img {
    text-align: right;
}

.caise:first-child {
    margin-left: 19%;
}

.compagne_status,
.compagne_delai {
    float: left;
    color: #474747;
    font-size: 14px;
    width: 100%;
}

.compagne_status i,
.compagne_delai i {
    color: #73A0CA;
    font-size: 17px;
    margin-right: 9px;
}

.compagne_delai i {
    color: #474747;
}

.caisse-description h3 {
    padding-bottom: 24px;
}

.caisse-description {
    float: left;
}

.search_text {
    text-align: left;
    width: 110px;
}

.type_compagnie {
    width: 275px;
}

.intitule_compagnie {
    width: 275px;
}

.year_compagnie {
    width: 115px;
}

#form-search .form-row {
    margin-left: 21%;
}

.img-detail img {
    height: 120px;
    width: 100%;
}

.list-info li.active a {
    color: #fff;
}

.caisse_settings .default-form .form-control {
    font-size: 18px;
}

.caisse_settings .default-form {
    padding: 20px 30px;
}

.default-form .btn-ok {
    width: 390px;
    padding: 20px 0;
}

select.form-control {
    height: 50px;
}

.bloc-detail:before {
    font-size: 49px;
    top: -44px;
}

.bloc-detail.arrow-left:before {
    right: 57%;
}

.p-relative {
    position: relative;
}

.bloc-detail.arrow-right:before {
    right: 35%;
}

.compagne_detail_left {
    margin-left: 19%;
}

.compagne_detail_right,
.compagne_detail_left {
    max-width: 36%;
}

.compagne_detail_left img {
    height: 120px;
    width: 100%;
}

.bloc-detail {
    padding: 43px 0;
}

.caise-title-detail {
    margin-bottom: 20px;
}

.file_extension {
    margin: 0 20px;
}

.img_preview {
    color: #fff;
}

.img_preview:hover {
    color: #73a0ca;
}

.compagne_description {
    margin-top: 30px;
}

.btn-detail {
    width: 390px;
    font-size: 20px;
}

.help .fa-question-circle-o {
    margin-right: 20px;
    font-size: 22px;
}

#search-result {
    margin: 0;
}

.help .fa-question {
    margin-left: 10px;
}

.question:before {
    content: "?";
    font-family: FontAwesome;
    color: #8B8B8B;
    font-size: 15px;
    margin-right: 10px;
    border-radius: 50%;
    border: 1px solid;
    width: 24px;
    height: 24px;
    float: left;
    text-align: center;
}

.wait {
    /* display: none; */
    position: fixed;
    z-index: 2000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    opacity: .6;
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
}

.loader:before, .loader:after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 2px solid transparent;
    border-top-color: #232325;
}

.loader:before {
    z-index: 100;
    animation: spin 1s infinite;
}

.loader:after {
    border: 2px solid #ccc;
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

#form-media .form-control:not(textarea) {
    height: 50px;
}

#form-media .form-control:focus,
#form-media .form-control:hover,
#form-media .form-control:active:focus {
    border: 0;
    outline: 0;
    box-shadow: none;
}

#form-media .form-control.datepicker {
    border: 0;
}

.col-sm-6.b3 {
    float: left;
}

.b3-left {
    padding-left: 0;
}

.b3-right {
    padding-right: 0;
}

.mt-15 {
    margin-top: 15px;
}

#form-media .input-group-append {
    display: none;
}

.f25 {
    font-size: 25px;
}

.btn-ok {
    padding: 20px 41px;
    color: #fff;
}

.p-0 {
    padding: 0 !important;
}

.m-t-40 {
    margin-top: 40px;
}

.m-b-40 {
    margin-bottom: 40px;
}

.f20 {
    font-size: 20px;
}

.f17 {
    font-size: 17px;
}

.isi-navbar-brand {
    background: #EEEEEE;
    padding: 15px 15px 0px 15px;
}

.isi-navbar-brand .nav-tabs .nav-link {
    font-size: 18px;
    padding: 19px 48px;
    border: 0;
    color: #474747;
    background: #fff;
    border-radius: 0;
}

.isi-navbar-brand .nav-tabs .nav-link.active {
    background: #F5F5F5;
}

.isi-tab-content .tab-pane.active {
    background: #F5F5F5;
}

.isi-tab-content {
    padding-bottom: 50px;
    margin-top: 30px;
}

.ui-corner-all {
    z-index: 99999 !important;
}

.list-group-item:last-child {
    border-radius: 0;
}

.isi-tab-content .list-group-item {
    border: 0;
    border-bottom: 1px solid #eaeaea;
    margin-bottom: 2px;
    padding: 0;
    float: left;
    width: 100%;
}

.isi-tab-content .list-group-item a,
.isi-tab-content .opr-active-link-xs,
.isi-tab-content .opr-done-link-xs
.isi-tab-content .opr-invalid-link-xs {
    font-size: 20px;
    padding: 8px 15px;
    float: left;
    width: 100%;
    color: #474747;
}

.isi-tab-content .list-group-item a.active,
.isi-tab-content .opr-active-link-xs.active,
.isi-tab-content .opr-done-link-xs.active,
.isi-tab-content .opr-invalid-link-xs.active {
    background: #73A0CA;
    color: #fff;
}

.operation_date {
    font-size: 14px;
    float: left;
    padding: 8px 15px;
}

.p-l-10 {
    padding-left: 10px;
}

.count_notif {
    width: 20px;
    height: 20px;
    background: #FFB73B;
    color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12);
    text-align: center;
    position: absolute;
    border-radius: 50%;
    font-size: 12px;
    line-height: 20px;
    top: 12px;
    left: -22px;
}

.alert-send {
    background: #EBEBEB;
    width: 75%;
    float: left;
}

.alert-request {
    background: #73A0CA;
    width: 75%;
    float: right;
    color: #fff;
}

.btn-send-msg {
    color: #fff;
    background: #73a0ca;
    width: 100%;
    text-align: right;
    padding: 10px 20px;
    border: 1px solid #73a0ca !important;
    text-decoration: none;
    border-radius: 0;
}

.btn-send-msg:hover {
    text-decoration: none;
    background: #fff;
    color: #73a0ca;
}

.btn-send-msg .fa {
    margin-right: 30px;
}

.msg_content:after {
    content: "";
    width: 1px;
    height: 96%;
    position: absolute;
    background: #73a0ca;
    top: 0;
    left: 0;
}

.msg_content {
    position: relative;
    padding: 0px 0 25px 25px;
    float: left;
    margin-bottom: 30px;
    width: 100%;
}

.msg_content:before {
    content: "";
    width: calc(100% - 33px);
    height: 1px;
    position: absolute;
    background: #e3e3e3;
    bottom: 0;
    left: 33px;
}

.aide {
    bottom: 78px;
    cursor: pointer;
}

.right-sidebar {
    position: fixed;
    background: #fff;
    padding: 20px 5px 20px 36px;
    width: 307px;
    box-shadow: 0 0 10px rgba(51, 51, 51, 0.38);
    height: 100%;
    right: -300px;
    top: 0;
    -webkit-transition: all;
    -o-transition: all;
    transition: all;
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms;
    z-index: 5;
    opacity: 0;
    filter: alpha(opacity=0);
}

.right-sidebar.toggled {
    right: 0;
    opacity: 1;
    filter: alpha(opacity=100);
}

.menu-responsive {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.menu-responsive li {
    width: 100%;
    float: left;
    margin-bottom: 20px;
    position: relative;
}

.menu-responsive li a {
    font-size: 17px;
    color: #000;
}

.menu-responsive li a i {
    margin-right: 17px;
}

.menu-responsive .logo-caise {
    width: 200px;
    height: 100%;
}

.menu-xs-close {
    float: right;
    color: #000;
    font-size: 30px !important;
}

.menu-responsive .question:before {
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 18px;
    color: #000000;
}

.count_operation {
    width: 20px;
    height: 20px;
    background: #4285f4;
    color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12);
    text-align: center;
    position: absolute;
    border-radius: 50%;
    font-size: 12px;
    line-height: 20px;
    top: 12px;
    left: -22px;
}

.count_operation span {
    width: 22px;
    height: 22px;
    background: #FFB73B;
    line-height: 22px;
    border-radius: 50%;
    float: left;
    text-align: center;
    color: #fff;
}

.lien-top ul.dropdown-menu.dropdown-menu-right {
    top: 49px !important;
    left: 90px !important;
    margin-left: 0 !important;
    border: 0;
    background: #fff;
}

.lien-top ul.dropdown-menu-right li {
    padding: 10px 20px 5px 15px;
}

.caisse_settings {
    padding: 50px 0;
}

.colaborator-time, .colaborator-pause {
    padding: 24px 24px;
    display: block;
}

.collab-list tr td a {
    padding: 24px 24px;
    display: block;
    color: #000;
}

.colaborator-time {
    color: #fff !important;
}

.colaborator-pause {

}

.colaborator-name {
    white-space: nowrap;
}

.menu-right-caise-xs li {
    display: inline;
    margin-right: 5px;
    float: left;
    width: calc(33.33333% - 5px);
}

.menu-right-caise-xs li a {
    padding: 8px 0px;
    float: left;
    color: #000;
    text-align: center;
    width: 100%;
}

.menu-right-caise-xs {
    margin: 0;
    padding: 0;
}

.menu-right-caise-xs li.active a {
    color: #fff !important;
}

.colaborator-new a {
    float: left;
    background: #fff;
    padding-right: 20px;
    width: 100%;
}

.colaborator-new a i {
    padding: 27px 26px;
    background: #ebebeb;
    color: #000;
}

.close-detail {
    position: absolute;
    right: 0;
    color: #000;
    padding: 6px 12px;
    background: #fff;
}

.close-detail:focus,
.close-detail:hover,
.close-detail:active:focus {
    color: #000;
}

#form-campaign .form-control {
    border: 0;
    box-shadow: none;
}

#form-campaign .form-control:not(textarea) {
    height: 50px;
}

#caissebundle_campaign_modeTrans label {
    margin-bottom: 0;
    margin-left: 5px;
}

#caissebundle_campaign_modeTrans input {
    margin-left: 15px;
}

.btn-isilis,
.btn-isilis-2 {
    background: #73A0CA !important;
    border: #73A0CA !important;
    border-radius: 15px;
    padding: 10px 33px;
    color: #fff;
    margin-bottom: 20px;
    font-size: 20px;
}

.btn-isilis-2 {
    padding: 13px 70px;
}

.h-50px {
    height: 50px;
}

.h-100px {
    height: 100px;
}

.note-editor.note-frame,
.card-header:first-child {
    border: 0;
}

.note-editor.note-frame .note-statusbar {
    display: none;
}

.compagne_detail_left {
    overflow-wrap: break-word;
}

.crisp-client .crisp-6k5puw .crisp-4n0wrv .crisp-1lypk6 {
    left: 40px !important;
}

#crisp-chatbox a {
    display: none !important;
}

.caisse-block .tab-content .msg_content img {
    max-width: 100%;
}

.caisse_settings {
    min-height: 100vh;
}

.caisse-block {
    min-height: 100vh;
}

.logo-caise {
    max-width: 100px;
}

.logosend img {
    position: absolute;
    bottom: 15px;
    width: 25px;
    left: 0;
}

.alert-send {
    margin-left: 15px;
}

.logorequest {
    position: absolute;
    right: 0;
    width: 25px;
    bottom: 15px;
}

.alert-request {
    margin-right: 15px;
}

.lien-top li p {
    height: 24px;
}

.isi-navbar-brand #nav-tab {
    display: block;
    margin: 0 auto;
    width: 75%;
    text-align: center;
}

.isi-navbar-brand .nav-tabs .nav-link {
    width: 33.333333%;
    float: left;
}

.isi-tab-content .no_content {
    padding: 50px;
    text-align: center;
    width: 100%;
}

.no_content a {
    background: #73a0ca;
    color: #fff;
    padding: 15px 25px;
    display: inline-block;
}

.no_content a:hover {
    background: #fff;
    color: #73a0ca;
}

.alert-send .logosend img {
    left: -30px;
    bottom: 0;
}

.alert-request .logosend img {
    left: initial;
    right: -30px;
    bottom: 0;
}

.note-editable.card-block {
    height: 200px;
}

.btn-ok-sm {
    padding: 10px 15px !important;
    font-size: 14px !important;
    width: 250px !important;
    text-align: center;
}

.btn-global {
    background: #73A0CA !important;
    border: #73A0CA !important;
}