@media only screen and (max-width: 1200px) {
    .isi-navbar-brand #nav-tab {
        width: 100%;
    }
}

@media only screen and (max-width: 991px) {
    .isi-navbar-brand .container {
        max-width: 100%;
    }
}

@media only screen and (max-width: 767px) {
    .caise:first-child {
        margin-left: 0;
    }

    .caise {
        max-width: 100%;
    }

    .caise:first-child .caisse-img,
    .caise .caisse-img {
        text-align: center;
    }

    .aide {
        left: 10px;
        bottom: 0px;
    }

    .caisse-description {
        width: inherit;
    }

    #form-search .form-row {
        margin-left: 0;
    }

    .compagne_detail_right,
    .compagne_detail_left {
        max-width: 100%;
        margin-left: 0;
    }

    .btn-detail {

    }

    .menu-right-caise {
        border: 0;
    }

    .bloc-left-caise {
        padding-left: 15px;
    }

    .isi-navbar-brand .nav-tabs .nav-link.active {
        background: #73A0CA;
        color: #fff;
    }

    .isi-navbar-brand .nav-tabs .nav-link {
        width: calc(33.33333% - 10px);
        float: left;
        margin-right: 10px;
        font-size: 16px;
        padding: 10px 10px;
        text-align: center;
    }

    .isi-tab-content {
        max-width: 100%;
    }

    .isi-tab-content .list-group-item {
        background: #EEEEEE;
        margin-bottom: 20px;
    }

    .count_notif {
        left: initial;
        right: 12px;
    }

    .menu-mobile {
        position: fixed;
        background: #fff;
        padding: 0px 0px 15px 0px;
        width: 260px;
        box-shadow: 0 0 10px rgba(51, 51, 51, 0.38);
        height: 100%;
        right: -260px;
        top: 0;
        -webkit-transition: all;
        -o-transition: all;
        transition: all;
        -webkit-transition-duration: 300ms;
        transition-duration: 300ms;
        z-index: 5;
        opacity: 0;
        filter: alpha(opacity=0);
        height: 100vh;
        overflow-y: scroll;
    }

    .menu-mobile.toggled {
        right: 0;
        opacity: 1;
        filter: alpha(opacity=100);
    }

    .menu-black.menu-black-left {
        position: fixed;
        background: #fff;
        padding: 0px 0px 15px 0px;
        width: 260px;
        background: #232323;
        box-shadow: 0 0 10px rgba(51, 51, 51, 0.38);
        height: 100%;
        left: -260px;
        top: 0;
        -webkit-transition: all;
        -o-transition: all;
        transition: all;
        -webkit-transition-duration: 300ms;
        transition-duration: 300ms;
        z-index: 5;
        opacity: 0;
        filter: alpha(opacity=0);
        height: 100vh;
        overflow-y: scroll;
    }

    .menu-black.menu-black-left.toggled {
        left: 0;
        opacity: 1;
        filter: alpha(opacity=100);
    }

    .lien-top {
        background: transparent;
    }

    .lien-top .form-control {
        font-size: 14px;
        height: 40px;
    }
}

@media only screen and (max-width: 576px) {
    .agence-menu-parametre .menu-top li a {
        font-size: 12px;
        float: left;
    }

    .agence-menu-parametre .menu-top li a i {
        font-size: 14px;
    }

    .agence-menu-parametre .dropdown .caise-name-top {
        margin-left: 10px;
        font-size: 12px;
    }

    .agence-menu-parametre .menu-top li {
        padding: 0px 5px 0 5px;
    }
}

@media only screen and (max-width: 414px) {
    .btn-detail, .btn-ok, .default-form .btn-ok {
        font-size: 18px;
        padding: 20px 3px;
        background: #73A0CA;
        border-radius: 18px;
        width: 100%;
        margin: 12px auto;
        color: #fff;
    }

    .text-center-xs {
        text-align: center !important;
    }
}