{% extends "base_back.html.twig" %}
    
{% block title %}Projet ISILIS {% endblock %}
    
{% block stylesheets %}
    <link href="{{ asset('theme/vendor/datepicker/css/jquery-ui.min.css') }}" rel="stylesheet">
{% endblock %}
    
{% block body %}
    {% set count_opt = 0 %}
    {% for opt in operations %}
        {% set count_opt = count_opt + opt.operation_data|length %}
    {% endfor %}

    {% set count_campaign = 0 %}
    {% for campaign in campaigns %}
        {% set count_campaign = count_campaign + campaign.campaign_data|length %}
    {% endfor %}

    {% set count_caisse = 0 %}
    {% for caisse in caisses %}
        {% set count_caisse = count_caisse + caisse.caisse_data|length %}
    {% endfor %}

    <div class="row-filter">
        {{ render(controller('BackBundle:Default:filterForm',{ 'request':app.request})) }}
    </div>
    <div class="contenu1">
        <div class="row">
            <div class="col-lg-6 statistique col-12 nocsssatistique">
                <div class="bg-white h-100 pb-4">
                    <h1>OPÉRATIONS ACTIVES</h1>
                    <hr>
                    {% set count_active = 0 %}
                    <ul style="list-style: none;">
                        {% for bank in ordred_operation %}
                            {% if count_active < 10 %}
                                {% set count_active = count_active + 1 %}
                                <li><img src="{{ asset('uploads/icones/'~bank.bank_data.icon) }}"
                                         class="rounded-circle mr-2" width="40px"
                                         height="40px"><b>{{ bank.bank_data.name }}</b></li>
                                <span class="ml-3 mt-2 font-size-18 w-100 float-left">{{ bank.caisse_data.name }}</span>
                                <ul style="list-style: none;">
                                    {% for opt in bank.opt_data %}
                                        {% if count_active < 10 %}
                                            {% set count_active = count_active + 1 %}
                                            <li class="ml-3">
                                                 {{ opt.name }} <span
                                                        class="font-weight-bold">{{ opt.creatAt|date('d-m-Y') }}</span></li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        {% endfor %}
                    </ul>
                    <a class="historique"
                       href="{{ path('operation_commandees_show') }}?startdate={{ dates.startdate }}&enddate={{ dates.enddate }}&status=active">+
                        Historiques des opérations commandés</a>
                </div>
            </div>

            <div class="col-lg-6 statistique col-12 nocsssatistique">
                <div class="bg-white h-100 pb-4">
                    <h1>OPÉRATIONS TERMINÉES</h1>
                    <hr>
                    {% set count_active = 0 %}
                    <ul style="list-style: none;">
                        {% for bank in done_ordred_operation %}
                            {% if count_active < 10 %}
                                {% set count_active = count_active + 1 %}
                                <li><img src="{{ asset('uploads/icones/'~bank.bank_data.icon) }}"
                                         class="rounded-circle mr-2" width="40px"
                                         height="40px"><b>{{ bank.bank_data.name }}</b></li>
                                <span class="ml-3 mt-2 font-size-18 w-100 float-left">{{ bank.caisse_data.name }}</span>
                                <ul style="list-style: none;">
                                    {% for opt in bank.opt_data %}
                                        {% if count_active < 10 %}
                                            {% set count_active = count_active + 1 %}
                                            <li class="ml-3">{{ opt.name }} <span
                                                        class="font-weight-bold">{{ opt.creatAt|date('d-m-Y') }}</span>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        {% endfor %}
                    </ul>
                    <a class="historique"
                       href="{{ path('operation_commandees_show') }}?startdate={{ dates.startdate }}&enddate={{ dates.enddate }}&status=done">+
                        Historiques des opérations commandées</a>
                </div>
            </div>


        </div>
        <div class="row">
            <div class="col-12 statistique col-lg-6 nocsssatistique">
                <div class="bg-white h-100 pb-4">
                    <h1>STATISTIQUES</h1>
                    <p>DU <span class="filter-date">MOIS</span></p>
                    <hr>
                    <h2><span style="color: #6DC4FF;">{{ banks|length }}</span> banques actives</h2>
                    <a href="{{ path('bank_show') }}?startdate={{ dates.startdate }}&enddate={{ dates.enddate }}">+ voir
                        détail</a>
                    <h2><span style="color: #6DC4FF;">{{ count_caisse }}</span> caisses régionales actives</h2>
                    <a href="{{ path('caisse_show') }}?startdate={{ dates.startdate }}&enddate={{ dates.enddate }}">+
                        voir détail</a>
                    <h2><span style="color: #6DC4FF;">{{ count_campaign }}</span> campagnes créées</h2>
                    <a href="{{ path('campaign_show') }}?startdate={{ dates.startdate }}&enddate={{ dates.enddate }}">+
                        voir détail</a>
                    <h2><span style="color: #6DC4FF;">{{ count_opt }}</span> opération créées</h2>
                    <a href="{{ path('operation_show') }}?startdate={{ dates.startdate }}&enddate={{ dates.enddate }}">+
                        voir détail</a>
                </div>
            </div>
            <div class="col-12 statistique col-lg-6 nocsssatistique">
                <div class="bg-white h-100 pb-4">
                    <h1>UTILISATEURS CONNECTÉS</h1>
                    <p>DU <span class="filter-date">MOIS</span></p>
                    <hr>
                    {% if users is not empty %}
                        <h2>
                            <span style="color: #6DC4FF;">{{ users.agence_data|length + users.caise_data|length }}</span>
                            connexions</h2>
                        <a href="{{ path('connection_history_show') }}?startdate={{ dates.startdate }}&enddate={{ dates.enddate }}">+
                            voir détail</a>
                        <h2><span style="color: #6DC4FF;">{{ users.caise_data|length }}</span> caisse(s) régionale(s)
                        </h2>
                        <a href="{{ path('caisse_history_show') }}?startdate={{ dates.startdate }}&enddate={{ dates.enddate }}">+
                            voir détail</a>
                        <h2><span style="color: #6DC4FF;">{{ users.agence_data|length }}</span> agence(s) de com</h2>
                        <a href="{{ path('agence_history_show') }}?startdate={{ dates.startdate }}&enddate={{ dates.enddate }}">+
                            voir détail</a>
                    {% endif %}
                </div>
            </div>
        </div>

    </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('theme/vendor/datepicker/js/jquery-ui.min.js') }}"></script>
    <script src="{{ asset('app/js/back/filter/filter.js') }}"></script>
    <script src="{{ asset('theme/vendor/datepicker/js/datepicker-fr.js') }}"></script>
    <script>
        $(document).ready(function () {
            $('#filter_form_startdate').on("change", function () {
                $('#filter_form_enddate').datepicker("option", "minDate", getfDate(this));
                console.log(getDate(this));
            });

            $('#backbundle_campaign_endDate').on("change", function () {
                $('#filter_form_enddate').datepicker("option", "maxDate", getfDate(this));
                console.log(getDate(this));
            });
        });
    </script>
{% endblock %}