    
{{ form_start(filter_form, { 'attr': {'class': 'form-inline form-filter'}, 'method':'POST' }) }}
<span class="title-filter"> <i class="fa fa-filter"></i> Filtrer :  </span>
<div class="form-group filter1">
    <div class="input-group date" data-provide="datepicker">
        <div class="input-group-addon">
            <span class="fa fa-calendar"></span>
        </div>
        {{ form_widget(filter_form.startdate, { 'attr': {'class': 'form-control startdate datepicker'}, }) }}
    </div> 
</div>
<div class="form-group">
    <div class="input-group date" data-provide="datepicker">
        <div class="input-group-addon">
            <span class="fa fa-calendar"></span>
        </div>
        {{ form_widget(filter_form.enddate, { 'attr': {'class': 'form-control datepicker enddate'} }) }}
    </div>
</div>
<div class="form-group">
    <button type="submit"><i class="fa fa-filter"></i> filtrer</button>
</div>
{{ form_rest(filter_form) }}
{{ form_end(filter_form) }}

