/***************************************************************/
/*                           1200                              */
/***************************************************************/

@media only screen and (max-width: 1200px) {
    li.parent-li a {
        font-size: 14px;
    }

    .lien-top li {
        padding: 5px 10px 0 10px;
    }

    .lien-top li.parent-li p i {
        font-size: 16px;
    }
}

/***************************************************************/
/*                           991                               */
/***************************************************************/

@media only screen and (max-width: 991px) {
    li.parent-li {
        padding: 0px 0px 0 10px;
    }

    li.parent-li a {
        font-size: 14px;
    }

    .lien-top li.parent-li p i {
        font-size: 16px;
    }
}

/***************************************************************/
/*                           767                               */
/***************************************************************/

@media only screen and (max-width: 767px) {
    .menu-black.menu-black-left {
        position: fixed;
        background: #232323;
        padding: 0px 0px 15px 0px;
        width: 260px;
        box-shadow: 0 0 10px rgba(51, 51, 51, 0.38);
        height: 100%;
        left: -260px;
        top: 0;
        -webkit-transition: all;
        -o-transition: all;
        transition: all;
        -webkit-transition-duration: 300ms;
        transition-duration: 300ms;
        z-index: 5;
        opacity: 0;
        filter: alpha(opacity=0);
        height: 100vh;
        overflow-y: scroll;
    }

    .menu-black.menu-black-left.toggled {
        left: 0;
        opacity: 1;
        filter: alpha(opacity=100);
    }

    .lien-top {
        background: transparent;
    }

    .lien-top .form-control {
        font-size: 14px;
        height: 40px;
    }

    .right-sidebar.toggled li,
    .right-sidebar.toggled li p {
        float: left;
    }

    .part-right .contenu form {
        padding: 0px 20px 39px;
    }

    .contenu .list-table {
        padding: 0px 15px 15px;
    }

    .menu-mobile {
        position: fixed;
        background: #232323;
        padding: 0px 0px 15px 0px;
        width: 260px;
        box-shadow: 0 0 10px rgba(51, 51, 51, 0.38);
        height: 100%;
        right: -260px;
        top: 0;
        -webkit-transition: all;
        -o-transition: all;
        transition: all;
        -webkit-transition-duration: 300ms;
        transition-duration: 300ms;
        z-index: 5;
        opacity: 0;
        filter: alpha(opacity=0);
        height: 100vh;
        overflow-y: scroll;
    }

    .menu-mobile.toggled {
        right: 0;
        opacity: 1;
        filter: alpha(opacity=100);
    }

    .part-right .contenu {
        padding: 0px 0px 30px 0px;
    }
}

/***************************************************************/
/*                           576                               */
/***************************************************************/

@media only screen and (max-width: 576px) {

}

/***************************************************************/
/*                           414                               */
/***************************************************************/

@media only screen and (max-width: 414px) {
    .part-right form .switch {
        left: 20px;

    }
}