@font-face {
    font-family: 'Roboto-Regular';
    src: url('../../fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto-Black';
    src: url('../../fonts/Roboto-Black.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url('../../fonts/Roboto-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'RobotoCondensed-Bold';
    src: url('../../fonts/RobotoCondensed-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto-Italic';
    src: url('../../fonts/Roboto-Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'RobotoCondensed-Light';
    src: url('../../fonts/RobotoCondensed-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'RobotoCondensed-Regular';
    src: url('../../fonts/RobotoCondensed-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto-Light';
    src: url('../../fonts/Roboto-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto-Medium';
    src: url('../../fonts/Roboto-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto-MediumItalic';
    src: url('../../fonts/Roboto-MediumItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto-Thin';
    src: url('../../fonts/Roboto-Thin.ttf') format('truetype');
}

.lien-top {
    margin: 0;
    margin-left: 50px;
    margin-right: 50px;
}

.menu-top li {
    /* float: left;
     display: inline-block;
     padding: 11px 15px 0 15px;*/
}

.logo-caise {
    margin-top: 6px;
    float: left;
}

.logo-text {
    float: right;
    border-bottom: 1px solid;
    border-bottom-width: 2px;
    font-family: Roboto-MediumItalic;
    text-transform: uppercase;
    color: #8B8B8B;
    font-size: 13px;
    letter-spacing: 0.5px;
    border-color: #E30613;
}

.logo-text-1 {
    font-family: Roboto-MediumItalic;
    text-transform: uppercase;
    color: #8B8B8B;
    font-size: 13px;
    text-align: left !important;
    letter-spacing: 0.5px;
}

.caisse-block {
    background-color: #F5F5F5;
}

.bloc-searsh {
    background: #EEEEEE;
    padding: 15px 0;
}

.result-bloc {
    padding: 21px 0;
}

.default-form .form-control {
    height: 50px !important;
    border-radius: 0 !important;
    color: #474747;
    font-family: RobotoCondensed-Regular;
    font-size: 16px;
}

.serch {
    padding-top: 15px;
    color: #474747;
    font-family: RobotoCondensed-Regular;
    font-size: 16px;
}

@media (min-width: 1200px) {

}

.bloc-searsh .container {
    padding-left: 0;
    padding-right: 5px;
}

.caisse-img {
    padding: 0;
    overflow: hidden;
}

.caisse-description {
    padding: 13px 20px;
    width: 394px;
    background: #fff;
}

.caise {
    margin-bottom: 19px;
}

.caisse-description h3 {
    font-family: RobotoCondensed-Regular;
    font-size: 20px;
    color: #474747;
}

.descriptif {
    font-family: RobotoCondensed-Regular;
    font-size: 14px;
    color: #474747;
}

.caise-name-top {
    color: #474747;
    margin-left: 38px;
    font-size: 16px;
    font-family: RobotoCondensed-Regular;
}

.caise-name-top:after {
    content: "\f0d7";
    font-family: FontAwesome;
    margin-left: 5px;
    font-size: 16px;
}

.aide {
    background: #fff;
    border-radius: 35px;
    width: 180px;
    position: fixed;
    left: 88px;
    bottom: 64px;
    color: #8B8B8B;
    font-size: 15px;
    font-family: RobotoCondensed-Regular;
    /* height: 47px; */
    padding: 11px 18px;
    text-align: center;
}

.aide p {
    margin: 0;
}

.question:before {
    content: "\f059";
    font-family: FontAwesome;
    color: #8B8B8B;
    font-size: 15px;
    margin-right: 10px;
}

.container-1 {
    width: 100%;
}

i.fa.fa-circle.blue {
    color: #73A0CA;
}

.btn-detail {
    background-color: #73A0CA !important;
    border-radius: 25px;
    border: 1px solid #73A0CA !important;
    margin-top: 40px;
}

.bloc-detail {
    background: #38383A;
    color: #ffff;
    padding: 20px 0;
    margin: 20px 0;
}

.modal-content {
    background-color: #EEEEEE !important;
    border-radius: 0;
}

.modal-body .form-group .form-control {
    border-radius: 0;
    border: 0 !important;
    font-size: 18px;
    padding: 14px;
}

.btn-ok {
    background: #73A0CA !important;
    border: #73A0CA !important;
    width: 390px;
    border-radius: 35px;
    cursor: pointer;
    padding: 21px 43px;
    margin-bottom: 20px;
    font-size: 20px;
}

.datepickerbtn {
    border-radius: 0;
    border: 0;
}

.modal-title {
    margin-bottom: 0;
    line-height: 1.5;
    font-size: 25px;
    color: #474747;
}

.caise-title {
    font-size: 25px;
    color: #474747;
    font-family: RobotoCondensed-Regular;
    margin-bottom: 35px;
}

.caise-title-detail {
    font-size: 20px;
    color: #fff;
    font-family: RobotoCondensed-Regular;
    margin-bottom: 35px;
    margin-top: 40px;
}

.caise-title-detail1 {
    font-size: 25px;
    color: #fff;
    font-family: RobotoCondensed-Regular;
    margin-bottom: 35px;
}

.etat {
    font-size: 18px;
    color: #fff;
    font-family: RobotoCondensed-Regular;
}

.detail-right {
    padding: 0 20px !important;
}

.info {
    background: #F5F5F5;
    padding: 20px 0;
}

.default-form .btn-ok {
    margin-top: 20px;
    width: 100%;
    color: #fff;
    font-size: 20px;
}

.form-right {
    margin-right: 25px;
}

.list-info {
    list-style: none;
}

.list-info li a {
    color: #474747;
    font-size: 20px;
    font-family: RobotoCondensed-Regular;
    padding: 8px 0;
}

.menu-right-caise {
    border-right: 1px solid #73A0CA;
    padding-right: 0;
    padding-left: 0;
}

.bloc-left-caise {
    padding-left: 65px;
}

.list-info li {
    padding: 8px 10px;
}

.text-small {
    font-size: 18px;
    font-family: RobotoCondensed-Regular;
    color: #474747;
}

ul.split-list {
    list-style: none;
}

.colaborator-name {
    width: 290px;
    background: #fff;
    padding: 0px 15px;
}

.colaborator-eye {
    width: 77px;
    text-align: center;
    background: #fff;
    padding: 0px 15px;
}

.colaborator-edit {
    /*width: 77px;*/
    text-align: center;
    background: #fff;
    padding: 26px 27px;
}

.colaborator-pause {
    /*width: 77px;*/
    text-align: center;
    background: #EBEBEB;
    padding: 26px 27px;
    color: #000;
}

.colaborator-time {
    /*width: 77px;*/
    text-align: center;
    background: #FF3B3B;
    padding: 26px 27px;
}

.colaborator-eye a, .colaborator-edit a, .colaborator-pause a {
    color: #000000;
}

.colaborator-name a {
    color: #4B4B4B;
    font-size: 16px;
}

.colaborator-time a {
    color: #fff;
}

.colaborator-new {
    margin-top: 20px;
}

.colaborator-new span {
    padding-left: 20px;
    color: #4B4B4B;
}

.active {
    background: #73A0CA;
}

.bloc-detail:before {
    content: "\f0d8";
    font-family: FontAwesome;
    color: #38383A !important;
    position: absolute;
    right: 50%;
    top: -15px;
}

.form-adres {
    margin-left: 0 !important;
}

@media (max-width: 1095px ) {
    .lien-top {
        margin: 0 !important;
    }
}
.menu-right-caise .list-group > li:hover {
    background-color: #73A0CA;
}
.menu-right-caise .list-group > li:hover a {
    color: #fff;
}
.my-message.alert .text-right {
    color: #000;
    font-size: 12px;
    margin-bottom: 0;
}