@font-face {
    font-family: 'RobotoCondensed-Regular';
    src: url('../../fonts/RobotoCondensed-Regular.ttf');
}

@font-face {
    font-family: 'RobotoCondensed-Bold';
    src: url('../../fonts/RobotoCondensed-Bold.ttf');
}

@font-face {
    font-family: 'RobotoCondensed-Light';
    src: url('../../fonts/RobotoCondensed-Light.ttf');
}

body {
    font-family: 'RobotoCondensed-Light';
}

.global {
    margin-right: 0px;
    margin-left: 0px;
}

.menu-black {
    background: #232323;
    color: #fff;
    padding: 20px 0 11px 0px
}

.menu-black ul li {
    list-style: none
}

.menu-black .info {
    text-align: center;
    font-size: 39px;
    margin-bottom: 22px;
}

body {
    color: #474747;
}

.menu-black .info i {
    padding: 5px 18px;;
    background: rgba(56, 54, 57, 1);
    background: -moz-linear-gradient(top, rgba(56, 54, 57, 1) 0%, rgba(39, 39, 41, 1) 42%, rgba(30, 30, 32, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(56, 54, 57, 1)), color-stop(42%, rgba(39, 39, 41, 1)), color-stop(100%, rgba(30, 30, 32, 1)));
    background: -webkit-linear-gradient(top, rgba(56, 54, 57, 1) 0%, rgba(39, 39, 41, 1) 42%, rgba(30, 30, 32, 1) 100%);
    background: -o-linear-gradient(top, rgba(56, 54, 57, 1) 0%, rgba(39, 39, 41, 1) 42%, rgba(30, 30, 32, 1) 100%);
    background: -ms-linear-gradient(top, rgba(56, 54, 57, 1) 0%, rgba(39, 39, 41, 1) 42%, rgba(30, 30, 32, 1) 100%);
    background: linear-gradient(to bottom, rgba(56, 54, 57, 1) 0%, rgba(39, 39, 41, 1) 42%, rgba(30, 30, 32, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#383639', endColorstr='#1e1e20', GradientType=0);
    border: 1px solid #39393a;
    border-radius: 3px
}

.menu-black a {
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
}

.menu-first-level {
    padding: 0 0 0 10px;
}

.main-menu > li {
    margin-top: 30px;
}

.menu-first-level > li {
    margin-bottom: 5px;
}

.main-menu {
    padding-left: 20px;
}

.menu-black a:hover, .menu-black a:focus {
    color: #76c7ff;
    text-decoration: none;
}

.menu-black .titre {
    font-family: "RobotoCondensed-Bold";
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    margin-top: 20px;
    font-weight: 700
}

.menu-black .nav-link {
    padding: 0.2rem 1rem;
}

.lien-top ul {
    float: right;
}

.lien-top li .dropdown-toggle::after {
    margin-left: 40%;
}

.lien-top li {
    float: right;
    list-style: none;
    padding: 11px 20px 0 20px;
}

.lien-top ul.dropdown-menu.dropdown-menu-right {
    transform: translate3d(-21px, 9px, 0px) !important;
    min-width: 170px;
    margin-left: 5% !important;
    top: 66px !important;
}

.lien-top ul.dropdown-menu-right li {
    padding: 5px;
    float: left
}

.lien-top li p {
    text-align: center;
    margin: 0 !important
}

.lien-top li p i {
    font-size: 24px;
}

.lien-top li a:hover, .lien-top li a:focus, .lien-top li a:active {
    color: #76c7ff !important;
    text-decoration: none;
}

.lien-top li a {
    color: #4f4f4f
}

.lien-top .form-control {
    font-family: "RobotoCondensed-Light";
    border: none !important;
    color: #474747;
    padding: 22px 29px 24px;
    font-size: 18px;
}

.lien-top form {
    padding-top: 14px;
}

.part-right {
    background: #f5f5f5;
}

.part-right form {
    padding: 0px 12px
}

.part-right form h3 {
    margin-bottom: 21px;
    margin-top: 48px;
    color: #474747;
    font-size: 20px;
    font-weight: 600;
}

.part-right form .switch {
    position: relative;
    display: inline-block;
    width: 68px;
    height: 27px;
    left: 50%;
}

.part-right form .slider {
    background-color: #8b8b8b;
}

.part-right form .slider:before {
    position: absolute;
    content: "";
    height: 23px;
    width: 23px;
    left: 4px;
    bottom: 2px;
}

.part-right form input:checked + .slider:before {
    -webkit-transform: translateX(38px);
    -ms-transform: translateX(38px);
    transform: translateX(38px);
}

.part-right form .input-group-append {
    position: absolute;
    right: 0;
}

.part-right form.form-filter .datepicker.hasDatepicker {
    margin-bottom: 0px;
}

.part-right form .datepicker.hasDatepicker {
    margin-bottom: 20px;
}

.part-right form .datepickerbtn {
    background: none !important;
    padding: 12px
}

.part-right form .input-group.mb-3 #backbundle_bank_file:hover {
    cursor: pointer

}

.part-right form .input-group.mb-3 span.input-group-text {
    border-radius: 0;
    background: #f5f5f5
}

.part-right form .input-group.mb-3 {
    margin-top: 19px

}

.part-right form input[type=file] {
    padding: 10px 0px
}

.part-right form input[type=submit] {
    background: none !important;
    border: 1px solid #c8c6c6;
    font-size: 22px;
    margin-top: 11px;
    margin-left: 20px;
}

.part-right form input[type=submit]:hover {
    cursor: pointer;
    color: #76c7ff;
    border: 1px solid #76c7ff;
}

.part-right form select {
    margin-bottom: 19px;
}

.part-right form select.form-control:not([size]):not([multiple]) {
    height: calc(49px + 2px);
}

.lien-top {
    background: #ffffff;
    padding: 6px 0px
}

.part-right .contenu {
    background: #fff;
    margin-top: 21px;
}

.part-right .contenu form {
    padding: 0px 66px 40px;
}

.part-right .contenu form.form-filter {
    padding: 0px 0px 20px;
    background: #f1f1f1;
}

.part-right .contenu .filter1 {
    margin-right: 10px
}

.part-right .contenu form.form-filter .input-group-addon {
    float: left;
    position: absolute;
    z-index: 4;
    padding: 6px 10px;
}

.part-right .contenu form.form-filter .title-filter {
    margin-right: 7px;
}

.part-right .contenu form.form-filter button fa {
    font-size: 13px;
}

.part-right .contenu form.form-filter button {
    font-size: 13px;
    border: 1px solid #c8c6c6;
    font-size: 16px;
    margin-top: 0;
    padding: 3px 16px;
    margin-left: 20px;
    background: none
}

.part-right .contenu form.form-filter button:hover {
    cursor: pointer;
    color: #76c7ff;
    border: 1px solid #76c7ff;
}

.part-right .contenu form.form-filter .title-filter fa {
    padding-right: 9px;
    font-size: 13px;
}

.part-right .contenu form.form-filter .form-control {
    background-color: #fff;
    width: 100%;
    padding: 6px 15px 5px 35px;
    font-size: 16px;
}

.part-right .contenu form .form-control-file {
    margin-top: 20px
}

.part-right .contenu .statistique {
    padding: 0px 0 48px 0;
    background: #fff;
    margin-bottom: 20px;
}

.part-right .contenu .contenu1 .statistique h1 {
    padding: 40px 0 0 40px;

}

.part-right .contenu .statistique p {
    padding: 0 0 0 40px;

}

.part-right .contenu .contenu1 .s1 {

    margin-left: 20px;
    margin-right: 20px
}

.part-right .contenu .contenu1 .s3 {
    margin-left: 20px;

}

.part-right .contenu .statistique a.historique {
    padding-left: 60px;
}

.part-right .contenu .statistique a {
    padding-left: 81px;
    color: #474747;
}

.part-right .contenu .statistique a:hover {
    color: #6DC4FF;
    text-decoration: none;
}

.part-right .contenu .statistique h2 span {
    padding-right: 12px
}

.part-right .contenu .statistique h2 {
    padding-left: 56px;
    font-family: 'RobotoCondensed-Regular';
    font-size: 20px;
    margin-top: 18px;
}

.part-right .contenu .statistique h1 {
    padding: 0px;

}

.part-right .contenu .contenu1 {
    background: #f1f1f1

}

.part-right .contenu form .add-vprint.btn.btn-default, .part-right .contenu form .add-vweb {
    width: 100%;
    text-align: left;
    background: #474747;
    padding: 12px;
    border-radius: 0;
    color: #fff;
}

.part-right .contenu form .add-vprint::after, .part-right .contenu form .add-vweb::after {
    content: ">";
    float: right;
    color: #fff;
    font-size: 16px
}

.part-right .contenu form .add-vprint::hover, .part-right .contenu form .add-vweb::hover {
    color: #007bff !important;
}

.part-right .contenu .form-control {
    font-family: 'RobotoCondensed-Regular';
    display: block;
    width: 100%;
    padding: 12px 30px;
    /*font-size: 20px;*/
    /*color: #495057;*/
    font-size: 18px;
    color: #474747;
    background-color: #f5f5f5;
    background-clip: padding-box;
    border: 0px solid #ced4da;
    border-radius: 0px;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.part-right .contenu .form-check-inline {
    padding: 17px 0px 18px;
    font-size: 16px;
}

.part-right .contenu .form-check-inline .form-check-input {
    margin-left: 16px;
}

.part-right .contenu .form-check-inline .form-check-input label {
    display: inline-block;
    margin-bottom: 0px;
    margin-right: 73px
}

.part-right .contenu textarea {
    height: 147px;
    padding-top: 25px !important;
}

.lien-top .fa-search {
    position: absolute;
    float: left;
    padding: 27px 0px;
    color: #858585;
    font-size: 18px;
}

.part-right .contenu h1 {
    font-size: 30px;
    font-family: 'RobotoCondensed-Regular';
    color: #474747;
    padding: 40px 0 0 40px;
    margin: 0;
}

.date {
    margin-bottom: 0px !important;
}

.alert {
    border-radius: 0;
    margin-top: 1rem;
}

.alert-send {
    background: #EBEBEB;
    width: 75%;
    float: left;
}

.alert-request {
    background: #73A0CA;
    width: 75%;
    float: right;
    color: #fff;
}

h4 a.titre-add {
    font-family: "RobotoCondensed-Regular";
    text-decoration: none;
    padding-left: 40px;
    color: #474747;
    font-size: 14px;
}

h4 a.titre-add:hover {
    color: #6DC4FF;
}

h2.title {
    font-family: "RobotoCondensed-Regular";
    font-size: 20px;
    padding-left: 60px;
    margin-bottom: 32px;
    margin-top: 50px;
}

h2.title1 {
    font-family: "RobotoCondensed-Regular";
    padding-left: 60px;
}

h2.title .img-circle {
    max-width: 50px;
}

.items {
    margin-left: 0px;
    font-family: "RobotoCondensed-Regular";
    font-size: 18px;
    margin-top: 32px;
}

.separator {
    height: 1px;
    background-color: #EEEEEE;
    width: 95%;
    display: block;
    clear: both;
    margin-left: -30px;
    margin-top: 15px;
}

.contenu .list-table {
    padding: 0px 66px 40px;
}

.contenu .list-table .row {
    background: #f5f5f5;
    padding: 12px 30px;
    margin-bottom: 20px;
}

part-right .dropdown-toggle::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 50% !important;
    vertical-align: middle !important;
}

.tree li:last-child:before {
    background: transparent !important;
}

.part-right .contenu {
    padding: 0px 30px 30px 20px;
}

.row_link a {
    color: #000;
    margin-left: 10px;
}

.right-sidebar {
    position: fixed;
    background: #fff;
    padding: 20px 5px 20px 36px;
    width: 307px;
    box-shadow: 0 0 10px rgba(51, 51, 51, 0.38);
    height: 100%;
    right: -300px;
    top: 0;
    -webkit-transition: all;
    -o-transition: all;
    transition: all;
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms;
    z-index: 5;
    opacity: 0;
    filter: alpha(opacity=0);
}

.right-sidebar.toggled {
    right: 0;
    opacity: 1;
    filter: alpha(opacity=100);
}

.menu-responsive {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.menu-responsive li {
    width: 100%;
    float: left;
    margin-bottom: 20px;
    position: relative;
}

.menu-responsive li a {
    font-size: 17px;
    color: #000;
}

.menu-responsive li a i {
    margin-right: 17px;
}

.menu-responsive .logo-caise {
    width: 200px;
    height: 100%;
}

.menu-xs-close {
    float: right;
    color: #000;
    font-size: 30px !important;
}

.menu-responsive .question:before {
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 18px;
    color: #000000;
}

#backbundle_campaign_modeTrans label {
    margin-right: 25px;
}

#backbundle_campaign_modeTrans input, #backbundle_operation_modeTrans input {
    margin-right: 10px;
}

.part-right .contenu form {
    background: #fff;
}

.btn-new {
    border: 0 !important;
}

.btn-new:focus, .btn-new:active {
    box-shadow: none;
    outline: 0;
    border: 0;
}

.part-right .contenu .form-control {
    padding: 12px 6px;
    font-size: 18px;
}

.part-right .contenu .form-control:focus {
    box-shadow: none;
    outline: 0;
    border: 0;
}

.m-l-30 {
    margin-left: 30px;
}

.group-link a {
    text-decoration: none;
    color: #000;
    font-size: 12px;
    margin-left: 10px;
}

.group-link a:hover,
.group-link a:focus {
    text-decoration: none;
    color: #000;
}

.menu-first-level li.active a {
    color: #6DC4FF;
}

.wait {
    /* display: none; */
    position: fixed;
    z-index: 2000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    opacity: .6;
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
}

.loader:before, .loader:after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 2px solid transparent;
    border-top-color: #232325;
}

.loader:before {
    z-index: 100;
    animation: spin 1s infinite;
}

.loader:after {
    border: 2px solid #ccc;
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.msg-body-content {
    overflow-y: auto;
    max-height: 430px;
    overflow-x: hidden;
}

.title-msg {
    font-size: 14px;
}

.img-profil img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

#modal-msg .modal-dialog {
    max-width: 1000px;
}

/* width */
.msg-body-content::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.msg-body-content::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
.msg-body-content::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
.msg-body-content::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.msg-body-content, #agence-block {
    padding: 15px 40px 60px 40px;
}

#modal-msg .modal-content {
    border-radius: 0;
}

#agence-form input.form-control,
#caisse-form input.form-control {
    background: #EEEEEE;
}

#agence-form,
#caisse-form {
    padding: 10px 15px 0px;
}

#agence-form input.form-control:focus,
#caisse-form input.form-control:focus {
    box-shadow: none;
    border: 0;
}

.f-size-30 {
    font-size: 30px
}

.f-size-14 {
    font-size: 14px
}

.f-size-20 {
    font-size: 20px
}

.f-size-18 {
    font-size: 18px;
}

.crisp-client .crisp-6k5puw .crisp-4n0wrv .crisp-113f7m5 {
    display: none;
}

.custom-file-label::after {
    content: 'Parcourir' !important;
}

.visuel {
    margin-left: 36px;
}

form#caisse-form, #agence-form {
    position: absolute;
    bottom: 0px;
}

.lien-top .messagerie-dropdown {
    right: 0;
    left: initial !important;
}

.font-size-18 {
    font-size: 18px !important;
}

.font-size-20 {
    font-size: 20px !important;
}

#form-caisse.summernote-messenger, #form-agence.summernote-messenger {
    padding: 0px 0px 10px !important;
}
a.menu-xs-trigger {
    margin-top: 10px;
    float: left;
}
.btn-global {
    background: #73A0CA !important;
    border: #73A0CA !important;
}