{% extends "base_caisse_param.html.twig" %}
    
{% block title %}Projet ISILIS {% endblock %}
    
{% block stylesheets %}
    <link href="{{ asset('app/css/caisse/media/index.css') }}" rel="stylesheet">
{% endblock %}
    
{% block body %}
    <div>
        <h2 class="caise-title">Médias</h2>

        <h2 class="caise-title">Medias digitaux</h2>
        <p class="text-small">
            Vous souhaitez que l'agence de com mettre à votre disposition les fichiers digitaux suivants :
        </p>
        <ul class="split-list row">
            {% for media in caisse.visualWebs %}
                <li class="col-md-4">
                    {{ media.type }} - {{ media.largeur }}X{{ media.hauteur }}
                    <a href="{{ path('caisse_media_web_delete', {'id':media.id}) }}"><i class="fa fa-times red"></i></a>
                </li>
            {% endfor %}
        </ul>
        <a href="{{ path('caisse_media_web_new') }}"
           class="btn btn-sm btn-primary btn-circle btn-ok btn-ok-sm d-none d-md-block"
           data-toggle="modal" data-target="#modal">
            AJOUTER UN NOUVEAU FORMAT DIGITAL
        </a>
        <a href="{{ path('caisse_media_web_new') }}"
           class="btn btn-sm btn-primary btn-circle btn-ok btn-ok-sm d-block d-md-none"
           data-toggle="modal" data-target="#modal">
            AJOUTER UN FORMAT DIGITAL
        </a>
        <div class="float-left w-100">
            <h2 class="caise-title float-left w-100">Medias print</h2>
            <p class="text-small">
                Vous souhaitez que l'agence de com mettre à votre disposition les fichiers digitaux suivants :
            </p>
            <ul class="split-list row">
                {% for media in caisse.visualPrints %}
                    <li class="col-md-4">
                        {{ media.type }} - {{ media.largeur }}X{{ media.hauteur }}
                        <a href="{{ path('caisse_media_print_delete', {'id':media.id}) }}"><i
                                    class="fa fa-times red"></i></a>
                    </li>
                {% endfor %}
            </ul>
            <div class="col text-xl-center p-0">
                <a href="{{ path('caisse_media_print_new') }}"
                   class="btn btn-sm btn-primary btn-circle btn-ok btn-ok-sm d-none d-md-block" data-remote="false"
                   data-toggle="modal" data-target="#modal">
                    AJOUTER UN NOUVEAU FORMAT PRINT
                </a>
                <a href="{{ path('caisse_media_print_new') }}"
                   class="btn btn-sm btn-primary btn-circle btn-ok btn-ok-sm d-block d-md-none" data-remote="false"
                   data-toggle="modal" data-target="#modal">
                    AJOUTER UN FORMAT PRINT
                </a>
            </div>
        </div>
    </div>
    <div class="modal" tabindex="-1" role="dialog" id="modal"></div>
{% endblock %}
    
{% block javascripts %}
    <script src="{{ asset('app/js/caisse/media/index.js') }}"></script>
{% endblock %}