<!DOCTYPE html>
<html>
<head>
</head>
<body>
<div class="modal-dialog" role="document">
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Nouveau format digital</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span>&times;</span>
            </button>
        </div>
        <form id="form-media" method="post" action="{{ path('caisse_media_print_new') }}">
            <div class="modal-body">
                <div class="form-group">
                    <div class="col"> {{ form_widget(form.type, {'attr':{'class':'form-control',
                            'placeholder': 'Format du document'}}) }}</div>
                </div>
                <div class="form-inline">
                    <div class="col-12 col-md-4 form-group float-left">
                        {{ form_widget(form.largeur, {'attr':{'class':'form-control w-100','placeholder': 'Largeur'}}) }}
                    </div>
                    <div class="col-12 col-md-4 form-group float-left">
                        {{ form_widget(form.hauteur, {'attr':{'class':'form-control w-100', 'placeholder': 'Hauteur'}}) }}
                    </div>
                    <div class="col-12 col-md-4 form-group float-left">
                        {{ form_widget(form.unite, {'attr':{'class':'form-control w-100','placeholder': 'Unité'}}) }}
                    </div>
                </div>
                {{ form_rest(form) }}
            </div>
            <div class="modal-footer">
                <div class="col-sm-3 text-center">
                    <button id="btn-submit" type="submit" class="btn btn-success btn-global">Ajouter</button>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>
